<div class="form-group">
      		<div class="input-group mb-3">
        	 <input name="ac_number" type="text" class="form-control" placeholder="Account Number" required  >
		<div style="

   color: red;
  
   display: inline-block;
   margin-left: 23px;
   position: absolute;
   margin-top: 38px;
   "></div>
     	  	 </div>
    	  </div>

