<div class="form-group">
    <div class="input-group mb-3">
        <select name="ac_type" class="form-control">
            <option value="Current">Current</option>
            <option value="Savings">Savings</option>
        </select>
        <div class="input-error"></div>
    </div>
</div>

