<div class="form-group">
    <div class="input-group mb-3">
        <input name="bank_name" type="text" class="form-control" placeholder="Bank Name" required>
        <div class="input-error"></div>
    </div>
</div>

