<div class="form-group">
    <div class="input-group mb-3">
        <input name="branch" type="text" class="form-control" placeholder="Branch Name" required  >
        <div class="input-error"></div>
    </div>
</div>

