<div class="form-group" >
    <div class="input-group mb-3">
        <input name="gst_number" type="text" class="form-control" placeholder="GST Number"  >
        <div class="input-error"></div>
    </div>
</div>