<div class="row">
    {% comment %}
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <div class="form-group">
            <div class="input-group mb-3">
                <input value=""
                       name="any_condition" type="text" id='any_condition_id'
                       class="form-control locality administrative_area_level_3" placeholder="Any Condition">
                <div class="input-error alert alert-danger"></div>
            </div>
        </div>
    </div>
    {% endcomment %}
    <div class="form-group col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <label for="any_condition_id">
            Any Condition:
        </label>
        <textarea name="any_condition" class="form-control" id="any_condition_id"></textarea>
    </div>
</div>