{% comment %}
<div class="row">
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <div class="form-group">
            <div class="input-group mb-3">
                <input name="counter" type="checkbox" id='counter_id' placeholder="counter">
                <div class="input-error alert alert-danger"></div>
            </div>
        </div>
    </div>
</div>
{% endcomment %}
{% comment %}
<div class="col-md-6">
    <p>Counter</p>
    <div class="btn-group mb-30 mt-10" data-toggle="buttons">
        <label class="btn btn-primary active toggle-pair">
            <input type="radio" name="counter" id="pub" class='type1' value=true style="margin-right:19px" checked>
            Yes
        </label>
        <label class="btn btn-primary toggle-pair">
            <input type="radio" name="counter" class='type1' id="pri" value=false> No
        </label>
    </div>
</div>
{% endcomment %}
<div class="row" style="margin-bottom: 1em">
    <label for="id_parking_space"
           style="margin-left: 1em; margin-top: 1em; margin-right: 1em">
        Counter
    </label>
    <input data-size="small"
           id="id_counter"
           name="counter"
           type="checkbox" data-on="Yes"
           data-off="No"
           data-toggle="toggle">
</div>