<div class="row">
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <div class="form-group">
            <div class="input-group mb-3">
                <input name="half_stall_price" type="number" id='half_stall_price_id' class="form-control locality administrative_area_level_3" placeholder="Half Stall Price">
                <div class="input-error alert alert-danger"></div>
            </div>
        </div>
    </div>
</div>