<div class="row">
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <div class="form-group">
            <div class="input-group mb-3">
                <input name="number_of_chairs" type="number" id='number_of_chairs_id' class="form-control locality administrative_area_level_3" placeholder="Number of Chairs">
                <div class="input-error alert alert-danger"></div>
            </div>
        </div>
    </div>
</div>