    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <div class="form-group">
            <div class="input-group mb-3">
                <input name="pincode" id="postal_code" type="text" class="form-control postal_code" placeholder="ZIP Code*" readonly>
                <div class="input-error alert alert-danger"></div>
            </div>
        </div>
    </div>
</div></div>
    <div class="col-md-6">
        <div id="map" ></div>
    </div>
    </div>
