<div class="row">
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <div class="form-group">
            <div class="input-group mb-3">
                <input name="size_in_meters" type="text" id='size_id' class="form-control locality administrative_area_level_3" placeholder="Size in meters">
                <div class="input-error alert alert-danger"></div>
            </div>
        </div>
    </div>
</div>