<div class="row">
    <div class="col-md-12">
        <div class="form-group">

            <div class="input-group mb-3">
                <input name="stall_name" id="stall_name" type="text" class="form-control street_number route sublocality_level_2" placeholder="Stall Name" autocomplete="off" data-toggle="tooltip" title="Stall name">
                <div class="input-error alert alert-danger"></div>
            </div>
        </div>
    </div>
</div>
