<div class="row">
	<div class="col-md-6">
		<div class="form-group">
        	<div class="input-group mb-3">
            	<input name="booking_start_date" type="text" class="form-control" id="datepicker" placeholder="Start Date*" readonly>
				<div class="input-error alert alert-danger"></div>
			</div>
		</div>
	</div>
</div>