<div class="col-md-6">
    <div class="form-group">
        <div class="input-group mb-3">
            <input name="start_time" id="timepicker" class="input-small form-control" placeholder="Start Time*" type="text">
            <div class="input-error alert alert-danger"></div>
        </div>
    </div>
</div>
</div>
