<div class="row">
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="input-group mb-3">
                        <input name="total_quantity" id="total_quantity_id" type="number" class="form-control neighborhood sublocality_level_1  administrative_area_level_4 administrative_area_level_2" placeholder="Total Quantity">
                        <div class="input-error alert alert-danger"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>