{% extends "dashboard/create_event.html" %}
{% load rest_framework %}
{% load static %}
{% block title %}Upload Images - Ercess Live{% endblock title %}

{% block step_three %}



    <section class="content">
        <div class="container arrow-steps clearfix">
            <div class="row heading">
                <div class="col-md-12 border-bottom-heading">
                    <h1 class="text-dark pb-20 pt-20">Upload Images</h1>


                </div>
            </div>
            <div class="row">

                <div class="col-md-12">
                    <div class="alert alert-info text-center mt-20">
                        <h4>Upload Stall files</h4>
                    </div>
                </div>
                {% if serializer_error %}
                    {% if serializer.errors %}
                        {% for key,value in serializer.errors.items %}
                            <div class="col-md-12">
                            <div class="alert alert-danger text-center">
                                <strong style="color: white">{{ key|title }} : {{ value.0 }}</strong>
                            </div></div>
                        {% endfor %}
                    {% endif %}
                {% endif %}
                <form action="{% url 'dashboard:stall_upload' event_id %}" enctype="multipart/form-data" method="POST"
                      id="msform1" class="col-md-12 mt-50 pb-50" autocomplete="off"> {% csrf_token %}
                    <fieldset>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <h3>image</h3>

                                <input id="img_id" class="form-control" type="file" name="img">

                            </div>

                            <div class="form-group col-md-6">
                                <h3>File</h3>

                                <input id="file_id" class="form-control" type="file" name="file" required>

                            </div>
                        </div>


                    </fieldset>
                    <button class="btn btn-default">submit</button>
                </form>
            </div>

        </div>
    </section>




{% endblock step_three %}
