<div class="row">
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="input-group mb-3">
                        <input name="address_line2" id="route" type="text" class="form-control neighborhood sublocality_level_1  administrative_area_level_4 administrative_area_level_2" placeholder="Address Line 2*" readonly>
                        <div class="input-error alert alert-danger"></div>
                    </div>
                </div>
            </div>
        </div>
