<div class="row">
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <div class="form-group">
            <div class="input-group mb-3">
                <input name="country" id="country" type="text" class="form-control country" placeholder="Country*" readonly>
                <div class="input-error alert alert-danger"></div>
            </div>
        </div>
    </div>
