<div class="row">
	<div class="col-md-6">
        <div class="form-group">
        	<div class="input-group mb-3">
            <input name="edate" class="form-control" id="enddatepicker" type="text" placeholder="End Date*">
            <div class="input-error alert alert-danger"></div>
            </div>
        </div>
    </div>
