<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			<div class="input-group mb-3">
				{% if event_name %}
				<input name="event_name" type="text" class="form-control" value="{{event_name}}" >
				<div class="input-error alert alert-danger"></div>
				{% else %}
				<input name="event_name" type="text" class="form-control" placeholder="Event Name*{{event_name}}">
				<div class="input-error alert alert-danger"></div>
				{% endif %}
			</div>
		</div>
	</div>
