    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <div class="form-group">
            <div class="input-group mb-3">
                <input name="state" type="text" id="administrative_area_level_1" class="form-control administrative_area_level_1" placeholder="State*" readonly>
                <div class="input-error alert alert-danger"></div>
            </div>
        </div>
    </div>
</div>
