{% extends "dashboard/create_event.html" %}
{% load rest_framework %}

{% block title %}Create your event - Ercess Live{% endblock title %}
{% block step_one %}

  <div id="showDuplicateError"></div>
  

<section class="content">
    <div class="container arrow-steps clearfix">
        <div class="row heading">
            <div class="col-md-12 border-bottom-heading">
                <h1 class="text-dark pb-20 pt-20">Create Facilities</h1>
                <!-- <div class="md-stepper-horizontal red">
                    <div class="md-step active">
                      <div class="md-step-circle"><span>1</span></div>
                      <div class="md-step-title">Basic details</div>
                      <div class="md-step-bar-left"></div>
                      <div class="md-step-bar-right"></div>
                    </div>
                    <div class="md-step">
                      <div class="md-step-circle"><span>2</span></div>
                      <div class="md-step-title">Set targets</div>
                      <div class="md-step-bar-left"></div>
                      <div class="md-step-bar-right"></div>
                    </div>
                    <div class="md-step">
                      <div class="md-step-circle"><span>3</span></div>
                      <div class="md-step-title">Upload images</div>
                      <div class="md-step-bar-left"></div>
                      <div class="md-step-bar-right"></div>
                    </div>
                    <div class="md-step">
                      <div class="md-step-circle"><span>4</span></div>
                      <div class="md-step-title">Description</div>
                      <div class="md-step-bar-left"></div>
                      <div class="md-step-bar-right"></div>
                    </div>
                    <div class="md-step">
                      <div class="md-step-circle"><span>5</span></div>
                      <div class="md-step-title">Add tickets</div>
                      <div class="md-step-bar-left"></div>
                      <div class="md-step-bar-right"></div>
                    </div>
                    <div class="md-step">
                      <div class="md-step-circle"><span>6</span></div>
                      <div class="md-step-title">Custom questions</div>
                      <div class="md-step-bar-left"></div>
                      <div class="md-step-bar-right"></div>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="row">
            {% if flag %}
              {% if serializer.errors %}
                {% for key,value in serializer.errors.items %}
                  <div class="alert alert-danger">
                     <strong style="color: white">{{ key|title }} : {{ value.0 }}</strong>
                  </div>
                {% endfor %}
              {% endif %}
            {% endif %}

            <form action="{% url 'dashboard:step_one' %}" method="POST" id="msform123" class="col-md-12 mt-20 pb-50" autocomplete="off">    {% csrf_token %}
                <fieldset>
                    {% render_form serializer template_pack='rest_framework/vertical' %}

                    <p>By clicking this button, you agree to our <a href="{% url 'dashboard:organizer-agreement' %}" target="_blank">legal business agreement</a>.</p>
                    <div class="text-center">
                        <a id="btn123" class="btn btn-danger mt-40">Create Event</a>
                        <!-- <button type="submit" id="btn123" class="btn btn-danger mt-40">Create Event</button> -->
                    </div>

                </fieldset>
            </form>
        </div>
    </div>

</section>
<script>


   // $('#id_venue_not_decided').change(function () {
   //    let venueVal = $('#id_venue_not_decided').val()
   //
   //    if(venueVal == 'false' || venueVal == false) {
   //      venueVal = true
   //    } else {
   //      venueVal = false
   //    }
   //
   //    $('#id_venue_not_decided').val(venueVal)
   // });
   //
   // custom required validation
   $.validator.addMethod("customRequired", function(elementVal, element) {
      let venueVal = false
      if(venueVal == 'false' || venueVal == false) {
        if(elementVal.trim() == '') {
          return false
        } else {
          return true
        }
      } else {
        return true
      }
    }, "This field is required");
   // ends here ~ custom required validation

    function convertInputtoDate(){
      var input = document.getElementById("datepicker").value;
      var date = input.split('/');
      var selectdate = new Date(date[2]+"-"+ date[1]+"-"+ date[0]);

      return selectdate;
    }

    // function for tomorrow date
     function tomorrow() {
       let today = new Date();
       let tomorrow = new Date();
       tomorrow.setDate(today.getDate() + 1);
       return tomorrow
    }
    // ends here ~ function for tomorrow date

    // function for get next day date
    function nextDayDate() {
       let today = convertInputtoDate();
       let tomorrow = new Date(convertInputtoDate());
       tomorrow.setDate(today.getDate() + 1);
       return tomorrow
    }
    // ends here ~ function for get next day date

     //startdate
     $('#datepicker').datepicker({
        format: 'dd/mm/yyyy',
        startDate: tomorrow()
    })

    $('#enddatepicker').datepicker({
    //  weekStart: 1,
         format: 'dd/mm/yyyy',
          startDate: tomorrow()
    })

//starttime
$('#timepicker').datetimepicker({
format: 'LT',

})

//endtime
$('#timepicker1').datetimepicker({
format: 'LT'

})

//custom-method-to compare start and end date
$.validator.addMethod("enddate", function(enddatevalue, element) {
var startdatevalue = $('#datepicker').val();
    var arrsdate = startdatevalue.split('/');
    var arredate = enddatevalue.split('/');
return new Date(arrsdate[2], arrsdate[1], arrsdate[0]) <= new Date(arredate[2],arredate[1],arredate[0]);
}, "End date can not be less than Start Date.");

//custom-method-to compare start and end time for same day event
$.validator.addMethod("endtime", function(endtimevalue, element) {
var startdatevalue = $('#datepicker').val();
var enddatevalue = $('#enddatepicker').val();

if(startdatevalue == enddatevalue){
    var temp = '01/01/1990'
    var starttimevalue = $('#timepicker').val();
    var st = new Date(temp + " " +starttimevalue).getTime();
    var et = new Date(temp + " " +endtimevalue).getTime();
    return et > st;
} else{
  return true;
}

}, "End Time can not be less than Start Time for same day event.");

$.validator.addMethod("web", function(webvalue, element) {
if(webvalue.length > 8){
    return true;
}
else{
    return false;
}

}, "Website link should start with https://");

function checkEventDuplicate() {
    let formObject = {}
    $("#msform123").serializeArray().map(function(x){formObject[x.name] = x.value;})
    let ajaxData = formObject
    // console.log(ajaxData)
    $.ajax({
        type: 'POST',
        url: "/live/dashboard/check-event-already-created",
        data: {'completeData':JSON.stringify(ajaxData)},
        dataType: "json",
        success: function(resp){
          let response = resp;
          if(response.responseType == 'success') {
              if(response.messageType == 'success') {
                $("#msform123").submit();
              } else if(response.messageType == 'error') {
                  $('#showDuplicateError').html(`<div class="alert alert-danger"><strong style="color: white"> ${response.message}</strong></div>`);
                  $('#showDuplicateError').show();
                  setTimeout(function() {
                      $("#showDuplicateError").hide('blind', {}, 500)
                  }, 10000);
              }
          }
      }
    });

}

$("#btn123").click(function ()
{

  form = $("#msform123");

  form.validate(
  {

    // errorElement: 'div',
    // errorClass: 'input-error alert alert-danger has_error',

    rules:
    {
      event_name:
      {
        required: true,
        minlength: 5,
        maxlength: 200,
        evtNameSpclValid: true,
        eventNameValidation: true,
        eventNameContValidation: true
      },
      website:
      {
        // web:true,
        required: true,
        url: true,
        maxlength: 500
      },
      sdate:
      {
        required: true,
      },
      edate:
      {
        required: true,
        enddate: true,
      },
      start_time:
      {
        required: true,
      },
      end_time:
      {
        required: true,
        endtime: true,
      },
      address_line1:
      {
        customRequired: true,
      },
      city:
      {
        customRequired: true,
      },
      state:
      {
        customRequired: true,
      },
      country:
      {
        customRequired: true,
      },
      pincode:
      {
        customRequired: true,
      },
    },
    highlight: function (element)
    {
      // add a class "has_error" to the element
      $(element).next('div').addClass('has_error');
    },
    unhighlight: function (element)
    {
      // remove the class "has_error" from the element
      $(element).next('div').removeClass('has_error');
    },
    messages:
    {
      event_name:
      {
        required: "Please enter name of your event",
        minlength: "Event name should have at least 5 characters"
      },
      website:
      {
        required: "Please enter website link",
      },
      sdate:
      {
        required: "Please select the Start Date of event",
      },
      edate:
      {
        required: "Please select the End Date of event",
        enddate: "End Date cannot be less than Start Date"
      },
      start_time:
      {
        required: "Please select the Start Time of event",
      },
      end_time:
      {
        required: "Please select the End Time of event",
        endtime: "End Time can not be less than Start Time for same day event"
      },
      address_line1:
      {
        required: "Please enter proper address of the event",
      }


    },
    success: function (error, element)
    {
      error.remove();
      $(element).next('div').removeClass('has_error');
      $(element).next('div').hide();
    },
    errorPlacement: function (error, element)
    {

      error.appendTo(element.next('div'));
      element.next('div').show();


    }

  });

  if(form.valid()) {
    checkEventDuplicate()
  }

});

//   $("#msform123").on('submit', function(e) {
//     $("#msform123").validate();
//     var isvalid = $("#msform123").valid();
//     if (isvalid) {
//         e.preventDefault();
//         alert(isvalid);
//     }
// });


// event name validation
$.validator.addMethod("eventNameValidation", function(eventNameVal, element) {
    return /^([a-zA-Z0-9]+\s)*[a-zA-Z0-9]+$/.test(eventNameVal)
}, "Remove unwanted blank spaces from the event name");
// ends here ~ event name validation

// event name sepcial character validation
$.validator.addMethod("evtNameSpclValid", function(eventNameVal, element) {
    if(/([!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?])/.test(eventNameVal)) {
      return false;
    } else {
      return true;
    }
}, "Special characters are not allowed in Event Name");
// ends here ~ event name sepcial character validation

// check contact details content
 var re_email = /(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))/;

var re_phn = /[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}/im;

var re_url = /((https?|ftp|smtp):\/\/)?(www.)?[a-z0-9]+(\.[a-z]{2,}){1,3}(#?\/?[a-zA-Z0-9#]+)*\/?(\?[a-zA-Z0-9-_]+=[a-zA-Z0-9-%]+&?)?/;

// contact details validation
$.validator.addMethod("eventNameContValidation", function(eventNameVal, element) {
    console.log(re_email.test(eventNameVal)|| re_phn.test(eventNameVal))
    let modifiedEventName = eventNameVal.trim().replace(/[^A-Z0-9,]/ig, "")
    if (re_email.test(eventNameVal)|| re_phn.test(modifiedEventName)|| re_url.test(eventNameVal)) {
      return false;
    } else {
      return true
    }
}, "Event Name should not contain any contact details");
// ends here ~ contact details validation

// ends here ~ check contact details content

</script>


{% endblock step_one %}
