    <div class="col-md-6">
        <div class="form-group">
            <div class="input-group mb-3">
                <input name="website" value="" id="website" class="input-small form-control" placeholder="Event page Official Link*" type="text">
                <div class="input-error alert alert-danger"></div>
            </div>
        </div>
    </div>
</div>
