{% extends "dashboard/create_event.html" %}
{% load rest_framework %}

{% block title %}Tell us more about your event - Ercess Live{% endblock title %}
{% block step_four %}
<section class="content">
    <div class="container arrow-steps clearfix">
      <div class="row heading">
          <div class="col-md-12 border-bottom-heading">
              <h2 class="text-dark mt-20">Add Event description</h2>
                  <!-- <div class="md-stepper-horizontal red">
                      <div class="md-step active done">
                        <div class="md-step-circle"><span>1</span></div>
                        <div class="md-step-title">Basic details</div>
                        <div class="md-step-bar-left"></div>
                        <div class="md-step-bar-right"></div>
                      </div>
                      <div class="md-step active done">
                        <div class="md-step-circle"><span>2</span></div>
                        <div class="md-step-title">Set targets</div>
                        <div class="md-step-bar-left"></div>
                        <div class="md-step-bar-right"></div>
                      </div>
                      <div class="md-step active done">
                        <div class="md-step-circle"><span>3</span></div>
                        <div class="md-step-title">Upload images</div>
                        <div class="md-step-bar-left"></div>
                        <div class="md-step-bar-right"></div>
                      </div>
                      <div class="md-step active">
                        <div class="md-step-circle"><span>4</span></div>
                        <div class="md-step-title">Description</div>
                        <div class="md-step-bar-left"></div>
                        <div class="md-step-bar-right"></div>
                      </div>
                      <div class="md-step">
                        <div class="md-step-circle"><span>5</span></div>
                        <div class="md-step-title">Add tickets</div>
                        <div class="md-step-bar-left"></div>
                        <div class="md-step-bar-right"></div>
                      </div>
                      <div class="md-step">
                        <div class="md-step-circle"><span>6</span></div>
                        <div class="md-step-title">Custom questions</div>
                        <div class="md-step-bar-left"></div>
                        <div class="md-step-bar-right"></div>
                      </div>
                  </div> -->
          </div>
        </div>
        <div class="row">

              <div class="col-md-10 offset-md-1 col-lg-10 offset-lg-1 mt-20 pb-50">

                  <form action="" method="POST" id="msform" autocomplete="off">    {% csrf_token %}

                      <fieldset>

                          <div name='editor'>
                              <!--label style='color: black; float:left; font-weight: bold' >Add Description: </label-->
                              {{ descform.media }}
                              {{ descform.description }}
                              {% if descform.errors %}
                              <ul>
                                {% for key,value in descform.errors.items %}
                                  <li>{{ key|escape }} : {{ value|escape }}</li>
                                {% endfor %}
                              </ul>
                              {% endif %}
                              <div class='input-error alert alert-danger'></div>
                              <div class="text-center">
                                <button type="submit" class="btn btn2 btn-danger btn-editor mt-50">Submit</button>
                              </div>
                          </div>
                      </fieldset>

                  </form>
              </div>
          </section>
      </div>
    </div>
<script>
$(".btn-editor").click(function(){
    var div = document.getElementsByClassName('input-error')[0];

    div.innerHTML= '';
    div.style.display = "none";

    var editorinstance = CKEDITOR.instances['id_description'];
    var htmldata = editorinstance.getData();

    var content = $(htmldata).text();



    if (content.length == 0 ){
        var div = document.getElementsByClassName('input-error')[0];
        div.innerHTML = 'This field is required.';
        div.style.display = "block";

        return false;
    }
    
    // required regex
    var re_email = /(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))/;
    var re_phn = /[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}/im;
    var re_email_02 = /(([^<>()\[\]\\.,;:\s\[at\]"]+(\.[^<>()\[\]\\.,;:\s\[at\]"]+)*)|(".+"))\[at\]((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))/;
    var re_url = /((https?|ftp|smtp):\/\/)?(www.)?[a-z0-9]+(\.[a-z]{2,}){1,3}(#?\/?[a-zA-Z0-9#]+)*\/?(\?[a-zA-Z0-9-_]+=[a-zA-Z0-9-%]+&?)?/;
    // ends here ~ required regex

    // change content for check validation
    // let contentValidation = content.trim().replace(/[^A-Z0-9,]/ig, "")
    let contentValidation = content.replace(/[^A-Z0-9,\n]/ig, "")
    let contentEmailValid_01 = content.replace(/ +?/g, '');
    // ends here ~ change content for check validation

    // check validation and show error
    if (re_email.test(contentEmailValid_01) || re_email_02.test(contentEmailValid_01)) {
        var div = document.getElementsByClassName('input-error')[0];
        div.innerHTML = 'Please remove email id from description';
        div.style.display = "block";
        return false;
    } else if (re_phn.test(contentValidation)) {
        var div = document.getElementsByClassName('input-error')[0];
        div.innerHTML = 'Please remove contact number from description';
        div.style.display = "block";
        return false;
    } else if (re_url.test(content)) {
        var div = document.getElementsByClassName('input-error')[0];
        div.innerHTML = 'Please remove website url from description';
        div.style.display = "block";
        return false;
    }

    if (content.length < 500 ){
        var div = document.getElementsByClassName('input-error')[0];
        div.innerHTML = 'Minimum 500 characters are required.';
        div.style.display = "block";
        return false;
    }
    // ends here ~ check validation and show error


    // var re_accno = {{ bank_regex1 }};
    // var re_ifsc = {{ bank_regex2 }};
    //
    // if (re_accno.test(content) || re_ifsc.test(content)){
    //     var div = document.getElementsByClassName('input-error')[0];
    //     div.innerHTML = 'Please remove email id, contact number, website address and bank details.';
    //     div.style.display = "block";
    //     return false;
    // }
})

</script>
{% endblock step_four %}
