{% extends 'dashboard/create_event.html' %}
{% load static %}
{% block title %} SMS Marketing {% endblock %}
{% block og_head %}


{% endblock og_head %}

{% block og %}

<section class="content">
   <div class="container arrow-steps clearfix">
      <div class="row heading">
         <div class="col-md-12 border-bottom-heading">
            <h2 class="text-dark page-heading">Contacts &amp; Scheduling</h2>
         </div>
      </div>
      <div class="row">
        <!-- div for form -->
        <div class="col-md-12" id="completeFormSmsMarketingDivId">
             <form id="sms-marketing-advance-form-id" class="col-md-12 mt-30 pb-50" autocomplete="off">
                <fieldset>

                  <div class="row">
                      <div class="col-md-12">
                         <div class="form-group">
                            <label>Event Name</label>
                            <div class="input-group mb-3">
                               <input  class="form-control" disabled="true" value="{{event_name}}" />
                            </div>
                         </div>
                      </div>
                    </div> 

                  <div class="row">
                      <div class="col-md-4">
                         <h3>The SMS will be sent to:</h3>
                         <div class="font-size-60">
                            {{contactCount}} <span class="font-size-30">People</span>
                         </div>
                       </div>
                       <!-- <div class="col-md-8">
                         <div class="form-group">
                            <a class="btn btn-danger pull-right" href="{% static 'provide_example_file/sms-marketing-dummy-file.csv' %}">Download Sample File</a>
                         </div>
                      </div> -->
                       <div class="col-md-12">
                         <div class="form-group mt-50">
                         <p class="font-size-30 mb-40">You want to add more numbers?</p>
                            <label>UPLOAD CSV FILE*</label>
                            <div class="input-group mb-3">
                              <input type="file" class="form-control" id="sms_contacts_id" name="sms_contacts" />
                               <div class="input-error alert alert-danger" id="fileSyncMsgDivId"></div>
                            </div>
                         </div>
                      </div>
                   </div>
                  
                   
                   <div class="text-center">
                      <a class="btn btn-danger" id="submitBtnSmsMarketingAdv">Submit</a>
                   </div>
                </fieldset>
             </form>

            <!-- form for scheduled date and time -->
            <!-- <form class="col-md-12 mt-20 pb-50" autocomplete="off"> -->

            <form id="sms-marketing-advance-form-id-scheduled" class="col-md-12 mt-20 pb-50" autocomplete="off">
                <fieldset>
                    <div class="row">
                      <div class="col-md-12">
                         <div class="form-group">
                            <label>Event Name</label>
                            <div class="input-group mb-3">
                               <input  class="form-control" disabled="true" value="{{event_name}}" />
                            </div>
                         </div>
                      </div>
                    </div> 
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Schedule Date</label>
                                <div class="input-group mb-3">
                                  <input type="text" name="scheduled_on_date" id="scheduled_on_date" class="form-control" placeholder="Schedule Date">
                                  <div class="input-error alert alert-danger"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Schedule Time</label>
                                <div class="input-group mb-3">
                                  <input type="text" name="scheduled_on_time" id="scheduled_on_time" class="form-control" placeholder="Schedule Time">
                                  <div class="input-error alert alert-danger"></div>                                  
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                      <a class="btn btn-danger" id="submitBtnSmsMarketingAdvSched">Submit</a>
                   </div>
                </fieldset>
            </form>
            <!-- ends here ~ form for scheduled date and time -->
        </div>
        <!-- ends here ~ div for form -->

        <!-- div for show success message -->
        <!-- <div class="col-md-12"> -->
        <div class="col-md-12" id="sms-marketing-msg-div">
            <div class="row">
              <div class="col-md-6">
                  <h2 class="mb-30"><small>Event Name:</small><br> <span> {{ event_name }} </span> </h2>

                  <h2 class="mb-30"><small>Scheduled on:</small><br> <span id="display_schedule_date_time_id"></span> </h2>
                  <h2 class="mb-30"><small>Number of contacts:</small><br> <span id="show_total_contact_count_id"></span> </h2>

                  <div class="alert alert-danger mt-50">In case of any change, talk to our customer support team before the execution of campaign.</div>
                </div>
                <div class="col-md-6 text-right">
                  <div class="relative">
                      <img src="https://carlisletheacarlisletheatre.org/images/phone-clip-art-blank-3.jpg" style="width: 220px;" />
                      <p class="text-left" style="position: absolute; top: 60px; width: 150px; right: 35px; background: #ccc;word-break: break-word;"><span id="final_template_msg"></span><br/><span id="final_template_url" style="color: blue;"></span> </p>

                  </div>
                </div>
            </div>
        </div>
        <!-- end here ~ div for show success message -->

      </div>
   </div>

</section>
<script type="text/javascript">
      // on load blank variable
      // let success_count = 0;
      // ends here ~ on load blank variable

      // on load values
      let eventEndDateStr = `{{event_end_date|date:'Y-m-d'}}`;
      let eventEndDateObj = new Date(eventEndDateStr)
      let eventEndDateMs = eventEndDateObj.getTime()
      let endEvent01DayBefore = new Date(eventEndDateMs-1*24*3600*1000)
      let endEvent10DayBefore = new Date(eventEndDateMs-10*24*3600*1000)
      // ends here ~ on load values

      let setScheduleStartDate = ''
      if (new Date(endEvent10DayBefore)>new Date()) {
          setScheduleStartDate = endEvent10DayBefore;
      } else {
          setScheduleStartDate = new Date();
      }

      $("#sms-marketing-advance-form-id-scheduled").hide();
      $("#sms-marketing-msg-div").hide();

      // date picker for scheduled_on sms
      $('#scheduled_on_date').datepicker({
        format: 'dd/mm/yyyy',
        startDate: setScheduleStartDate,
        endDate: endEvent01DayBefore,
      })
      // ends here ~ date picker for scheduled_on sms

      // time picker for scheduled_on sms
      $('#scheduled_on_time').datetimepicker({
        format: 'LT',
        stepping: 60,
        useCurrent: false,
        defaultDate:moment(new Date()).hours(9).minutes(0).seconds(0).milliseconds(0),
        minDate:moment(new Date()).hours(9).minutes(0).seconds(0).milliseconds(0),
        maxDate:moment(new Date()).hours(21).minutes(0).seconds(0).milliseconds(0),
      });
      // ends here ~ time picker for scheduled_on sms


    // custom validator for validate csv file field
    $.validator.addMethod("sms_contacts_csv_file", function(templateMsg, element) {
        let fileExtention = $('#sms_contacts_id').prop('files')[0].name;
        fileExtention = fileExtention.split('.');
        fileExtention = fileExtention[fileExtention.length-1];
        if(fileExtention != 'csv') {
           return false
        } else {
          return true
        }
    }, "Oops! only <b>.csv</b> extension is allowed");
    // ends here ~ custom validator for validate csv file field

    // function for validate form and call backend function via AJAX Post Request
    let form = $("#sms-marketing-advance-form-id");
    let globalFormObject = {};
    $("#submitBtnSmsMarketingAdv").click(function() {
        form.validate({
            rules: {
                sms_contacts: {
                    required: true,
                    sms_contacts_csv_file: true
                }
            },
            highlight: function(element) {
                // add a class "has_error" to the element
                $(element).next('div').addClass('has_error');
            },
            unhighlight: function(element) {
                // remove the class "has_error" from the element
                $(element).next('div').removeClass('has_error');
            },
            messages: {
                template_msg: {
                    required: "Please upload a CSV file",
                }
            },
            errorPlacement: function(error, element) {
                error.appendTo(element.next('div'));
                element.next('div').show();
            },
            success: function(error, element) {
                error.remove();
                $(element).next('div').removeClass('has_error');
                $(element).next('div').hide();
            }
        });

        if(form.valid()) {

          let fileData = $('#sms_contacts_id').prop('files')[0];   
          let formData = new FormData();                  
          formData.append('file', fileData);
          formData.append('event_id',{{event_id}});
          
          jQuery.ajax({
              type: "POST",
              contentType: false,
              processData: false,
              cache: false,
              data: formData,
              success: function (resp) {
                let respData = JSON.parse(resp);
                if (respData.responseType == "success") {
                    if(respData.messageType == "success") {
                        $("#sms-marketing-advance-form-id").hide();
                        $("#sms-marketing-advance-form-id-scheduled").show();
                        
                    } else if(respData.messageType == "error") {
                      $("#fileSyncMsgDivId").show();
                      $("#fileSyncMsgDivId").text(respData.message);
                    }
                }
              }
          });
        }
    })
    // ends here ~ function for validate form and call backend function via AJAX Post Request

    // function to validate and save scheduled date and time
    let formSched = $("#sms-marketing-advance-form-id-scheduled");
    $("#submitBtnSmsMarketingAdvSched").click(function() {
        formSched.validate({
            rules: {
                scheduled_on_date: {
                    required: true
                },
                scheduled_on_time: {
                    required: true
                }
            },
            highlight: function(element) {
                // add a class "has_error" to the element
                $(element).next('div').addClass('has_error');
            },
            unhighlight: function(element) {
                // remove the class "has_error" from the element
                $(element).next('div').removeClass('has_error');
            },
            messages: {
                scheduled_on_date: {
                    required: "This field is required"
                },
                scheduled_on_time: {
                    required: "This field is required"
                }
            },
            errorPlacement: function(error, element) {
                error.appendTo(element.next('div'));
                element.next('div').show();
            },
            success: function(error, element) {
                error.remove();
                $(element).next('div').removeClass('has_error');
                $(element).next('div').hide();
            }
        });

        if(formSched.valid()) {
          let formObject = {}
          $("#sms-marketing-advance-form-id-scheduled").serializeArray().map(function(x){formObject[x.name] = x.value;});
          formObject['event_id'] = {{event_id}};
          formObject['template_id'] = {{template_id}};
          

          let ajaxData = formObject;
          $.ajax({
              type: "POST",
              dataType: "json",
              url: "/live/dashboard/sms-marketing-schedule",
              data: JSON.stringify(ajaxData),
              success: function(response) {
                  if(response.responseType == 'success') {
                     if(response.messageType == 'success') {
                        $("#completeFormSmsMarketingDivId").hide();
                        $("#sms-marketing-advance-form-id-scheduled").hide();
                        $("#sms-marketing-msg-div").show();
                        $('.page-heading').html("Hold tight! Your campaign is scheduled.");
                        let ajaxData = response.data;
                        $("#display_schedule_date_time_id").text(ajaxData.date_time)
                        $("#final_template_msg").text(ajaxData.templateMsg)
                        $("#final_template_url").text(ajaxData.templateLink)
                        $("#show_total_contact_count_id").text(ajaxData.totalContactCount) 
                      }       
                  }
              }
          });
          
        }
    })
    // ends here ~ function to validate and save scheduled date and time
        
</script>
{% endblock og %}
