{% extends 'dashboard/create_event.html' %}
{% load static %}
{% block title %} SMS Marketing {% endblock %}
{% block og_head %}
 <style type="text/css">
  .customCheckbox input {
    position: relative;
    z-index: -9999;
  }
  .customCheckbox span {
    width: 20px;
    height: 20px;
    display: block;
    border: solid 2px;
    float: left;
    margin-right: 10px;
  }
  .customCheckbox input:checked + span {
    background: url('http://www.pngmart.com/files/3/Green-Tick-PNG-Picture.png');
    background-size: 15px 15px;
  }
  label.customCheckbox {
    display: unset; 
    margin-bottom: block;
  }
</style>
{% endblock og_head %}

{% block og %}

<section class="content">
   <div class="container arrow-steps clearfix">
      <div class="row heading">
         <div class="col-md-12 border-bottom-heading">
            <h2 class="text-dark">Create SMS Marketing Campaign</h2>
         </div>
      </div>
      <div class="row">
        <div class="col-md-8">
             <form id="sms-marketing-initial-form-id" class="col-md-12 mt-20 pb-50" autocomplete="off">
                <fieldset>
                   
                   <div class="row">
                      <div class="col-md-12">
                         <div class="form-group">
                            <label>Event Name</label>
                            <div class="input-group mb-3">
                               <input  class="form-control" disabled="true" value="{{event_name}}" />
                            </div>
                         </div>
                      </div>
                    </div> 

                   <div class="row">
                      <div class="col-md-12">
                         <div class="form-group">
                            <label>SMS Content*</label>
                            <div class="input-group mb-3">
                               <!-- <input name="event_name" type="text" class="form-control" placeholder="Event Name*"> -->

                               <textarea class="form-control" placeholder="SMS Content*" maxlength="125" rows="4" style="resize:none" name="template_msg">{{template_msg_data}}</textarea>
                               <div class="col-md-12" style="text-align: right;"><b>Total Count: </b>
                                 <span id="smsContentLengthCount"> 
                                      {% if template_msg_data == '' %}
                                          (0/125)
                                      {% else %}
                                          ({{ template_msg_data|length }}/125)
                                      {% endif %} 
                                  </span>
                                </div>
                               <div class="input-error alert alert-danger"></div>
                            </div>
                         </div>
                      </div>
                   </div>
                  
                   <div class="row">
                      <div class="col-md-12">
                         <div class="form-group">
                            <label>Ticket website link* <a href="{{short_ticket_url}}" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a></label>
                            <div class="input-group mb-3">
                               <input name="template_link" value="{{short_ticket_url}}" style="display: none;">
                               <input type="text" class="form-control" disabled="true" value="{{short_ticket_url}}">
                            </div>
                         </div>
                      </div>
                    </div>

                    
                    <div class="row">
                      <div class="col-md-12">
                         <div class="form-group">
                            
                            <!-- new checkbox with css -->
                            <label class="customCheckbox">
                              <input type="checkbox" name="is_standard" class="form-control"/>
                              <span></span>
                            </label>
                            <label>Make this a default template for my other events also</label>
                            <!-- ends here ~ new checkbox with css -->

                            <!-- old checkbox -->
                            <!-- <input type="checkbox" name="is_standard"> -->
                            <!-- <label>Make this a default template for my other events also</label> -->
                            <!-- ends here ~ new checkbox -->

                            
                         </div>
                      </div>
                    </div>
                  
                   
                   <div class="text-center">
                      <a class="btn btn-danger" id="submitBtnSmsMarketing">Submit</a>
                   </div>
                </fieldset>
             </form>
        </div>
        <!-- ends here ~ div for form -->

        <!-- div for show preview -->
        <div class="col-md-4">
            <form id="sms-marketing-initial-form-id" class="col-md-12 mt-20 pb-50" autocomplete="off">
                <fieldset>
                   <div class="row">
                      <div class="col-md-12">
                         <div class="form-group">
                            <label>PREVIEW</label>
                            <div class="input-group mb-3" style="border: solid; padding: 5px;">
                                <span id="smsContentPreview"> 
                                    {% if template_msg_data == '' %}
                                        MESSAGE PREVIEW HERE
                                    {% else %}
                                        {{template_msg_data}}
                                    {% endif %} 
                                </span><br/>
                                <span style="color:blue;">{{short_ticket_url}}</span>

                            </div>
                         </div>
                      </div>
                   </div>
                </fieldset>
             </form>
        </div>
        <!-- ends here ~ div for show preview -->
      </div>
   </div>

   <!-- confirmation bootstrap modal -->
      <div class="modal fade" id="overridePrvTpltConfirmModal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content" style="border:solid; border-radius:10px; font-size:22px; text-align:center;">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <p>You already have a template saved. Do you want to override the previous template and use this? This action is irreversible.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" data-dismiss="modal" onclick="overridePrvsValFn()">Yes, Replace</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Don't Replace</button>
            </div>
          </div>
          
        </div>
      </div>
   <!-- ends here ~ confirmation bootstrap modal -->

</section>
<script type="text/javascript">
    let urlRegex = /((([A-Za-z]{3,9}:(?:\/\/)?)(?:[-;:&=\+\$,\w]+@)?[A-Za-z0-9.-]+|(?:www.|[-;:&=\+\$,\w]+@)[A-Za-z0-9.-]+)((?:\/[\+~%\/.\w-_]*)?\??(?:[-\+=&;%@.\w_]*)#?(?:[\w]*))?)/;

    // custom validator for validate msg field
    $.validator.addMethod("templateMsgUrlValidation", function(templateMsg, element) {
        return (!(urlRegex.test(templateMsg)))
    }, "Please remove link from the message. The default link given below will be used for promotion");
    // ends here ~ custom validator for validate msg field

    // ajax call to save data
    function saveSmsMrktInitialForm(formObjectPar) {
        let smsMarketingPayload = formObjectPar;
        $.ajax({
            type: "POST",
            dataType: "json",
            data: JSON.stringify(smsMarketingPayload),
            success: function(response) {
                if(response.responseType == 'success') {
                   if(response.messageType == 'success') {
                        window.location.href = response.url
                    }       
                }
            }
        });
    }
    // ends here ~ ajax call to save data

    let form = $("#sms-marketing-initial-form-id");
    let globalFormObject = {};
    $("#submitBtnSmsMarketing").click(function() {
        form.validate({
            rules: {
                template_msg: {
                    required: true,
                    minlength: 50,
                    maxlength: 125,
                    templateMsgUrlValidation: true,
                }
            },
            highlight: function(element) {
                // add a class "has_error" to the element
                $(element).next().next('div').addClass('has_error');
            },
            unhighlight: function(element) {
                // remove the class "has_error" from the element
                $(element).next().next('div').removeClass('has_error');
            },
            messages: {
                template_msg: {
                    required: "Please write some message",
                    minlength: "Please write at least 50 letters",
                    maxlength: "Your message should not exceed 150 characters"
                }
            },
            errorPlacement: function(error, element) {
                error.appendTo(element.next().next('div'));
                element.next().next('div').show();
            },
            success: function(error, element) {
                error.remove();
                $(element).next().next('div').removeClass('has_error');
                $(element).next().next('div').hide();
            }
        });

        if(form.valid()) {
            let formObject = {}
            $("#sms-marketing-initial-form-id").serializeArray().map(function(x){formObject[x.name] = x.value;})
            formObject['is_standard'] = $("[name='is_standard']").is(":checked") ? 1 : 0;

            if('{{is_standard_exists}}' == 'true' && formObject['is_standard'] ==1) {
                // show dialog box
                globalFormObject = formObject;
                $('#overridePrvTpltConfirmModal').modal('show');
                // ends here ~ show dialog box
            } else {
                saveSmsMrktInitialForm(formObject);
            }
        }
    })

    // function for  override previous value function
    function overridePrvsValFn() {
        saveSmsMrktInitialForm(globalFormObject);
    }
    // ends here ~ function for  override previous value function

    // show preview of form
    $("[name='template_msg']").keyup(function(){
        $("#smsContentPreview").text($("[name='template_msg']").val());
        $("#smsContentLengthCount").text(`(${$("[name='template_msg']").val().length}/150)`);

    });
    // ends here ~ show preview of form
        
</script>
{% endblock og %}
