{% extends 'admin_panel/admin_base.html' %}
{% block addsales %}
<section class="content">
    <div class="container arrow-steps clearfix">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
			    <form method="post">
			        {% csrf_token %}
			        {{ form.as_p }}

			        <!-- <input class='btn btn-transparent-dark-gray btn-large margin-20px-top' type="submit" name="" value="Submit"> -->
			        <input class='btn btn-danger btn-large margin-20px-top' type="submit" name="" value="Submit">
			    </form>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript">
	// add timepicker to purchase time (date-time-edit) field
	$('#purchase_time_id').datetimepicker({
      // format: 'LT',
      format: 'LT',
      stepping: 5,
    });
	// ends here ~ add timepicker to purchase time field
</script>
{% endblock addsales %}



