<div id="unapprove-event-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" onclick="closePopup()">&times;</button>
        <h4 class="modal-title">Disapprove Event</h4>
      </div>
      <div class="modal-body">
        <!-- modal-body ~ form -->
        <ul id="unapproveCheckboxList">
	        {% for eventProcessData in eventProcessesData %}
	        	<li class="row">
	        		<div class="col-md-12">
                <div class="form-check">
                  <label class="form-check-label" for="check1">
                    <input type="checkbox" style="opacity:1;position:static;" class="form-check-input" id="check1" name="option1" value="{{eventProcessData}}">{{eventProcessData.what_to_process}}
                  </label>
                </div>

		          </div>
		        </li>

	        {% endfor %}
	    </ul>
        <!-- ends here ~ modal-body ~ form -->
      </div>
      <div class="modal-footer">
        <input type="submit" value="Submit" onclick="unapproveEventFn()" data-dismiss="modal" />
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
      </div>
    </div>

  </div>
</div>


<script type="text/javascript">
	var eventId = '';
	var user_fullname = ''

	// function for show modal
	function unapproveEventModalFn(eventIdPar, fullNamePar) {
		eventId = eventIdPar;
		user_fullname = fullNamePar;
		$('#unapprove-event-modal').modal('show');
    	$('input[type=checkbox]').removeClass('form-control');
	}
	// ends here ~ function for show modal
	
	function closePopup(){
		$('#unapprove-event-modal').modal('hide');
	}

	// function for change event staatus from approved to disapprove
	function unapproveEventFn() {
		// get array for failed reason OR get all selected checkbox 
		const failedReason = $("#unapproveCheckboxList input:checkbox:checked").map(function(){
		  	// const fReason = $(this).val().replace(/'/g, '"');
	      	// return JSON.parse(fReason);
	      	let fReasonString = $(this).val()
	      	fReasonString = fReasonString.toString()
	      	return eval(`(${fReasonString})`);
	    }).get(); 
	    // ends here ~ get array for failed reason OR get all selected checkbox

		// get array for passed reason OR get all not selected checkbox 
	    const passedReason = $("#unapproveCheckboxList input:checkbox:unchecked").map(function(){
	    	let pReasonString = $(this).val()
	      	pReasonString = pReasonString.toString()
	      	return eval(`(${pReasonString})`);
	    	// const pReason = $(this).val().replace(/'/g, '"');
	      	// return JSON.parse(pReason);
	      	// return eval(pReason);
	    }).get();
		// ends here ~get array for passed reason OR get all not selected checkbox 
	    
		let eventApprovalObj = {'eventId':eventId,'user_fullname':user_fullname,'failed':failedReason,'passed':passedReason,'actionType':'unapproved'}


		// ajax call
		let ajaxData = eventApprovalObj
	    let saveData = $.ajax({
	        type: 'POST',
	        url: "/admin-site/change-event-status/",
	        // url: "/admin-site/send-confirm-org-email/",
	        data: {'completeData':JSON.stringify(ajaxData)},
	        dataType: "json",
	        success: function(resp){
	          // let response = JSON.parse(resp)
	          let response = resp
	          if(response.responseType == 'success') {
	              if(response.messageType == 'success') {
	              	window.location.reload();
	              } else if(response.messageType == 'error') {
	                alert('error')
	              }
	          }
	      }
	    });
		// ends here ~ ajax call


	}
	// ends here ~ function for change event staatus from approved to disapprove

</script>
