{% extends 'admin_panel/admin_base.html' %}

{% block details %}

<style>
    .tab-pane{
        background: #fff;
        padding: 15px;
        margin-top: 30px;
        margin-bottom: 30px;
        border: 1px solid #f4f4f4;
        box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    }
    .table{
        width: auto;
        max-width: auto;
    }
    th, td{
      min-width: 130px;
    }
</style>

<section class="content">
    

    <div class="container arrow-steps clearfix">
        <!-- @author Shubham ~  div for show messages -->
        <div id='alertAboveTopBtn' class='hide'></div>
        <!-- ends here ~ @author Shubham ~  div for show messages -->
        <div class="row">
            <div class="col-md-12">
              <h1 class="text-dark mb-30">{{ article.event_name}}</h1>
            </div>

             {% if status.approval == 1 %}
              <div class="col-md-3">
                <a class="btn btn-info btn-block" data-toggle="modal" data-target="#submit-url">Submit ticket URL</a>
              </div>
              {% if request.session.para_2 == 'event_promotion' and request.session.read_2 == 1 and request.session.write_2 == 1 %}
              <div class="col-md-3">
                <p><a href="" data-target="#exampleModalCenter" data-toggle="modal"  class="btn btn-info btn-block">Add/edit promotion link</a></p>
              </div>
              {% endif %}
              {% if request.session.para_3 == 'rsvp' and request.session.read_3 == 1 and request.session.write_3 == 1 %}
              <div class="col-md-3">
                <a class="btn btn-info btn-block" data-toggle="modal" data-target="#add-rsvp-modal">Add RSVP</a>
              </div>
              {% endif %}
              {% if request.session.para_4 == 'sales' and request.session.read_4 == 1 and request.session.write_4 == 1 %}
              <div class="col-md-3">
                <p><a href="{% url 'admin-panel:add-sales' event_id=id %}" class="btn btn-info btn-block">Add Sales</a></p>
              </div>
              {% endif %}
              {% if request.session.para_1 == 'event_list' and request.session.read_1 == 1 and request.session.write_1 == 1 %}
                <!-- <p><a href="" class="btn btn-info btn-block">Edit this event</a></p> -->
              {% endif %}
            {% endif %}

            {% if status.approval == 1 and status.event_active != 5 %}
              <div class="col-md-3">
                <a class="btn btn-info btn-block btn-danger" onclick="unapproveEventModalFn('{{id}}','{{user}}')">Disapprove</a>
              </div>
            {% endif %}
            {% if status.approval == 0  and status.event_active == 5 %}
              <div class="col-md-3">
                <a class="btn btn-info btn-block btn-danger" onclick="approveEventFn('{{id}}','{{user}}', '{{eventProcessesData | length}}')">Approve</a>
              </div>
            {% endif %}
            {% if status.approval == 0  and status.event_active != 5 %}
              <div class="col-md-3">
                <a class="btn btn-info btn-block btn-danger" onclick="approveEventFn('{{id}}','{{user}}', '{{eventProcessesData | length}}')">Approve</a>
              </div>
            {% endif %}

            {% if status.approval == 0  and status.event_active != 5 %}
              <div class="col-md-3">
                <a class="btn btn-info btn-block btn-danger" onclick="unapproveEventModalFn('{{id}}','{{user}}')">Disapprove</a>
              </div>
            {% endif %}

            <!-- button for upload csv -->
            <div class="col-md-3">
              <a class="btn btn-info btn-block btn-danger" onclick="uploadCsvModalFn('{{id}}')">Upload CSV</a>
            </div>
            <!-- ends here ~ button for upload csv -->

            <!-- button for add sales (free ticket)  -->
            {% if tkt_typ == 'free' %}
              <div class="col-md-3">
                <a class="btn btn-info btn-block btn-danger" data-toggle="modal" data-target="#add-sales-free-tkt-modal">Add Sales (Free Ticket)</a>
              </div>
            {% endif %}
            <!-- ends here ~ button for add sales (free ticket)  -->


            <div class="col-md-12">

              <ul class="nav nav-tabs">
                  <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#basic">Basic</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#targets">Targets</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#images">Images</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#description">Description</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#tickets">Tickets</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#custom-question">Custom Question</a>
                  </li>
              </ul>

              <div class="tab-content">

                <div id="basic" class="tab-pane active">
                  <div class="row">
                    <div class="col-md-8 mb-30">
                      <h4 class="dark-grey-text">Event Name:</h4>
                      <p>{{ article.event_name}}</p>
                    </div>
                    {% if request.session.para_1 == 'event_list' and request.session.read_1 == 1 and request.session.write_1 == 1 %}
                    <!-- <div class="col-md-4 float-right">
                      <div class="float-right">
                        <a class="btn btn1 btn-danger text-white" href="{% url 'dashboard:edit-event' article.id  %}"><i class="fa fa-pencil"></i> Edit</a>
                      </div>
                    </div> -->
                    {% endif %}
                    <div class="clearfix"></div>
                    <div class="col-md-12 mb-30">
                      <h4 class="dark-grey-text">Official website:</h4>
                      <p >{{ website }}</p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12 mb-30">
                      <h4 class="dark-grey-text">Link for ticketing:</h4>
                      <p >{{ article.ticket_url }}</p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-6 mb-30">
                      <h4 class="dark-grey-text">Start date:</h4>
                      <p >{{ article.sdate.date|date:'M d, Y'}}</p>
                    </div>
                    <div class="col-md-6">
                      <h4 class="dark-grey-text">Start time:</h4>
                      <p class="text-uppercase">{{ article.start_time|time:'g:i A' }}</p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-6 mb-30">
                      <h4 class="dark-grey-text">End date:</h4>
                      <p>{{ article.edate.date |date:'M d, Y'}}</p>
                    </div>
                    <div class="col-md-6">
                      <h4 class="dark-grey-text">End time:</h4>
                      <p class="text-uppercase">{{ article.end_time|time:'g:i A' }}</p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-6 mb-30">
                      <h4 class="dark-grey-text">Address line 1:</h4>
                      <p>{{ article.address_line1}}</p>
                    </div>
                    <div class="col-md-6">
                      <h4 class="dark-grey-text">Address line 2:</h4>
                      <p>{{ article.address_line2}}</p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-3 mb-30">
                      <h4 class="dark-grey-text">Pincode:</h4>
                      <p>{{ article.pincode}}</p>
                    </div>
                    <div class="col-md-3">
                      <h4 class="dark-grey-text">City:</h4>
                      <p>{{ article.city}}</p>
                    </div>
                    <div class="col-md-3">
                      <h4 class="dark-grey-text">State:</h4>
                      <p>{{ article.state}}</p>
                    </div>
                    <div class="col-md-3">
                      <h4 class="dark-grey-text">Country:</h4>
                      <p>{{ article.country}}</p>
                    </div>
                  </div>
                </div>

                  <div id="targets" class="tab-pane ">
                    <div class="row">
                      <div class="col-md-6 mb-30">
                        <h4 class="dark-grey-text">Category:</h4>
                        <p>{{ cat.0 }}</p>
                      </div>
                      <div class="col-md-3 float-right mb-30">
                        <h4 class="dark-grey-text">Sub-Category:</h4>
                        <p>{{ cat.1 }}</p>
                      </div>
                      {% if request.session.para_1 == 'event_list' and request.session.read_1 == 1 and request.session.write_1 == 1 %}
                      <!-- <div class="col-md-3">
                        <div class="float-right">
                          <a class="btn btn1 btn-danger text-white" href="{% url 'dashboard:edit-event-two' article.id  %}"><i class="fa fa-pencil"></i> Edit</a>
                        </div>
                      </div> -->
                      {% endif %}
                      <div class="clearfix"></div>
                      <div class="col-md-6 mb-30">
                        <h4 class="dark-grey-text">Event Type:</h4>
                        <p class="text-capitalize">{{ types }}</p>
                      </div>
                      <div class="col-md-6 mb-30">
                        <h4 class="dark-grey-text">Ticket Type:</h4>
                        <p class="text-capitalize">{{ tkt_typ }}</p>
                      </div>
                    </div>
                  </div>

                  <div id="images" class="tab-pane ">
                      <h4 class="dark-grey-text">Profile Image</h4>
                      <img src="{{ images.0 }}" alt="">

                      <h4 class="dark-grey-text">Banner</h4>
                      <img src="{{ images.1 }}" alt="">

                      <h4 class="dark-grey-text">Artwork file of image</h4>
                      <p><a href="{{ images.2 }}">{{ images.2 }}</a></p>
                  </div>
                  <div id="description" class="tab-pane ">
                      <div class="row">
                        <div class="col-md-9 mb-30">
                          <h4 class="dark-grey-text">Description:</h4>
                          {% autoescape off %} {{ article.description|safe }} {% endautoescape %}
                        </div>
                        {% if request.session.para_1 == 'event_list' and request.session.read_1 == 1 and request.session.write_1 == 1 %}
                        <!-- <div class="col-md-3 float-right">
                          <div class="float-right">
                            <a class="btn btn1 btn-danger text-white" href="{% url 'dashboard:edit-event-four' article.id  %}"><i class="fa fa-pencil"></i> Edit</a>
                          </div>
                        </div> -->
                        {% endif %}
                      </div>
                  </div>
                  <div id="tickets" class="tab-pane ">
                    {% if request.session.para_1 == 'event_list' and request.session.read_1 == 1 and request.session.write_1 == 1 %}
                    <div class="col-md-3 float-right">
                      <div class="float-right">
                        {% if free == False %}
                        <!-- <a class="btn btn1 btn-danger text-white" href="{% url 'dashboard:edit-event-ticket' article.id  %}"><i class="fa fa-pencil"></i> Edit</a> -->
                        {% endif %}
                      </div>
                    </div>
                    {% endif %}
                    {% if free == True %}
                    <div class="alert alert-info text-center mb-80">
                        <h4>NO TICKETS CREATED AS IT IS A FREE EVENT!</h4>
                    </div>

                    {% else %}
                    <div class="table-responsive">
                      <table class="table table-hover">
                        <tr>
                          <th>Ticket</th>
                          <th>Price</th>
                          <th>Extra charge</th>
                          <th>Inventory</th>
                          <th>Min to purchase</th>
                          <th>Max to purchase</th>
                          <th>Qty left</th>
                          <th>Message</th>
                          <th>Valid from</th>
                          <th>Valid through</th>
                          <th>Ticket label</th>
                          <th>Status</th>
                        </tr>
                        {% for name,price,o_crg,o_crg_type,qty,min,max,left,msg,start,exp,e_fee,t_fee,label,act in items %}
                      <tr>
                        <td>{{name}} </td>
                        <td>{{currency | safe}} {{price}} </td>
                        <td>
                          {% if o_crg == 0 %}
                            -
                          {% else %}
                            {% if o_crg_type == 1 %}
                              {{currency | safe}}{{o_crg}}
                            {% elif o_crg_type == 2 %}
                              {{o_crg}}%
                            {% endif %}
                          {% endif %}
                        </td>
                        <td>{{qty}} </td>
                        <td>{{min}} </td>
                        <td>{{max}} </td>
                        <td>{{left}} </td>
                        <td>{% if msg == 0 %} {% else %}{{msg}}{% endif %} </td>
                        <td>{{start|date}} {{start|time:'g:i A'}} </td>
                        <td>{{exp|date}} {{exp|time:'g:i A'}} </td>
                        <td>{{label}} </td>
                        <td class="text-capitalize">{{act}} </td>
                      </tr>
                      {% endfor %}
                      </table>
                    </div>
                    {% endif %}

                  </div>
                  <div id="custom-question" class="tab-pane">
                    <div class="row">
                      <div class="col-md-8 col-lg-8">
                        <div class="table-responsive">
                          <table class="table table-hover mt-0">
                            <tr>
                              <th>Question title</th>
                              <th>Mandatory</th>
                              <th>Question type</th>
                              <th>Options</th>
                            </tr>
                            {% for customQuestion in custom_question_list %}
                            <tr>
                              <td>{{customQuestion.ques_title}}</td>
                              <td>{{customQuestion.ques_accessibility}}</td>
                              <td>
                                {{ customQuestion.ques_type }}
                              </td>
                              <td>{{customQuestion.option_name}}</td>
                            </tr>
                            {% endfor %}
                            
                          </table>
                        </div>
                      </div>
                      <div class="col-md-4 col-lg-4">
                        <div class="alert alert-danger">
                          Questions created once cannot be edited again.
                        </div>
                      </div>

                    </div>

                  </div>
              </div>


            </div>





            <div class="col-md-12">
              <ul class="nav nav-tabs">
                  {% if request.session.para_2 == 'event_promotion' and request.session.read_2 == 1 %}
                  <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#promotion-status">Promotion status</a>
                  </li>
                  {% endif %}
                  {% if request.session.para_6 == 'verification_status' and request.session.read_6 == 1 %}
                  <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#verification-status">Verification status</a>
                  </li>
                  {% endif %}
              </ul>

              <div class="tab-content">
                  {% if request.session.para_2 == 'event_promotion' and request.session.read_2 == 1 %}
                  <div id="promotion-status" class="tab-pane active">
                      <div class="table-responsive">
                          <table class="table table-hover">
                            <thead>
                              <tr>
                                <th>Site</th>
                                <th>Link</th>
                                <th>Promotion status</th>
                                <th>Partner status</th>

                              </tr>
                            </thead>
                            <tbody>
                              {% for site_name,link,pro_sta,par_sta in site %}
                                <tr>
                                  <td>{{site_name}}</td>
                                  {% if link == 0 %}
                                  <td class="">--</td>
                                  {% else %}
                                  <td class=""><a href="{{link}}" target="_blank">Link</a></td>
                                  {% endif %}


                                  {% if pro_sta == 'published' %}
                                  <td class="text-capitalize"><span class="green-text">{{pro_sta}}</span></td>
                                  {% elif pro_sta == 'pending' or pro_sta == 'ready to upload'  %}
                                  <td class="text-capitalize"><span class="grey-text">{{pro_sta}}</span></td>
                                  {% else %}
                                  <td class="text-capitalize"><span class="">{{pro_sta}}</span></td>
                                  {% endif %}
                                  {% if par_sta == 'published' %}
                                  <td class="text-capitalize"><span class="green-text">{{par_sta}}</span></td>
                                  {% elif par_sta == 'pending' or par_sta == 'ready to upload'  %}
                                  <td class="text-capitalize"><span class="grey-text">{{par_sta}}</span></td>
                                  {% else %}
                                  <td class="text-capitalize"><span>{{par_sta}}</span></td>
                                  {% endif %}

                                </tr>
                                {% endfor %}
                              </tbody>
                          </table>
                      </div>
                  </div>
                  {% endif %}
                  {% if request.session.para_6 == 'verification_status' and request.session.read_6 == 1 %}
                  <div id="verification-status" class="tab-pane">
                      <table class="table mb-50">
                        {% for msg in fail %}
                        <tr style="background: red;color: #fff;">
                            <td>{{msg|safe}}</td>
                            <td>Failed</td>
                        </tr>
                        {% endfor %}
                        {% for msg in pass %}
                        <tr>
                            <td>{{msg|safe}}</td>
                            <td>Passed</td>
                        </tr>
                        {% endfor %}

                    </table>
                  </div>
                  {% endif %}
              </div>
            </div>

            <!-- @author Shubham ~ email send to organizer confirmation modal ~ october 12 2019 -->
            <div id="submit-url" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Submit URL</h4>
                  </div>
                  <div class="modal-body">
                    <!-- modal-body ~ form -->
                      <div class="form-group">
                        <label for="attendee_name">URL:</label>
                        <input type="text" class="form-control" name="ticket_article_url" id="ticket_article_url" placeholder="https://www.google.com">
                        <div class="input-error"></div>
                      </div>
                      <input type="submit" value="Submit" onclick="updateTicketURL()" data-dismiss="modal" />

                    <!-- ends here ~ modal-body ~ form -->
                  </div>
                  <div class="modal-footer">

                    <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                  </div>
                </div>

              </div>
            </div>
            <!-- ends here ~ @author Shubham ~ email send to organizer confirmation modal ~ october 12 2019 -->

            <!-- @author Shubham ~ email send to organizer confirmation modal ~ october 12 2019 -->
            <div id="confirm-email-organizer" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Send Confirmation E-Mail</h4>
                  </div>
                  <div class="modal-body row">
                    <!-- modal-body ~ form -->
                    <div class="col-md-6">
                      <button class="btn btn-primary" onclick="sendEmailOrganizer()" data-dismiss="modal">Yes, Send Email</button>
                    </div>
                    <div class="col-md-6">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">NO</button>
                    </div>
                    <!-- ends here ~ modal-body ~ form -->
                  </div>
                  <div class="modal-footer">

                    <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                  </div>
                </div>

              </div>
            </div>
            <!-- ends here ~ @author Shubham ~ email send to organizer confirmation modal ~ october 12 2019 -->


            <!-- @author Shubham ~ add rsvp bootstrap modal ~ october 10 2019 -->
            <div id="add-rsvp-modal" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add RSVP</h4>
                  </div>
                  <div class="modal-body">
                    <!-- modal-body ~ form -->
                    <form id="rsvp-add-details-form" action="{% url 'admin-panel:add-rsvp-details' event_id=id %}" method="POST">
                      <div class="form-group">
                        <label for="attendee_name">Name:</label>
                        <input type="text" class="form-control" name="attendee_name" id="attendee_name">
                        <div class="input-error"></div>
                      </div>
                      <div class="form-group">
                        <label>Email:</label>
                        <input type="text" class="form-control" name="attendee_email" id="attendee_email">
                        <div class="input-error"></div>
                      </div>
                      <div class="form-group">
                        <label>Contact:</label>
                        <input type="text" class="form-control" name="attendee_contact" id="attendee_contact">
                        <div class="input-error"></div>
                      </div>
                      <div class="form-group">
                        <label>Website:</label>
                        <select class="form-control" type="text" class="form-control" style="height:auto" name="supplied_by" id="supplied_by">
                          {% for siteData in siteNameList %}
                            <option value="{{siteData.site_name}}">
                              {{siteData.site_name}}
                            </option>
                          {% endfor %}
                        </select> 
                        <div class="input-error"></div>

                        
                      </div>
                      <div class="form-group">
                        <label>Any Message:</label>
                        <input type="text" class="form-control" id="message" name="message">
                      </div>
                      <input type="submit" value="Submit" id="save-rsvp-btn" class="btn btn-danger" />
                    </form>
                    <!-- ends here ~ modal-body ~ form -->
                  </div>
                  <div class="modal-footer">

                    <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                  </div>
                </div>

              </div>
            </div>
            <!-- ends here ~ @author Shubham ~ add rsvp bootstrap modal ~ october 10 2019 -->

             <!-- @author Shubham ~ @author Shubham ~ add rsvp bootstrap modal ~ december 09 2019 -->
            <div id="add-sales-free-tkt-modal" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Sales</h4>
                  </div>
                  <div class="modal-body">
                    <!-- modal-body ~ form -->
                    <!-- <form id="add-sales-free-tkt-form"> -->
                    <form id="add-sales-free-tkt-form" action="{% url 'admin-panel:add-sales-free-tkt-details' event_id=id %}" method="POST">
                      <div class="form-group">
                        <label for="attendee_name">Name:</label>
                        <input type="text" class="form-control" name="attendee_name" id="attendee_name">
                        <div class="input-error"></div>
                      </div>
                      <div class="form-group">
                        <label>Email:</label>
                        <input type="text" class="form-control" name="attendee_email" id="attendee_email">
                        <div class="input-error"></div>
                      </div>
                      <div class="form-group">
                        <label>Contact:</label>
                        <input type="text" class="form-control" name="attendee_contact" id="attendee_contact">
                        <div class="input-error"></div>
                      </div>
                      <div class="form-group">
                        <label>Total Quantity:</label>
                        <input type="text" class="form-control" name="totalFreeTktQty" id="totalFreeTktQty">
                        <div class="input-error"></div>
                      </div>
                      <div class="form-group">
                        <label>Booking ID:</label>
                        <input type="text" class="form-control" name="freeTktBookingId" id="freeTktBookingId">
                        <div class="input-error"></div>
                      </div>
                      <a id="add-sales-free-tkt-btn" class="btn btn-danger">Submit</a>
                      <input type="submit" value="Submit" id="add-sales-free-tkt-btn-click" class="btn btn-danger" style="display: none;" />
                    </form>
                    <!-- ends here ~ modal-body ~ form -->
                  </div>
                  <div class="modal-footer">

                    <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                  </div>
                </div>

              </div>
            </div>
            <!-- ends here ~ @author Shubham ~ add rsvp bootstrap modal ~ december 09 2019 -->



            <div class="col-md-12 mt-50 mb-50">
                <ul class="nav nav-tabs">
                  
                  
                  {% if request.session.para_4 == 'sales' and request.session.read_4 == 1 %}
                  <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#sales">SALES</a>
                  </li>
                  {% endif %}
                  {% if request.session.para_3 == 'rsvp' and request.session.read_3 == 1 %}
                  <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#rsvp">RSVP</a>
                  </li>

                  <!-- @author Shubham ~ october 10 2019-->
                  <!-- <li class="nav-item">
                      <a class="btn btn-danger" data-toggle="modal" data-target="#add-rsvp-modal">Add RSVP</a>

                  </li> -->
                  <!-- ends here ~ @author Shubham ~ october 10 2019 -->
                 
                  {% endif %}
                  <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#referral-details">Referral Program</a>
                  </li>
              </ul>

              <!-- @author Shubham ~  div for show messages -->
              <div id='alertAjaxMessage' class='hide'></div>
              <!-- ends here ~ @author Shubham ~  div for show messages -->
              <div class="tab-content">
                  
                  {% if request.session.para_4 == 'sales' and request.session.read_4 == 1 %}
                  <div id="sales" class="tab-pane active">
                      <div class="table-responsive">
                          <table class="table">
                              <tr>
                                  <th>ticket Type</th>
                                  <th>booking id</th>
                                  <th>amount</th>
                                  <th>quantity</th>
                                  <th>purchase date</th>
                                  <th>seller site</th>
                                  <th>attendee name</th>
                                  <th>attendee contact</th>
                                  <th>attendee email</th>
                                  <th>Send Confirmation E-Mail</th>


                              </tr>
                              {% for type,id,amt,qty,purc,site,attendee,cont,email,table_id in detail %}
                              <tr>
                                  <td>{{type}}</td>
                                  <td>{{id}}</td>
                                  <td>
                                    {% if amt == 0 %}
                                      FREE
                                    {% else %}
                                      {{amt}}
                                    {% endif %}
                                  </td>
                                  <td>{{qty}}</td>
                                  <td>{{purc}}</td>
                                  <td>{{site}}</td>
                                  <td>{{attendee}}</td>
                                  <td>{{cont}}</td>
                                  <td>{{email}}</td>
                                  <td><span class="btn btn-danger" onclick="setCurrentOrg('{{table_id}}')">Send Email to Organizer</span></td>

                              </tr>
                              {% endfor %}

                          </table>
                      </div>
                  </div>
                  {% endif %}
                  {% if request.session.para_3 == 'rsvp' and request.session.read_3 == 1 %}
                  <div id="rsvp" class="tab-pane">
                      <div class="table-responsive">
                          <table class="table">
                              <tr>
                                  <th>Name</th>
                                  <th>Contact</th>
                                  <th>Email</th>
                                  <th>Locked Status</th>
                              </tr>
                              {% for name_r,cont,email, locked_status in rsvp %}
                              <tr>
                                  <td>{{name_r}}</td>
                                  <td>{{cont}}</td>
                                  <td>{{email}}</td>
                                  <td>
                                    {% if locked_status == 1 %}
                                      Locked
                                    {% else %}
                                      Unlocked
                                    {% endif %}
                                  </td>
                              </tr>
                              {% endfor %}
                          </table>
                      </div>
                  </div>
                  {% endif %}
                  <!-- block for referral program details -->
                  <div id="referral-details" class="tab-pane">
                      <div class="table-responsive">
                          <table class="table">
                              <tr>
                                  <th>Phone Number</th>
                                  <th>Platform</th>
                                  <th>Email ID</th>
                                  <th>Referrer Code</th>
                                  <th>Payable Amount</th>
                                  <th>Payment Status</th>


                              </tr>
                              {% for referralData in referrerCashbackData %}
                              <tr>
                                  <td>{{referralData.number}}</td>
                                  <td>{{referralData.payment_platform}}</td>
                                  <td>{{referralData.email_id}}</td>
                                  <td>{{referralData.referrer_code}}</td>
                                  <td>{{referralData.payable_amount}}</td>
                                  <td>{{referralData.payment_status}}</td>
                              </tr>
                              {% endfor %}

                          </table>
                      </div>
                  </div>
                  <!-- ends here ~ block for referral program details -->
              </div>
            </div>


            <!-- bank details -->
             <div class="col-md-12 mt-50 mb-50">
                <ul class="nav nav-tabs">
                  <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#bankDetails">Bank Details</a>
                  </li>
              </ul>

              <div class="tab-content">
                  <div id="bankDetails" class="tab-pane active">
                      {% if 'bank_name' in bankDetailsInfo %}
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <th>Bank Name</th>
                                    <th>Account Holder Name</th>
                                    <th>Account Type</th>
                                    <th>Account Number</th>
                                    <th>IFSC Code</th>
                                    <th>Branch</th>
                                    <th>GST Number</th>


                                </tr>
                                <tr>
                                    <td>{{bankDetailsInfo.bank_name}}</td>
                                    <td>{{bankDetailsInfo.ac_holder_name}}</td>
                                    <td>{{bankDetailsInfo.ac_type}}</td>
                                    <td>{{bankDetailsInfo.ac_number}}</td>
                                    <td>{{bankDetailsInfo.ifsc_code}}</td>
                                    <td>{{bankDetailsInfo.branch}}</td>
                                    <td>{{bankDetailsInfo.gst_number}}</td>

                                </tr>

                            </table>
                        </div>
                      {% else %}
                        <b>User does not have provided bank details yet.</b>
                      {% endif %}
                  </div>
              </div>
            </div>
            <!-- ends here ~ bank details -->


            <!-- organizer contact details -->
             <div class="col-md-12 mt-50 mb-50">
                <ul class="nav nav-tabs">
                  <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#organiserContactDetails">Organiser Contact Details</a>
                  </li>
              </ul>

              <div class="tab-content">
                  <div id="organiserContactDetails" class="tab-pane active">
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Mobile</th>
                                    <th>Mobile Verified Status</th>
                                    <th>Location</th>
                                </tr>
                                <tr>
                                    <td>{{userDetailsInfo.firstname}} {{userDetailsInfo.lastname}}</td>
                                    <td>{{userDetailsInfo.user}}</td>
                                    <td>{{userDetailsInfo.mobile}}</td>
                                    <td>
                                      {% if userDetailsInfo.mobile_verified == 1 %}
                                        <button class="btn btn-success"> Verified </button>
                                      {% else %}
                                        <button class="btn btn-danger"> Not Verified </button>
                                      {% endif %}
                                    </td>
                                    <td>{{userDetailsInfo.location}}</td>
                                </tr>
                            </table>
                        </div>
                      
                  </div>
              </div>
            </div>
            <!-- ends here ~ organizer contact details -->

            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add/Edit Promotion link</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  {% for message in messages %}
                    {{message}}
                  {% endfor %}

                  <form  method="post">
                  <div class="modal-body">

                      {% csrf_token %}
                      {{ form.as_p }}


                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

<!-- @author Shubham ~ change event status (approve/unapprove)  -->
{% include 'admin_panel/event_status_to_unapprove.html' %}
{% include 'admin_panel/event_status_to_approve.html' %}
{% include 'admin_panel/upload_leads_csv.html' %}
<!-- ends here ~ @author Shubham ~ change event status (approve/unapprove)  -->

<!-- @author Shubham ~ js code ~  october 10 2019-->
<!-- <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script> -->
<script type="text/javascript">

  

  // regex for validation
  let re_email = /(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))/;

  let re_phn = /[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}/im;
  // ends here ~ regex for validation

  // attendee name validation
  $.validator.addMethod("attendeeNameValidation", function(attendeeNameVal, element) {
    if(attendeeNameVal == '') {
      return true
    } else {
      return /^([a-zA-Z0-9]+\s)*[a-zA-Z0-9]+$/.test(attendeeNameVal)
    }
  }, "Blank spaces before and after the attendee name should be removed");
  // ends here ~ attendee name validation

  // attendee email validation
  $.validator.addMethod("attendeeEmailValidation", function(attendeeEmailVal, element) {
    if(attendeeEmailVal == '') {
      return true
    } else {
      return re_email.test(attendeeEmailVal)
    }
  }, "Email is not Valid");
  // ends here ~ attendee email validation

  // attendee contact mobile validation
  $.validator.addMethod("attendeeContactValidation", function(attendeeContactVal, element) {
    if(attendeeContactVal == '') {
      return true
    } else {
      return re_phn.test(attendeeContactVal)
    }
  }, "Contact Number is not Valid");
  // ends here ~ attendee contact mobile validation

  //js function to add rsvp
    $("#save-rsvp-btn").click(function(){ 
    form = $("#rsvp-add-details-form");
    // check validation
    let test = form.validate({
      rules: {
        attendee_name: {
          minlength: 2,
          maxlength: 200,
          attendeeNameValidation: true
        },
        attendee_email: {
          attendeeEmailValidation: true
        },
        attendee_contact: {
          attendeeContactValidation: true
        }
      },
      highlight: function (element) {
        // add a class "has_error" to the element
        $(element).next('div').addClass('has_error');
      },
      unhighlight: function (element) {
        // remove the class "has_error" from the element
        $(element).next('div').removeClass('has_error');
      },
      messages: {
        attendee_name: {
          minlength: "Event name should have at least 2 characters"
        }
      },
      success: function (error, element) {
          error.remove();
          $(element).next('div').removeClass('has_error');
          $(element).next('div').hide();
      },
      errorPlacement: function (error, element){
        error.appendTo(element.next('div'));
        element.next('div').show();
      },
    });

    // ends here ~ check validation 
    })
  // ends here ~ js function to add rsvp

  // js function to send email to organizer
  var selTableId;
  function setCurrentOrg(tableIdVal) {
    selTableId = tableIdVal;
    $('#confirm-email-organizer').modal('show'); 
  }
    
  function sendEmailOrganizer() {
    let ajaxData = { 'tableId' : selTableId }
    var saveData = $.ajax({
        type: 'POST',
        url: "/admin-site/send-confirm-org-email/",
        data: ajaxData,
        dataType: "text",
        success: function(resp){
          let response = JSON.parse(resp)
          if(response.responseType == 'success') {
              if(response.messageType == 'success') {
                 $('#alertAjaxMessage').html("<div class='alert alert-success'>"+response.message+"</div>");
                  $('#alertAjaxMessage').show();
              } else if(response.messageType == 'error') {
                  $('#alertAjaxMessage').html("<div class='alert alert-error'>"+response.message+"</div>");
                  $('#alertAjaxMessage').show();
                  //toastrErrorMsg("Error",response.message)
              }
              setTimeout(function() {
                  $("#alertAjaxMessage").hide('blind', {}, 500)
              }, 2000);
          }
      }
    });
  }
  // ends here ~ js function to send email to organizer

  // update ticket url in articles2 table
  function updateTicketURL() {
    let eventId = "{{id}}"
    let ticketUrl = $('#ticket_article_url').val()

    let re_url = /((https?|ftp|smtp):\/\/)?(www.)?[a-z0-9]+(\.[a-z]{2,}){1,3}(#?\/?[a-zA-Z0-9#]+)*\/?(\?[a-zA-Z0-9-_]+=[a-zA-Z0-9-%]+&?)?/;
    if(!(re_url.test(ticketUrl))){
      $('#alertAboveTopBtn').html("<div class='alert alert-error'>URL is Not Valid</div>");
      $('#alertAboveTopBtn').show();
      return false;
    }

    let ajaxData = { 'ticketUrl' : ticketUrl, 'eventId':eventId }
    var saveData = $.ajax({
        type: 'POST',
        url: "/admin-site/update-ticket-url/",
        data: ajaxData,
        dataType: "text",
        success: function(resp){
          let response = JSON.parse(resp)
          if(response.responseType == 'success') {
              if(response.messageType == 'success') {
                 $('#alertAboveTopBtn').html("<div class='alert alert-success'>"+response.message+"</div>");
                  $('#alertAboveTopBtn').show();
              } else if(response.messageType == 'error') {
                  $('#alertAboveTopBtn').html("<div class='alert alert-error'>"+response.message+"</div>");
                  $('#alertAboveTopBtn').show();
                  //toastrErrorMsg("Error",response.message)
              }
              setTimeout(function() {
                  $("#alertAboveTopBtn").hide('blind', {}, 500)
              }, 2000);
          }
      }
    });
  }
  // ends here ~ update ticket url in articles2 table

  // add sales for free ticket
  $("#add-sales-free-tkt-btn").click(function() {
      let freeTktAddSalesForm = $("#add-sales-free-tkt-form");
      // check validation
      freeTktAddSalesForm.validate({
          rules: {
              attendee_name: {
                  minlength: 2,
                  maxlength: 200,
                  attendeeNameValidation: true
              },
              attendee_email: {
                  attendeeEmailValidation: true
              },
              attendee_contact: {
                  attendeeContactValidation: true
              }
          },
          highlight: function(element) {
              // add a class "has_error" to the element
              $(element).next('div').addClass('has_error');
          },
          unhighlight: function(element) {
              // remove the class "has_error" from the element
              $(element).next('div').removeClass('has_error');
          },
          messages: {
              attendee_name: {
                  minlength: "Event name should have at least 2 characters"
              }
          },
          success: function(error, element) {
              error.remove();
              $(element).next('div').removeClass('has_error');
              $(element).next('div').hide();
          },
          errorPlacement: function(error, element) {
              error.appendTo(element.next('div'));
              element.next('div').show();
          },
      });
      console.log(freeTktAddSalesForm.valid())
      if(freeTktAddSalesForm.valid()) {
          console.log(' >> ',$("#add-sales-free-tkt-btn-click"))
          $("#add-sales-free-tkt-btn-click").click();
      }
      // ends here ~ check validation 
  })
  // ends here ~ add sales for free ticket

</script>
<script type="text/javascript">
  // var parser = new DOMParser();
  // var htmlDoc = parser.parseFromString(`{{article.description}}`, 'text/html');
  // console.log(' htmlDoc >>>> >>> >> > >> >>> >>>> ',htmlDoc)
  // $("#description").append(htmlDoc)
</script>
<!-- ends here ~ @author Shubham ~ js code ~  october 10 2019-->
{% endblock details %}
