<div id="upload-lead-csv-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Upload CSV</h4>
      </div>
      <div class="modal-body">
        <!-- modal-body ~ form -->
        <input type="file" id="leadCsvFile" accept=".csv" />
        <div id="resultDiv"></div>
        <!-- ends here ~ modal-body ~ form -->
      </div>
      <div class="modal-footer">
        <input type="submit" value="Submit" onclick="uploadCsvFile()" id="upload_submit_field" />
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
      </div>
    </div>

  </div>
</div>


<script type="text/javascript">
	var eventId = '';

	// function for show modal
	function uploadCsvModalFn(eventIdPar) {
		eventId = eventIdPar;
		$('#upload-lead-csv-modal').modal('show');
		$("#leadCsvFile")[0].style.display='block';
		$("#upload_submit_field")[0].style.display='block';
		$("#resultDiv").html('');

	}
	// ends here ~ function for show modal


	// function for upload csv and create leads in backend
	function uploadCsvFile() {


		if($('#leadCsvFile').val() != '') {
			// let fileType = $('#leadCsvFile').prop('files')[0].type;
			let fileExtention = $('#leadCsvFile').prop('files')[0].name;
			fileExtention = fileExtention.split('.');
			fileExtention = fileExtention[fileExtention.length-1];
			if(fileExtention != 'csv') {
				console.log('Oops! only <b>.csv</b> extension is allowed')
			} else {
				let fileData = $('#leadCsvFile').prop('files')[0];   
			    let formData = new FormData();                  
			    formData.append('file', fileData);
			    formData.append('event_id',eventId);

			    // hide input field and submit button
			    $("#leadCsvFile")[0].style.display='none';
				$("#upload_submit_field")[0].style.display='none';
			    // ends here ~ hide input field and submit button 

			    // ajax call for upload csv
			    jQuery.ajax({
				    type: "POST",
				    url: '/admin-site/create-leads-csv',
					   	contentType: false,
					processData: false,
					cache: false,
				    data: formData,
				    success: function (resp) {
				    	let respData = JSON.parse(resp);
				    	if (respData.status = 200) {
				    		if(respData.messageType == "success") {
				    			let ajaxData = respData.data;
				    			let totalRowsFailedString = '';
				    			if (ajaxData['failedRowList'].length == 0) {
				    				totalRowsFailedString = ''
				    			} else {
				    				totalRowsFailedString = `<h3>Failed rows number: ${ajaxData['failedRowList']}</h3>}`
				    			}
				    			$("#resultDiv").html(`<h3>Total records saved: ${ajaxData['successfulRecords']}</h3><h3>Total duplicate records: ${ajaxData['duplicateRecords']}</h3><h3>Total failed records: ${ajaxData['failedRecords']}</h3>${totalRowsFailedString}`);
				    		} else if(respData.messageType == "error") {
				    			console.log(respData.message);
				    		}
				    	} 
		            }
				});
				// ends here ~ ajax call for upload csv
			}
		}

	}
	// ends here ~ function for upload csv and create leads in backend



</script>
