{% extends 'admin_panel/admin_base.html' %}

{% block partner_sites %}


<section class='content'>
  <div class="container arrow-steps clearfix">
    <div class="row">
      <div class="col-md-12">
        <h1>User Details </h1>
          <p>No of users : {{no_of_user}}</p>
        <div class="table-responsive">
            <table class="table table-hover" style="width: auto;max-width: auto;">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Location</th>
                    <th>Mobile</th>
                    <th>Mobile Verified</th>
                    <th>Organization Name</th>
                    <th>Organization Location</th>
                    <th>Social ID</th>
                    <th>Account Verified</th>
                    <th>Profile Pic</th>

                </tr>
                {% for i in users %}
                <tr>
                    <td>
                        {{ i.firstname }}
                    </td>
                    <td>
                        {{ i.lastname }}
                    </td>
                    <td>
                        {{ i.user }}
                    </td>
                    <td>
                        {{ i.gender }}
                    </td>
                     <td>
                        {{ i.location }}
                    </td>
                     <td>
                        {{ i.mobile }}
                    </td>
                     <td>
                        {% if i.mobile_verified == 1%}
                        Yes
                        {% else %}
                        No
                        {% endif %}
                    </td>
                     <td>
                        {{ i.organization_name }}
                    </td>
                     <td>
                        {{ i.organization_location }}
                    </td>
                    <td>
                        {{ i.social_userid }}
                    </td>
                     <td>
                        {% if i.status == 1%}
                        Yes
                        {% else %}
                        No
                        {% endif %}
                    </td>
                    <td>
                        <img src="{{i.profile_pic}}"/>
                    </td>
                    
                </tr>
                {% endfor %}
            </table>
        </div>

      </div>

    </div>
  </div>

</section>

{% endblock partner_sites %}