{% extends "dashboard/create_event.html" %}
{% load rest_framework %}

{% block title %}Create your Stall - Ercess Live{% endblock title %}
{% block step_one %}

    <section class="content">
        <div class="container arrow-steps clearfix">
            <div class="row heading">
                <div class="col-md-12 border-bottom-heading">
                    <h1 class="text-dark pb-20 pt-20">Create your Stall - Facilities</h1>
                    <!-- <div class="md-stepper-horizontal red">
                        <div class="md-step active">
                          <div class="md-step-circle"><span>1</span></div>
                          <div class="md-step-title">Basic details</div>
                          <div class="md-step-bar-left"></div>
                          <div class="md-step-bar-right"></div>
                        </div>
                        <div class="md-step">
                          <div class="md-step-circle"><span>2</span></div>
                          <div class="md-step-title">Set targets</div>
                          <div class="md-step-bar-left"></div>
                          <div class="md-step-bar-right"></div>
                        </div>
                        <div class="md-step">
                          <div class="md-step-circle"><span>3</span></div>
                          <div class="md-step-title">Upload images</div>
                          <div class="md-step-bar-left"></div>
                          <div class="md-step-bar-right"></div>
                        </div>
                        <div class="md-step">
                          <div class="md-step-circle"><span>4</span></div>
                          <div class="md-step-title">Description</div>
                          <div class="md-step-bar-left"></div>
                          <div class="md-step-bar-right"></div>
                        </div>
                        <div class="md-step">
                          <div class="md-step-circle"><span>5</span></div>
                          <div class="md-step-title">Add tickets</div>
                          <div class="md-step-bar-left"></div>
                          <div class="md-step-bar-right"></div>
                        </div>
                        <div class="md-step">
                          <div class="md-step-circle"><span>6</span></div>
                          <div class="md-step-title">Custom questions</div>
                          <div class="md-step-bar-left"></div>
                          <div class="md-step-bar-right"></div>
                        </div>
                    </div> -->
                </div>
            </div>
            {% if serializer_error %}
                {% if serializer.errors %}
                    {% for key,value in serializer.errors.items %}
                        <div class="col-md-12">
                            <div class="alert alert-danger text-center">
                                <strong style="color: white">{{ key|title }} : {{ value.0 }}</strong>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endif %}

            <form action="{% url 'dashboard:facilities' event_id %}" method="POST">
                {% csrf_token %}
                <div class="row" style="margin-top: 2em">
                    <label for="id_power_backup"
                           style="margin-left: 1em; margin-top: 1em; margin-right: 1em">
                        Power backup
                    </label>
                    <input data-size="small"
                           id="id_power_backup"
                           name="power_backup"
                           type="checkbox" data-on="Yes"
                           data-off="No"
                           data-toggle="toggle">
                </div>
                <div class="row" style="margin-top: 2em">
                    <label for="id_parking_space"
                           style="margin-left: 1em; margin-top: 1em; margin-right: 1em">
                        Parking space
                    </label>
                    <input data-size="small"
                           id="id_parking_space"
                           name="parking_space"
                           type="checkbox" data-on="Yes"
                           data-off="No"
                           data-toggle="toggle">
                </div>
                <div class="row" style="margin-top: 2em">
                    <label for="id_water_supply"
                           style="margin-left: 1em; margin-top: 1em; margin-right: 1em">
                        Water supply
                    </label>
                    <input data-size="small"
                           id="id_water_supply"
                           name="water_supply"
                           type="checkbox" data-on="Yes"
                           data-off="No"
                           data-toggle="toggle">
                </div>
                <div class="row" style="margin-top: 2em">
                    <label for="id_electricity"
                           style="margin-left: 1em; margin-top: 1em; margin-right: 1em">
                        Electricity
                    </label>
                    <input data-size="small"
                           id="electricity"
                           name="electricity"
                           type="checkbox" data-on="Yes"
                           data-off="No"
                           data-toggle="toggle">
                </div>
                <div class="row" style="margin-top: 2em">
                    <label for="id_wifi"
                           style="margin-left: 1em; margin-top: 1em; margin-right: 1em">
                        Wifi
                    </label>
                    <input data-size="small"
                           id="id_wifi"
                           name="wifi"
                           type="checkbox" data-on="Yes"
                           data-off="No"
                           data-toggle="toggle">
                </div>
                <div class="row" style="margin-top: 2em">
                    <label for="id_security"
                           style="margin-left: 1em; margin-top: 1em; margin-right: 1em">
                        Security
                    </label>
                    <input data-size="small"
                           id="id_security"
                           name="security"
                           type="checkbox" data-on="Yes"
                           data-off="No"
                           data-toggle="toggle">
                </div>
                <div class="form-group" style="margin-top: 2em">
                    <label>
                        Description
                    </label>
                    <textarea name="description" class="form-control" id="id_description"></textarea>
                </div>
                <div class="form-group ">
                    <label>
                        Terms and condition
                    </label>
                    <textarea name="terms_and_condition" class="form-control" id="id_tnc"></textarea>
                </div>
                <div class="form-group ">
                    <label>Expected footfall</label>
                    <input name="expected_footfall" class="form-control" type="number" value="">
                </div>

                <div class="form-group ">
                    <label>
                        Accepted product
                    </label>
                    <select class="form-control" name="accepted_product" multiple>
                        {% for product in accepted_product %}
                        <option value="{{ product.table_id }}">{{ product.category }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group ">
                    <label>
                        Type of audience
                    </label>
                    <select class="form-control" name="type_of_audience" multiple>
                        {% for type in audience_type %}
                        <option value="{{ type.table_id }}">{{ type.audience_type }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="text-center">
                    <button id="btn124" class="btn btn-danger mt-40">Create Facilities</button>
                </div>
            </form>
        </div>
    </section>
    <script>
    CKEDITOR.replace('id_description');
    CKEDITOR.replace('id_tnc');
    </script>
{% endblock %}