{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <title>Case Studies | Ercess Live | Ercess.com/live</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
        <meta name="description" content="Ercess is one of the best events promotion platforms, which helps you to promote your events across. This page will help you to understand how our multichannel promotion works. To get more information on upcoming events, visit our website." />
        <meta name="keywords" content="How it works, How multichannel promotion works" />
        <link rel="shortcut icon" href="{% static 'images/fav.ico' %}">
        <meta name="google-site-verification" content="Hp-UR63f6b4b-tVU0rbbM4gE6AEHcRCbZ8vtbxRnpC4" />
        {% include 'static/common/css.html' %}
        <!--[if IE]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>
        {% include 'static/common/header2.html' %}
        <section class="wow fadeIn parallax" data-stellar-background-ratio="0.5" style="background-image:url('{% static 'images/parallax-bg32.jpg' %}');">
            <div class="opacity-medium bg-extra-dark-gray"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 extra-small-screen display-table page-title-large">
                        <div class="display-table-cell vertical-align-middle text-center">
                            <h1 class="text-white alt-font font-weight-600 letter-spacing-minus-1 margin-10px-bottom">Case Studies</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>
       
        {% include 'static/common/social.html'  %}
        {% include 'static/common/footer.html' %}
        {% include 'static/common/js.html' %}
    </body>

</html>