{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <title>World's best platform to increase your event revenue | Ercess Live</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
        <meta name="description" content="Ercess Live is world's best platform used by event organizers to increase their revenue, the footfall and the brand awareness.">
        <meta name="keywords" content="event promotion, free event promotion, cheap event promotion, sell event stalls, stall spaces at event, how to market an event">
        <link rel="shortcut icon" href="{% static 'images/fav.ico' %}">
        <meta name="google-site-verification" content="Hp-UR63f6b4b-tVU0rbbM4gE6AEHcRCbZ8vtbxRnpC4" />

        {% include  'static/common/css.html' %}
        <!--[if IE]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>
        {% include 'static/common/header1.html' %}

        <section class="wow fadeIn no-padding parallax xs-background-image-center" data-stellar-background-ratio="0.5" style="background-image: url('{% static 'images/parallax-bg7.jpg' %}')">
            <div class="opacity-extra-medium bg-black"></div>
            <div class="container-fluid position-relative full-screen">
                <div class="slider-typography">
                    <div class="slider-text-middle-main">
                        <div class="slider-text-bottom">
                            <div class="col-lg-6 col-md-7 col-sm-12 col-xs-12 pull-right bg-deep-pink-opacity padding-six-lr md-padding-seven-lr padding-five-tb xs-padding-30px-all last-paragraph-no-margin">
                                <div class="box-separator-line width-180px bg-white md-width-120px sm-width-90px sm-display-none"></div>
                                <h1 class="font-weight-600 alt-font text-white width-95 sm-width-100">Only place to INCREASE YOUR EVENT REVENUE.</h1>
                                <p class="text-large font-weight-300 text-white width-75 md-width-85 sm-width-95 xs-width-100 xs-display-none">Publish events on 65+ sites in few hours, sell your stall spaces fast, advertise to boost visibility.</p>
                                <a href="{% url 'login' %}" target="_blank" class="btn btn-medium btn-white margin-40px-top text-link-deep-pink xs-margin-10px-top">Get started</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="wow fadeIn">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-11 col-xs-12 center-col text-center margin-six-bottom xs-margin-30px-bottom">
                        <div class="alt-font text-medium-gray margin-5px-bottom text-uppercase text-small">About Ercess Live</div>
                        <h6 class="font-weight-300 text-extra-dark-gray no-margin">
                            We promote events on <strong class="font-weight-400">65+ sites for FREE and charge for every tickets </strong> sold.<br />
                            We can <strong class="font-weight-400">sell your stall spaces</strong> to our extremely strong vendors community.<br />
                            We can help you grow faster with our paid event marketing services by <strong class="font-weight-400">boosting the visibility and ticket sales from day one</strong>.</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12 xs-margin-five-bottom last-paragraph-no-margin wow fadeInUp">
                        <div class="feature-box">
                            <div class="content">
                                <i class="icon-browser text-medium-gray icon-large margin-25px-bottom sm-margin-15px-bottom"></i>
                                <div class="text-medium alt-font text-capitalize text-extra-dark-gray margin-10px-bottom sm-margin-5px-bottom">POST</div>
                                <p class="width-85 margin-lr-auto sm-width-100">Create your event on Ercess Live in just 5 minutes using our robust and user friendly dashboard.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 xs-margin-five-bottom last-paragraph-no-margin wow fadeInUp">
                        <div class="feature-box">
                            <div class="content">
                                <i class="icon-book-open text-medium-gray icon-large margin-25px-bottom sm-margin-15px-bottom"></i>
                                <div class="text-medium alt-font text-capitalize text-extra-dark-gray margin-10px-bottom sm-margin-5px-bottom">TARGET</div>
                                <p class="width-85 margin-lr-auto sm-width-100">Set your categories and geographies, opt in for the Multichannel Promotion for the best output.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 xs-margin-five-bottom last-paragraph-no-margin wow fadeInUp">
                        <div class="feature-box">
                            <div class="content">
                                <i class="icon-wallet text-medium-gray icon-large margin-25px-bottom sm-margin-15px-bottom"></i>
                                <div class="text-medium alt-font text-capitalize text-extra-dark-gray margin-10px-bottom sm-margin-5px-bottom">BOOST</div>
                                <p class="width-85 margin-lr-auto sm-width-100">Sit back relax! We  boost the visibility of your event in front of 20 Million potential customers in your home country.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="parallax one-second-screen parallax-feature-box sm-height-auto" data-stellar-background-ratio="0.3" style="background-image:url('{% static 'images/homepage-9-parallax-img2.jpg' %}');">
            <div class="opacity-medium bg-extra-dark-gray"></div>
            <div class="container position-relative">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-8 text-center center-col sm-margin-60px-bottom xs-margin-40px-bottom">
                        <img src="{% static 'images/icon-play.png' %}" style="visibility: hidden;" class="width-130px" alt=""/>
                        <h4 class="alt-font text-white">Event sales and marketing software</h4>
                    </div>
                </div>
                <div class="row hidden-xs">
                    <div class="parallax-feature-box-bottom z-index-5 wow fadeInUp">
                        <div class="col-md-3 col-sm-6 col-xs-12 sm-margin-four-bottom xs-margin-eight-bottom wow fadeInUp">
                            <div class="bg-white box-shadow-light text-center padding-twelve-all position-relative xs-padding-five-all">
                                <i class="icon-desktop icon-extra-medium text-deep-pink margin-25px-bottom margin-25px-top sm-margin-15px-bottom"></i>
                                <div class="alt-font text-extra-dark-gray margin-10px-bottom sm-margin-5px-bottom font-weight-600">FREE Promotion</div>
                                <p>We upload your event on 65+ sites for free and charge only for the tickets sold through us.</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 sm-margin-four-bottom xs-margin-eight-bottom wow fadeInUp" data-wow-delay="0.2s">
                            <div class="bg-white box-shadow-light text-center padding-twelve-all position-relative xs-padding-five-all">
                                <i class="icon-tools icon-extra-medium text-deep-pink margin-25px-bottom margin-25px-top sm-margin-15px-bottom"></i>
                                <div class="alt-font text-extra-dark-gray margin-10px-bottom sm-margin-5px-bottom font-weight-600">Sell your stall spaces</div>
                                <p>We help your event to sell out all the stall spaces in every category across the country.</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 xs-margin-eight-bottom wow fadeInUp" data-wow-delay="0.4s">
                            <div class="bg-white box-shadow-light text-center padding-twelve-all position-relative xs-padding-five-all">
                                <i class="icon-target icon-extra-medium text-deep-pink margin-25px-bottom margin-25px-top sm-margin-15px-bottom"></i>
                                <div class="alt-font text-extra-dark-gray margin-10px-bottom sm-margin-5px-bottom font-weight-600">Advertisement</div>
                                <p>We can advertise your event on your favourite event website to increase sales overnight.</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.6s">
                            <div class="bg-white box-shadow-light text-center padding-twelve-all position-relative xs-padding-five-all">
                                <i class="icon-laptop icon-extra-medium text-deep-pink margin-25px-bottom margin-25px-top sm-margin-15px-bottom"></i>
                                <div class="alt-font text-extra-dark-gray margin-10px-bottom sm-margin-5px-bottom font-weight-600">Data aggregation</div>
                                <p>Check all the sales, leads, RSVP & queries on our platform instead of checking on multiple sites.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="wow fadeIn bg-light-gray wow fadeIn">
            <div class="container margin-six-top md-margin-ten-top sm-no-margin-top">
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12 sm-text-center sm-margin-40px-bottom xs-margin-30px-bottom">
                        <h5 class="text-extra-dark-gray font-weight-600 alt-font no-margin">The world's most powerful event sales tool</h5>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 sm-text-center xs-margin-30px-bottom wow fadeIn last-paragraph-no-margin" data-wow-delay="0.2s">
                        <div class="col-md-3 text-center xs-no-padding-lr">
                            <h2 class="text-light-gray alt-font letter-spacing-minus-3 no-margin-bottom sm-margin-10px-bottom">01</h2>
                        </div>
                        <div class="col-md-9 margin-5px-top sm-text-center xs-no-padding-lr">
                            <span class="alt-font text-medium text-extra-dark-gray margin-5px-bottom display-block">Modern Design</span>
                            <p class="width-80 md-width-100">Ercess Live is built for Modern Era, hence is available on all the smart devices to use.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 sm-text-center wow fadeIn last-paragraph-no-margin" data-wow-delay="0.4s">
                        <div class="col-md-3 text-center xs-no-padding-lr">
                            <h2 class="text-light-gray alt-font letter-spacing-minus-3 no-margin-bottom sm-margin-10px-bottom">02</h2>
                        </div>
                        <div class="col-md-9 margin-5px-top sm-text-center xs-no-padding-lr">
                            <span class="alt-font text-medium text-extra-dark-gray margin-5px-bottom display-block">Always available for you</span>
                            <p class="width-80 md-width-100">Our team is always available on calls, and mails to help you out.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center sm-margin-30px-bottom wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                        <div class="counter-feature-box-1 border-all display-table width-100 padding-5px-all">
                            <div class="counter-box display-table-cell vertical-align-middle bg-white">
                                <i class="icon-heart icon-medium text-medium-gray margin-15px-bottom"></i>
                                <h6 class="display-block font-weight-600 text-extra-dark-gray alt-font no-margin-bottom timer appear" data-speed="2000" data-to="700">700</h6>
                                <span>Happy Organizers</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center sm-margin-30px-bottom wow fadeInRight" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInRight;">
                        <div class="counter-feature-box-1 border-all display-table width-100 padding-5px-all">
                            <div class="counter-box display-table-cell vertical-align-middle bg-white">
                                <i class="icon-laptop icon-medium text-medium-gray margin-15px-bottom"></i>
                                <h6 class="display-block font-weight-600 text-extra-dark-gray alt-font no-margin-bottom timer appear" data-speed="2000" data-to="18000">18000</h6>
                                <span>Listings created</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center xs-margin-30px-bottom wow fadeInRight" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInRight;">
                        <div class="counter-feature-box-1 border-all display-table width-100 padding-5px-all">
                            <div class="counter-box display-table-cell vertical-align-middle bg-white">
                                <i class="icon-camera icon-medium text-medium-gray margin-15px-bottom"></i>
                                <h6 class="display-block font-weight-600 text-extra-dark-gray alt-font no-margin-bottom timer appear" data-speed="2000" data-to="120">120</h6>
                                <span>Events over subscribed</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInRight" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInRight;">
                        <div class="counter-feature-box-1 border-all display-table width-100 padding-5px-all">
                            <div class="counter-box display-table-cell vertical-align-middle bg-white">
                                <i class="icon-chat icon-medium text-medium-gray margin-15px-bottom"></i>
                                <h6 class="display-block font-weight-600 text-extra-dark-gray alt-font no-margin-bottom timer appear" data-speed="2000" data-to="380">380</h6>
                                <span>Telephonic Talk</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% include 'static/common/footer.html' %}
        {% include 'static/common/js.html' %}
    </body>
</html>