{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <title>Our Partners where we publish your events | Ercess Live</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
        <meta name="description" content="Ercess Live is best platform to promote ecvents online. Check here the list of websites working with us and we do promote your events on." />
        <meta name="keywords" content="Multichannel event promotion partners" />
        <link rel="shortcut icon" href="{%  static 'images/fav.ico'%}">
        <meta name="google-site-verification" content="Hp-UR63f6b4b-tVU0rbbM4gE6AEHcRCbZ8vtbxRnpC4" />
        <!--[if IE]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->

        {% include 'static/common/css.html' %}

    </head>
    <body>
        {% include 'static/common/header2.html' %}
        <section class="wow fadeIn cover-background background-position-top top-space" style="background-image:url('{% static 'images/parallax-bg32.jpg' %}');">
            <div class="opacity-medium bg-extra-dark-gray"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 display-table page-title-large">
                        <div class="display-table-cell vertical-align-middle text-center padding-30px-tb">
                            <h1 class="alt-font text-white font-weight-600 no-margin-bottom">Companies we work with</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="wow fadeIn">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                        <div class="row">
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/10times.png');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/allevents.png');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/eventshigh.png');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/doattend.png');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/goeventz.jpg');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/showwoo.jpg');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/india-running.png');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/indiaonline.jpg');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/worlds-marathons.png');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/eventsnow.jpg');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/highape.png');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/hook2events.jpg');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/meraevents.png');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/nearify.png');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/townscript.jpg');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/insider.png');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/Knowafest.png');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/yogems.png');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/kyazoonga.png');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/citywoofer.png');background-color: #000;"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/runindia.png');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/onspon.png');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/eventseeker.png');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/Eventful.jpg');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/Eventjini.png');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/Eventmaxima.png');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/buzzintown.png');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/paytm.jpg');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/Eventbrite.png');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/thecollegefever.png');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/eventsflare.png');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/playnlive.png');background-color: #000;"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/buzzonify.png');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/Buzzingbubs.png');background-size: contain;background-color: #000;"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/Dare2compete.svg');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/eventsinformer.png');background-color: #000;"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/indiaevents.jpg');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/bookanyevent.png');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/entryticket.png');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/international-fair.png');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/buzz-my-event.png');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/events-near-here.png');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/indyadirectory.gif');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/adventures365.png');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/hyderabad-events.png');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/conferencealerts-co-in.png');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/conferencealerts-com.jpg');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/allconferencealert-org.png');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/allconferencealerts-org.png');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/allconferencealerts-in.png');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/allconferencealert-net.png');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/allconferencealerts-com.png');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/allconferencealert-com.png');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/all-conferences-com.png');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/Ticketgenie.png');"></div></div>
                            <!-- <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/bookmyshow.png');"></div></div> -->
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/conferencealerts.png');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/conferenceseries.png');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/indiacore.gif');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/just-run-lah.png');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/ticket-express.png');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/eventsget.jpg');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/Festpav.jpg');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/flockstation.jpg');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/Goevnts.jpg');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/Indiaeve.png');"></div></div>
                            <div class="col-md-2"><div class="publisher" style="background-image: url('/media/partners/webindia123.png');"></div></div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        {% include 'static/common/social.html' %}
        {% include 'static/common/footer.html' %}
        {% include 'static/common/js.html' %}


    </body>

</html>
