{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <title>Privacy policies of Ercess Live | Ercess.com/Live</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
        <meta name="description" content="Ercess Live is one of the best platforms for event promotion. If you want to know more about our privacy policy and terms/conditions, this page will help you to understand our privacy policies which is helpful for future event booking." />
        <meta name="keywords" content="Privacy Policy, Ercess Live" />
        <link rel="shortcut icon" href="{% static 'images/fav.ico' %}">
        <meta name="google-site-verification" content="Hp-UR63f6b4b-tVU0rbbM4gE6AEHcRCbZ8vtbxRnpC4" />
        <!--[if IE]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->

        {% include 'static/common/css.html'%}

    </head>
    <body>

        {% include 'static/common/header2.html' %}
        <section class="wow fadeIn cover-background background-position-top top-space" style="background-image:url({% static 'images/contact-banner.jpg' %});">
            <div class="opacity-medium bg-extra-dark-gray"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 display-table page-title-large">
                        <div class="display-table-cell vertical-align-middle text-center padding-30px-tb">
                            <h1 class="alt-font text-white font-weight-600 no-margin-bottom">Privacy Policy</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-sm-12 col-xs-12 center-col xs-text-center">
                        <p class="text-justify xs-text-center text-medium line-height-28 xs-line-height-26">Ercess Live is an event promotion and sales platform, working hard to make lives more eventful. In order to provide information and services to visitors and registered users of the website https://ercess.com from time to time, we collect, store, process and transfer certain personal information of the users. This privacy policy (Privacy Policy) sets out the practices and policies followed by ERCESS LIVE in connection with the personal information and/or sensitive personal data or information that ERCESS LIVE may collect from users. By using the website and/ or by providing information (as defined below), users consent to the collection and use of information they disclose on the website in accordance with the privacy policy, including but not limited to consent for sharing user information as per the privacy policy.</p>
                        <p class="text-justify xs-text-center">The Privacy Policy, read along with the terms and conditions of the Website (Terms) constitutes a legal and binding agreement between the user and ERCESS LIVE and is enforceable under the laws of India.</p>
                        <p class="text-justify xs-text-center">The Privacy Policy is subject to revisions at any time, as determined by ERCESS LIVE, without notice and any such changes are effective immediately upon being posted on the Website; any use of the Website thereafter will be deemed to be an acceptance of these changes by the user. Users are strongly urged to read the Privacy Policy in its entirety and to periodically check to understand how modifications or revisions to this policy affect the use of their information. Ercess shall not be responsible for any user’s failure to remain informed about such changes.</p>
                        <p class="text-justify xs-text-center">The safety of user information is extremely important to us. Thus, the Privacy Policy defines user rights in relation to the information the user provides ERCESS LIVE and answers questions that the user may have about the manner in which Ercess Live collects, uses, stores and safeguards their information. Most importantly, the Privacy Policy will explain the following in detail:</p>
                        <p class="text-justify xs-text-center">When users interact with Ercess Live, we collect some information which may be personal data or non-personal data. The limitation on data collection is to access certain information about the user and also store some data on the web browser to provide user personalized experience.</p>
                        <h5>What information are accessed-</h5>
                        <p class="text-justify xs-text-center"><b>All users:</b></p>
                        <p class="text-justify xs-text-center">For all users, we collect personal information when:</p>
                        <ol class="text-left">
                            <li>Sign up</li>
                            <li>Login</li>
                            <li>Contact us/organizer</li>
                            <li>Any Survey/Feedback</li>
                        </ol>
                        <p class="text-justify xs-text-center">The information we collect are:</p>
                        <ol class="text-left">
                            <li>Name</li>
                            <li>Email address</li>
                            <li>Mobile/Phone number</li>
                            <li>Location (Not address)</li>
                            <li>Picture</li>
                            <li>Gender</li>
                            <li>Designation</li>
                            <li>The likes/preferences you have set on social networking sites.</li>
                        </ol>
                        <p class="text-justify xs-text-center"><b>Organizers:</b></p>
                        <p class="text-justify xs-text-center">What we collect:</p>
                        <ol class="text-left">
                            <li>Event details, including but not limited to venue details</li>
                            <li>Contact details of colleagues</li>
                            <li>Bank details</li>
                            <li>Company registration number (CIN number)</li>
                        </ol>
                        <h5>Why we collect information-</h5>
                        <ol class="text-left">
                            <li><b>We use information to respond to your inputs/requests:</b></li>
                            <ol class="text-left">
                                <li>As a part of the sign-up process, we collect name, email address, gender and contact number. We may ask for your geographical location to provide the list of events happening in the city.</li>
                                <li>In case of any transaction made to access content on the Website, we may collect sensitive personal information such as credit/debit card details. Additionally, as a part of the sign-up process, we may also require for you to create a password. You may note that we adopt reasonable security measures to protect your password from being exposed or disclosed to anyone.</li>
                                <li>Other information that we may collect include messages and emails you send us and the comments posted or shared by you on the Website.</li>
                            </ol>
                            <li><b>We use information to improve our product:</b> We may use your information, especially your preferences to improve our data, displaying the content based on your taste.</li>
                            <li><b>We use information for research on trends:</b> We use your information on how you explore the website in order to understand your behavior and interests on trends/fashion.</li>
                            <li><b>We use information for our promotion announcements:</b> We may send promotional details/contents via email or push notifications to the provided email address, mobile number or to your computer.</li>
                            <li><b>We use information as otherwise permitted by law:</b> We keep your information as long as we need it and is relevant to our business. We also keep your details to resolve disputes, enforce our agreements.</li>
                        </ol>
                        <h5>How we disclose and transfer user personal data-</h5>
                        <ol class="text-left">
                            <li><b>Information is shared in case of ticket sale:</b> When you purchase a ticket, Ercess collects the billing details consisting of name, email address and contact number. It shares the same with the respective event organizer, so that both the parties can contact each other. After the payment process, we collect details of attendees at least but not limited to; name, email address and contact number, because the organizer may request for several other details that may seem relevant to the event.</li>
                            <li><b>Our association with third party organizations:</b> Ercess is associated with a few third party organizations, but will not share customer data commercially. Any claim will not be entertained and appropriate action will be taken.</li>
                            <li><b>Parent companies, subsidiaries and affiliates:</b> Ercess Live may transfer user data to its parent company Ercess Incorporation for business purposes, its subsidiaries and affiliates. In future, if Ercess Live acquires any company, then user’s information may be transferred to its subsidiary.</li>
                            <li>If a user is interested in any event and he RSVPs the event, the submitted details will be shared with the respective organizer.</li>
                        </ol>
                        <h6 class="text-center">Any dispute, query, suggestion raised by the user will directly be shared with respective organizer. Ercess Live is not responsible for how your information is accessed by event organizer.</h6>
                        <h5>How we disclose and transfer organizer data-</h5>
                        <ol class="text-left">
                            <li>Any user/organization interested in an event in any way, may contact the organizer directly or via Ercess Live.</li>
                            <li>We may share contact information with our third party organizations if necessary, <b>but not commercially</b>.</li>
                            <li>When tickets are sold from our platform, the contact details of organizer will be shared with the attendee in order to create ease of communication.</li>
                        </ol>
                        <h6 class="text-center">Any dispute arising out of the use of the website is subject to the Indian civil laws and Cyberlaw such that, legal proceeding will take place accordingly.</h6>
                    </div>
                </div>
            </div>
        </section>

        {% include 'static/common/social.html'  %}
        {% include 'static/common/footer.html' %}
        {% include 'static/common/js.html' %}
    </body>
</html>