{% load static %}
<!doctype html>
<html class="no-js" lang="en">
    <head>
        <title>Provide Details to Get Cashback | Ercess Live</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
        <meta name="description" content="Login to Ercess Live account to manage your events, promote, sell tickets, and sell stall spaces." />
        <link rel="shortcut icon" href="{% static 'images/fav.ico'%}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <meta name="google-site-verification" content="Hp-UR63f6b4b-tVU0rbbM4gE6AEHcRCbZ8vtbxRnpC4" />
        {% include 'static/common/css.html' %}
        <!--[if IE]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->

        <style>
            body{
                background: #da2021;
            }
            label{
                visibility: hidden;
                display: none;
            }
            section{
                padding: 15px 0;
                background: #da2021;
            }
            .box{
                width: 100%;
                padding: 30px;
                border-radius: 6px; 
                background: #ffffff;
            }
        </style>

       <!--  <script>
            $(document).ready(function () {
                $("#id_email").addClass("big-input");
                $("#id_password").addClass("big-input");
                $("#id_rpassword").addClass("big-input");
            });

        </script> -->
    </head>
    <body>
        

        <section class="wow fadeIn" id="start-your-project">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-4 visible-lg visible-md">
                        <img src="/static/images/signup-page.png" />
                    </div>
                    <div class = 'col-md-8 col-lg-8 text-center'>
                        <div class="box" id="cashback-details-form">
                            <a href="/live/"><img src="/static/images/logo.png" class="margin-50px-bottom" /></a>
                        
                            {% if messageData.token_type == 'cashback' %}
                                {% if messageData.responseType == 'success' %}
                                    {% if messageData.messageType == 'error' %}
                                        <div class="alert alert-danger margin-40px-top">{{ messageData.message }}</div>
                                    {% endif %}

                                    {% if messageData.messageType == 'success' %}
                                        <input type="hidden" style="display: none;" value="{{messageData.email}}" id="referrerEmail">
                                        <select id="paymentPlatform" class="big-input" required>
                                            <option value="google_pay">Google Pay</option> 
                                            <option value="phone_pay">Phone Pay</option> 
                                        </select>

                                        <input type="number" id="mobileNumber" placeholder="Number" class="big-input" required> 
                                        <button type="button" class="btn btn-transparent-dark-gray btn-large margin-20px-top" onclick="submitCashbackDetails()">SUBMIT DETAILS</button> 
                                    {% endif %}
                                {% endif %}
                                {% if messageData.responseType == 'error' %}
                                    <div class="alert alert-danger margin-40px-top">{{ messageData.message }}</div>
                                {% endif %}
                            {% endif %}

                        </div>

                        <!-- div for success -->
                        <div class="box" id="success-div">
                            <div class="alert alert-success">
                                <span style="font-weight: bold; font-size: 20px;">
                                    Your Cashback Details Successfully Updated with Our Records
                                </span>
                            </div>
                        </div>
                        <!-- ends here ~ div for success -->
                    </div>
                </div>
            </div>
        </section>
            {% include 'static/common/js.html' %}
    </body>
    <script type="text/javascript">
        
        $("#success-div").hide();

        toastr.options = {
            closeButton: true,
            newestOnTop: true,
            progressBar: true
        };
        function toastrErrorMsg(title, message) {
            toastr.error(message, title)
        }
        function toastrSuccessMsg(title, message) {
            toastr.success(message, title)
        }
        let mobileRegex = /[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}/im;

        let pageUrl = window.location.href.split('/');
        let urlSlug = pageUrl.pop() || pageUrl.pop();  // handle potential trailing slash


        function submitCashbackDetails() {
            let paymentPlatformVal = $("#paymentPlatform").val();
            let mobileNumberVal = $("#mobileNumber").val();
            let emailVal = $("#referrerEmail").val();
            console.log(mobileNumberVal, mobileRegex.test(mobileNumberVal),paymentPlatformVal)

            // let pageUrl = window.location.href.split('/');
            // let urlSlug = pageUrl.pop() || pageUrl.pop();  // handle potential trailing slash


            toastr.clear();

            if(mobileNumberVal == '' || mobileNumberVal == undefined) {
                toastrErrorMsg("Error","Please provide us mobile number.")
            } else if(mobileRegex.test(mobileNumberVal) == false) {
                toastrErrorMsg("Error","Mobile Number is Invalid.")
            } else {
                let cashbackDetailsPayload = {'mobile_number':mobileNumberVal,'paymentPlatform':paymentPlatformVal, 'email_id':emailVal, 'token':urlSlug}

                $.ajax({
                    type: "POST",
                    dataType: "json",
                    data: JSON.stringify(cashbackDetailsPayload),
                    success: function(response) {
                        console.log(response)
                        if(response.responseType == 'success') {
                            if(response.messageType == 'error') {
                                toastrErrorMsg("Error",response.message)
                            } else if(response.messageType == 'success') {
                                toastrSuccessMsg("Success",response.message)
                                setTimeout(function(){
                                    $("#cashback-details-form").hide();
                                    $("#success-div").show();
                                    // window.location.href = response.url
                                },100)

                            }       
                        }
                    }
                });
            }
        }
    </script>
</html>

