{% extends "dashboard/create_event.html" %}
{% block title %}Add questions for your attendees - Ercess Live{% endblock title %}
{% block step_six %}
<style>
   [type=checkbox]:checked, [type=checkbox]:not(:checked){
   position: static;
   opacity: 1;
   }
</style>
<section class="content">

   <div class="container arrow-steps clearfix" id="step6_completeForm">
      <div class="row heading">
         <div class="col-md-12">
            <h2 class="text-dark mt-20">Create questions to ask your attendees</h2>
            <!-- <div class="md-stepper-horizontal red">
               <div class="md-step active done">
                 <div class="md-step-circle"><span>1</span></div>
                 <div class="md-step-title">Basic details</div>
                 <div class="md-step-bar-left"></div>
                 <div class="md-step-bar-right"></div>
               </div>
               <div class="md-step active done">
                 <div class="md-step-circle"><span>2</span></div>
                 <div class="md-step-title">Set targets</div>
                 <div class="md-step-bar-left"></div>
                 <div class="md-step-bar-right"></div>
               </div>
               <div class="md-step active done">
                 <div class="md-step-circle"><span>3</span></div>
                 <div class="md-step-title">Upload images</div>
                 <div class="md-step-bar-left"></div>
                 <div class="md-step-bar-right"></div>
               </div>
               <div class="md-step active done">
                 <div class="md-step-circle"><span>4</span></div>
                 <div class="md-step-title">Description</div>
                 <div class="md-step-bar-left"></div>
                 <div class="md-step-bar-right"></div>
               </div>
               <div class="md-step active done">
                 <div class="md-step-circle"><span>5</span></div>
                 <div class="md-step-title">Add tickets</div>
                 <div class="md-step-bar-left"></div>
                 <div class="md-step-bar-right"></div>
               </div>
               <div class="md-step active">
                 <div class="md-step-circle"><span>6</span></div>
                 <div class="md-step-title">Custom questions</div>
                 <div class="md-step-bar-left"></div>
                 <div class="md-step-bar-right"></div>
               </div>
               </div> -->
         </div>
      </div>
      <div class="row">
         <form action="" method="POST" id="msform" name='question_form' class="col-md-12 mt-50 pb-30" autocomplete="off">
            {% csrf_token %}
            <div class="row">
               <div class="col-md-4">
                  <label> Name <sub>(Default question)</sub></label>
                  <input class="form-control" type="text" placeholder="Name *" readonly="">
               </div>
               <div class="col-md-4">
                  <label> Contact No. <sub>(Default question)</sub></label>
                  <input class="form-control" type="text" placeholder="Contact No. *" readonly="">
               </div>
               <div class="col-md-4 mb-40">
                  <label> Email <sub>(Default question)</sub></label>
                  <input class="form-control" type="text" placeholder="Email *" readonly="">
               </div>
            </div>
            <fieldset>
               <div id="dialog-form" title="Create Question">
                  <!-- alert div -->
                  <div class="alert alert-danger form-control" id="errorAlert">
                     <strong style="color: white" id="errorAlertText"></strong>
                  </div>
                  <!-- ends here ~ alert div -->
                  <input placeholder='Question Title*' type="text" id="email" class="text ui-widget-content ui-corner-all form-control form-control-sm mb-20" required />
                  <select id="type-response" class="form-control form-control-sm mb-20" onchange="changeQuesType(this)">
                     {% for val in context %}
                     <option value="{{ val|first }}"> {{ val|last }} </option>
                     {% endfor %}
                  </select>
                  <input type="text" placeholder="If dropdown, provide options comma seperated"
                     name="password" id="password" value=""
                     class="text ui-widget-content ui-corner-all form-control form-control-sm mb-20" />
               </div>
               <div id="users-contain" class="ui-widget">
                  <div class="table-responsive">
                     <table id="questions" class="table table-hover">
                        <thead>
                           <tr>
                              <th>Mandatory</th>
                              <th>Question Title</th>
                              <th>Type Of Response</th>
                              <th>Options for Multiple Choice</th>
                              <th>Actions</th>
                           </tr>
                        </thead>
                        <tbody style="word-break: break-word;">
                        </tbody>
                     </table>
                  </div>
               </div>
               <!-- <input type='button' class="btn btn-danger mt-20" id="create-user" value='+ Create questions'/> -->
            </fieldset>
         </form>
         <div class="col-md-12">
            <button type="submit" class="btn btn-danger mt-40 mr-20 mb-50" id="create-user">+ Create question</button>
            <button type="submit" class="float-right btn btn6 btn-danger mt-40">Submit</button>
         </div>
      </div>
   </div>
   <!-- ends here ~ for step 6 default form -->

   <!-- div for show paid_marketing packages -->
   <div class="container arrow-steps clearfix" style="display: none;padding: 10px;" id="paid_marketing_div">
      <div class="col-md-12" style="text-align: right;">    
        <button type="submit" class="btn btn-danger" onclick="skipPaidMarketing()">Skip</button>
      </div>
   </div>
   <!-- ends here ~ div for show paid_marketing packages -->

   <!-- div for show unlock rsvp packages -->
   <div class="container arrow-steps clearfix" style="display: none;padding: 10px;" id="unlock_rsvp_div">
      <div class="col-md-12" style="text-align: right;">    
        <a class="btn btn-danger" href="{% url 'dashboard:event_added' %}">Skip</a>
      </div>
   </div>
   <!-- ends here ~ div for show unlock rsvp packages -->


</section>
<script>
   var unlockRsvpContent = '';

   // append default (referral code) question to dom
   $('#questions tbody').append("<tr>" + "<td><input type='checkbox'></td>" +  "<td>Enter Referrer Code</td>" +"<td>text</td> <td></td> <td></td> </tr>");
   // ends here ~ append default (referral code) question to dom

   function skipPaidMarketing() {
       $("#paid_marketing_div").slideUp('slow');
       $("#unlock_rsvp_div").append(unlockRsvpContent);
       $("#unlock_rsvp_div").slideDown('slow');
   }
   //new function for dom manipulation dropdown
   function changeQuesType(elementPar) {
     let quesTypeVal = $(elementPar).find(":selected").text().trim()
     if(quesTypeVal == 'dropdown') {
       $(password).css('display','block');
     } else {
       $(password).css('display','none');
     }
   }
   // ends here ~ new function for dom manipulation dropdown
   
   // function for hide error alert box after some time 
   function showError(val) {
       $(error_alert_text).html(val);
       $(error_alert).css('display','block');
       setTimeout(function(){ $(error_alert).css('display','none'); }, 5000);
   }
   // ends here ~ function for hide error alert box after some time 
   
   var dlg, fname, email, password, error_alert, error_alert_text;
    $(function () {
   
   
   
   
   var flag = true;
   var new_dialog = function (type, row) {
       // var dlg = $("#dialog-form").clone();
       // var fname = dlg.find(("#type-response")),
       //     email = dlg.find(("#email")),
       //     password = dlg.find(("#password"));
   
       dlg = $("#dialog-form").clone();
       fname = dlg.find(("#type-response"));
       email = dlg.find(("#email"));
       password = dlg.find(("#password"));
       error_alert = dlg.find(("#errorAlert")); 
       error_alert_text = dlg.find(("#errorAlertText"));
   
       // new code
       $(error_alert).css('display','none');
       $(password).css('display','none');
       // ends here ~ new code
   
       type = type || 'Create';
       var config = {
           autoOpen: true,
           height: 300,
           width: 550,
           modal: true,
           buttons: {
               "Add": save_data,
               "Cancel": function () {
                   dlg.dialog("close");
               }
           },
           close: function () {
               dlg.remove();
           }
       };
   
       if (type === 'Edit') {
           config.title = "Edit Question";
           get_data();
           delete(config.buttons['Add']);
           config.buttons['Done Editing'] = function () {
               save_data();
               if(flag == true){
                 row.remove();
               }
           };
   
       }
       dlg.dialog(config);
       function get_data() {
           var _que = $(row.children().get(1)).text(),
               _ops = $(row.children().get(3)).text();
           email.val(_que);
           password.val(_ops);
       }
      function save_data() {
   
         if(email.val()==""){
               showError("Please enter question title");
              // alert("Question Title is Mandatory");
              return false;
         } else if(email.val()[0] != email.val()[0].toUpperCase()){
               showError("First character of question must be capital");
              return false;
         } else if(email.val().length > 150){
               showError("Maximum 150 characters are allowed");
              return false;
         } else if(/^([a-zA-Z0-9]+\s)*[a-zA-Z0-9]+$/.test(email.val()) == false) {
           showError("Question title is invalid. Please remove unwanted spaces");
           return false;
         }
         if(fname.find("option:selected").text().trim() == 'dropdown'){
             if(password.val()==""){
                    showError("Please provide options for users to select");
                    flag=false;
                    return false;
             }
   
         }
         flag=true;
        $('#questions tbody').append("<tr>" + "<td><input type='checkbox'></td>" +  "<td >" + email.val() + "</td>" +"<td>" + fname.find("option:selected").text().trim() + "</td>" + "<td>" + password.val() + "</td>" + "<td><a href='#' class='edit-link mr-10'><i class='fa fa-pencil'></i></a><span class='delete edit-link'><a href=''><i class='fa fa-trash'></i></a></span></td>" + "</tr>");
           dlg.dialog("close");
       }
   };
   
   $(document).on('click', 'span.delete', function () {
       var checkstr =  confirm('Are you sure you want to delete this?');
       if(checkstr == true){
           $(this).closest('tr').find('td').fadeOut(1000,
               function () {
   
               $(this).parents('tr:first').remove();
           });
       }
       return false;
   });
   $(document).on('click', 'td a.edit-link', function () {
       new_dialog('Edit', $(this).parents('tr'));
       return false;
   });
   
   $('#create-user').click(new_dialog);
   $(".btn6").click( function(e){
       // e.preventDefault();
    var checkstr =  confirm('Are you sure you want to submit?');
    if(checkstr == true){
        var all_questions =[];
        var count=0;
   
   if(document.getElementById('questions').getElementsByTagName("tr").length > 1){
        $("#questions>tbody>tr").each(function(){
                     var temp=[];
                    var $tds = $(this).find('td');
                    var bool_value = $tds.find('input[type="checkbox"]').is(':checked')
                    if(bool_value ){
                         var mandate =1;
                    }
                    else{
                         var mandate =2;
                    }
                       var title = $tds.eq(1).text();
                       var type = $tds.eq(2).text();
                       var ops = $tds.eq(3).text();
                    if(ops===""){
                      temp.push(mandate, title, type);
                    }
                    else{
                      temp.push(mandate, title, type, ops);
                    }
                   all_questions.push(temp);
                   count = count+1;
           });
      }
      // console.log('all_questions >> ',all_questions);
      // return false;
       $.ajax({
   
           type: 'POST',
           //url:url,
           data: {'data':all_questions,
                   csrfmiddlewaretoken: '{{ csrf_token }}'
                 }, //jQuery.param(data)
           success: function(success_url){
               window.location.href = success_url;
               // let ajaxResponse = JSON.parse(resp)
               // $("#step6_completeForm").slideUp('slow');

               // $("#paid_marketing_div").append(ajaxResponse.paid_promo_tmp);
               // $("#paid_marketing_div").slideDown('slow');

               // unlockRsvpContent = ajaxResponse.unlock_rsvp_tmp

           }
       });
    }
    else{
       return false;
   }
   });
   
   
   });
   
   
</script>
{% endblock step_six %}