{% extends "dashboard/create_event.html" %}

{% block title %} Your purchase failed - Ercess Live {% endblock title %}

{% block og %}

<section class="content">
    <div class="container arrow-steps clearfix">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger text-center mb-80 mt-15">
                    <h3 class="mt-0">OOPS! Your Purchase for {{event_name}} is Failed</h3>
                </div>
                <!-- table for show payment details -->
                <table class="table table-striped">
                  <tbody>
                    <tr>
                      <th>Event Name</th>
                      <td>{{event_name}}</td>
                    </tr>
                    <tr>
                      <th>Organizer Name</th>
                      <td>{{organizer_name}}</td>
                    </tr>
                    <tr>
                      <th>Package Name</th>
                      <td>{{packge_name}}</td>
                    </tr>
                    <tr>
                      <th>Amount (Failed)</th>
                      <td>{{amount_failed}}</td>
                    </tr>
                  </tbody>
                </table>
                <!-- ends here ~ table for show payment details -->
            </div>
        </div>
    </div>

{% endblock og %}