{% extends "dashboard/create_event.html" %}

{% block title %} Payment Success Page - Ercess Live {% endblock title %}

{% block og %}

<section class="content">
    <div class="container arrow-steps clearfix">
        <div class="row">
          <!--   <div class="col-md-12" style="text-align: right;padding: 20px;">
                <a class="btn btn-danger" href="/live/dashboard">GO TO DASHBOARD</a>
            </div> -->
            <div class="col-md-12">
                <div class="alert alert-danger text-center mb-80" style="margin-top: 20px;">
                    <h3>Congratulations! Payment is Successfully done for {{event_name}} Event</h3>
                </div>

                <!-- table for show payment details -->
                <table class="table table-striped">
                  <tbody>
                    <tr>
                      <th>Event Name</th>
                      <td>{{event_name}}</td>
                    </tr>
                    <tr>
                      <th>Organizer Name</th>
                      <td>{{organizer_name}}</td>
                    </tr>
                    <tr>
                      <th>Package Name</th>
                      <td>{{packge_name}}</td>
                    </tr>
                    <tr>
                      <th>Amount Paid</th>
                      <td>{{amount_paid}}</td>
                    </tr>
                    <tr>
                      <th>Package Price</th>
                      <td>{{packge_price}}</td>
                    </tr>
                    <tr>
                      <th>Package Tax</th>
                      <td>{{packge_tax}}</td>
                    </tr>
                    <tr>
                      <th>Total Amount Paid:</th>
                      <td>{{total}}</td>
                    </tr>
                  </tbody>
                </table>
                <!-- ends here ~ table for show payment details -->
            </div>
        </div>
    </div>

  
   
{% endblock og %}
