{% extends "dashboard/create_event.html" %}

{% block title %} {{title}} - Ercess Live {% endblock title %}

{% block og %}
<style type="text/css">
    .content-wrapper {
        margin-left: 0px !important;
    }
</style>
{% block side_nav %}
{% endblock side_nav %}
<section class="content">
    <div class="container arrow-steps clearfix">
        <div class="row heading">
            <div class="col-md-12 border-bottom-heading">
                <h1 class="text-dark mb-30">{{head_text}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center">Buy - {{title}}</h4>
                <!-- <a data-toggle="modal" data-target="#buyPackageModal"> -->
                    <div class="box box-default color-palette-box">
                        <div class="box-body" style="padding:15px;">
                            <div class="row">
                                {% for package in packageList %}
                                  <a class="col-md-6" href="{% url 'dashboard:buy-premium-package' event_id package.charges_id 0 0 purpose_of_payment %}">
                                      {{package.service_details | safe}}
                                  </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                <!-- </a> -->
            </div>
        </div>
    </div>

  
   
{% endblock og %}
