{% extends "dashboard/create_event.html" %}
{% load rest_framework %}


{% block step_one %}
  

<section class="content">
    <div class="container arrow-steps clearfix">
        <div class="row heading">
            <div class="col-md-12 border-bottom-heading">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="text-dark">Bank details</h2>
                    </div>
                    <div class="col-md-6 text-right">
                        {% if flag == False %}
                            <button type="button" class="btn pull-right btn-danger text-white mt-15" onclick="openModal('editBankDetails')"><i class="fa fa-pencil"></i> Edit</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% if flag %}
                <div class="alert alert-danger text-center mb-80 mt-50">
                    <h4>WE DON'T HAVE YOUR BANK DETAILS !</h4>
                    <button type="button" class="btn btn-default btn-sm mt-20" onclick="openModal('addBankDetails')">
                      <i class="fa fa-plus mr-10"></i> Add bank details
                    </button>
                </div>

                {% else %}
                <div class="row">
                    <div class="col-md-6">
                        <table class="table">
                            <tr>
                                <td><h4 class="mb-0">Bank Name</h4></td>
                                <td>{{ i.bank_name }}</td>
                            </tr>
                            <tr>
                                <td><h4 class="mb-0">Account Holder Name</h4></td>
                                <td>{{ i.ac_holder_name }}</td>
                            </tr>
                            <tr>
                                <td><h4 class="mb-0">Account Type</h4></td>
                                <td>{{ i.ac_type }}</td>
                            </tr>
                            <tr>
                                <td><h4 class="mb-0">Account Number</h4></td>
                                <td>{{ i.ac_number }}</td>
                            </tr>
                            <tr>
                                <td><h4 class="mb-0">IFSC Code</h4></td>
                                <td>{{ i.ifsc_code }}</td>
                            </tr>
                            <tr>
                                <td><h4 class="mb-0">Branch Name</h4></td>
                                <td>{{ i.branch }}</td>
                            </tr>
                            <tr>
                                <td><h4 class="mb-0">GST Number</h4></td>
                                <td>{{ i.gst_number }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="modal modal-right fade" id="bank-details-modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add your bank details</h5>
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="" method="POST" id="bankDetailsForm">    {% csrf_token %}
                <fieldset>
                   {% render_form serializer template_pack='rest_framework/vertical' %}

                <button type="submit" class="btn btn-danger">Save Details</button>
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>

                </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
</section>

<!-- new js code -->
<script type="text/javascript">
    function openModal(mode) {
        if(mode == 'editBankDetails') {
            // open model in edit mode

            // set value in form
            $("input[name='bank_name']").val('{{ i.bank_name }}');
            $("input[name='ac_holder_name']").val('{{ i.ac_holder_name }}');
            $("input[name='ac_number']").val('{{ i.ac_number }}');
            $("input[name='ifsc_code']").val('{{ i.ifsc_code }}');
            $("input[name='branch']").val('{{ i.branch }}');
            $("input[name='gst_number']").val('{{ i.gst_number }}');
            $("select[name='ac_type']").val('{{ i.ac_type }}');
            // set value in form

            // change form action
            $('#bankDetailsForm').attr( 'action','/live/dashboard/edit-bank-details');
            // ends here ~ change form action

            // open model by JQuery
            $('#bank-details-modal').modal('show');
            // ends here ~ open model by JQuery
            

            // ends here ~ open model in edit mode
        } else {
            // open model in add mode
            $('#bankDetailsForm').attr( 'action','');
            $('#bank-details-modal').modal('show');
            // ends here ~ open model in add mode
        }
    }
</script>

<!-- ends here ~ new js code -->

{% endblock step_one %}

