{% extends "dashboard/create_event.html" %}

{% block title %} Buy our premium packages - Ercess Live {% endblock title %}

{% block og %}
<style type="text/css">
    .content-wrapper {
        margin-left: 0px !important;
    }
</style>
{% block side_nav %}
{% endblock side_nav %}
<section class="content">
    <div class=" arrow-steps clearfix">
        <div class="row">
            <div class="col-md-9">
                <form action="{{ data.action }}"  name="payuForm" method="post">    
                {% csrf_token %}        
                <input type="hidden" name="key" value="{{ data.key }}" />            
                <input type="hidden" name="hash" value="{{ data.hash }}"/>            
                <input type="hidden" name="txnid" value="{{ data.txnid }}" />
                <input type="hidden" name="amount" value="{{ data.amount }}" />
                <input type="hidden" name="email" value="{{ data.email }}" />
                <input type="hidden" name="firstname" value="{{ data.firstname }}" />
                <input type="hidden" name="phone" value="{{ data.phone }}" />
                <input type="hidden" name="productinfo" value="{{ data.productinfo }}"/>
                <input type="hidden" name="surl" value="{{ data.surl }}"/>
                <input type="hidden" name="furl" value="{{ data.furl }}" />
                <input type="hidden" name="service_provider" value="{{ data.service_provider }}" />
                <input type="hidden" name="udf1" value="{{ data.udf1 }}" />
                <input type="hidden" name="udf2" value="{{ data.udf2 }}" />
                <div class="card">
                    <div class="small-step">1</div>
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="ml-40 pl-15">Vishal</h2>
                        </div>
                        <div class="col-md-4 text-right">
                            <p class="pt-15"><i class="fa fa-envelope" aria-hidden="true"></i> {{data.email}}</p>
                        </div>
                        <div class="col-md-2">
                            <p class="pt-15"><i class="fa fa-mobile" aria-hidden="true"></i> {{data.phone}}</p>
                        </div>
                    </div>
                </div>

                <div class="card mt-30">
                    <div class="small-step">2</div>
                    <div class="col-md-12">
                        <h2 class="ml-40">Order & item details</h2>
                        <h3 class="mt-50">Package name goes here</h3>
                        <p>Purchase date & time here</p>

                        <P><small>After clicking 'PROCEED TO CHECKOUT' button, you will be redirected to PayUMoney Secure Payment Gateway.</small></P>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <input type="submit" class="btn btn-danger btn-lg mb-50" value="PROCEED TO CHECKOUT">
                            </div>
                        </div>
                    </div>
                </div>

            </form>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card pl-15 pr-15 pb-15">
                            <h2>PRICE DETAILS</h2>
                            <div class="row">
                                <div class="col-md-6">
                                    Unit Price:
                                </div>
                                <div class="col-md-6 text-center">
                                    {{extra_info.packageChargeBeforeTax}}
                                </div>
                                <div class="clearfix mb-10"></div>
                                <div class="col-md-6">
                                    {{extra_info.tax_name}}:
                                </div>
                                <div class="col-md-6 text-center">
                                    {{extra_info.tax_value}}
                                </div>
                                <div class="clearfix mb-10"></div>
                                <hr />
                                <div class="col-md-6">
                                    <b>TOTAL:</b>
                                </div>
                                <div class="col-md-6 text-center">
                                    {{data.amount}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <p class="mt-30"><small><b>ERCESS LIVE SECURE</b></small></p>
                        <p><i class="fa fa-shield relative p-1" aria-hidden="true"></i> <small><b>100% Safe and Secure Payments</b></small></p>
                        <p><i class="fa fa-smile-o relative p-1" aria-hidden="true"></i> <small><b>Hundreds of people trust us</b></small></p>
                        <p class="text-center">
                            <i class="fa fa-cc-visa fa-2x pl-5 pr-5" style="color:navy;"></i>
                            <i class="fa fa-cc-mastercard fa-2x pl-5 pr-5" style="color:red;"></i>
                            <i class="fa fa-credit-card fa-2x pl-5 pr-5" aria-hidden="true"></i>
                        </p>
                        <hr>
                        <a href="https://ercess.com/live/contact/" target="_blank"><h3 class="text-center">Need help?</h3></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock og %}
