  {% load static %}

  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8">
      <title>{% block title %} {% endblock title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/static/images/fav.ico">
        <link rel="stylesheet" href="{% static 'dashboard/main.css' %}" type="text/css">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" type="text/css">
        <link rel="stylesheet" href="{% static 'dashboard/modified-datetime.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'assets/vendor_components/bootstrap/dist/css/bootstrap.min.css' %}" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/bootstrap-extend.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/master_style.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/skins/_all-skins.css' %}" type="text/css">
        <link href="{% static 'img_cpr/css/cropper.min.css' %}" rel="stylesheet">
        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
        <script src="https://cdn.ckeditor.com/4.13.1/standard-all/ckeditor.js"></script>


        <script src="{% static 'assets/vendor_components/jquery-3.3.1/jquery-3.3.1.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/additional-methods.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.0.1/jquery-migrate.min.js"></script>
        <script src="{% static 'dashboard/main.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.3/moment-with-locales.min.js"></script>
        <script src="{% static 'assets/vendor_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="https://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
        <script src="{% static 'dashboard/modified-datetime.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
        <script src="{% static 'img_cpr/js/cropper.min.js' %}"></script>


        {% block RSVP_head %}
        {% endblock RSVP_head %}
        {% block og_head %}
        {% endblock og_head %}
        {% block javascript%}

        {% endblock javascript %}

   </head>
   <body class="hold-transition skin-purple-light sidebar-mini bg-black">
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
      var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
      (function(){
      var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
      s1.async=true;
      s1.src='https://embed.tawk.to/5dc2e7cce4c2fa4b6bda5217/default';
      s1.charset='UTF-8';
      s1.setAttribute('crossorigin','*');
      s0.parentNode.insertBefore(s1,s0);
      })();
    </script>
    <!--End of Tawk.to Script-->
  <div class='wrapper'>
       <header class="main-header">
              <a href="{% url 'dashboard:how' %}" class="logo">
                  <span class="logo-lg">
                      <img src="{% static 'images/logo.png' %}" alt="logo" class="light-logo">
                  </span>
              </a>
  		    <nav class="navbar navbar-static-top">
        <a href="#"  data-toggle="push-menu" role="button" class="d-block d-sm-none">
          <i style="color: white;" class="glyphicon glyphicon-resize-horizontal"></i>
          <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
        </a>
  		  <div></div>
  	<div class="navbar-custom-menu">
          	<ul class="nav navbar-nav">

            		<li class="dropdown user user-menu">
              		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
                		<img src="{% static 'images/user-avatar.jpg' %}" class="user-image rounded-circle b-2">
  				          <span class="font-size-14">{{ request.session.firstname }} {{ request.session.lastname }}<i class="mdi mdi-chevron-down"></i></span>
              		</a>
              		<ul class="dropdown-menu scale-up">
                		<li class="user-body bt-0">
                  	<div class="row no-gutters">
                    		<!-- <div class="col-12 text-left">
                      		  <a href="{% url 'dashboard:profile' %}"><i class="glyphicon glyphicon-user"></i> My Profile</a>
                    		</div> -->

                    		<div class="col-12 text-left">
                      		  <a href="{% url 'dashboard:settings' %}"><i class="glyphicon glyphicon-cog"></i> Settings</a>
                    		</div>

  				  <div role="separator" class="divider col-12"></div>
  				    <div class="col-12 text-left">
                     			 <a href="{% url 'logout' %}"><i class="fa fa-power-off"></i> Logout</a>
                    		    </div>
                  		 </div>
                		</li>
             	 </ul>
            	</li>
             </ul>
  	      </div>
  	</nav>
       </header>
    {% block side_nav %}
    <aside class="main-sidebar">
      <section class="sidebar">

        <ul class="sidebar-menu pt-20" data-widget="tree">
            <li {% if request.path == "/live/dashboard/" %} class="active"{% endif %}>
              <a href="{% url 'dashboard:how' %}">
                <i class="glyphicon glyphicon-home"></i> <span>Home</span>
              </a>
  	        </li>
            <li {% if request.path == "/live/dashboard/organizer_dashboard" %} class="active"{% endif %}>
             <a href="{% url 'dashboard:organizer-dashboard' %}">
              <i class="glyphicon glyphicon-wrench"></i> <span>Manage events</span>
            </a>
          </li>
            <li >
             <a href="{% url 'dashboard:step_one' %}">
              <i class="glyphicon glyphicon-plus"></i> <span>Create events</span>
            </a>
          </li>
        {% if event_id %}
          <li {% if request.path == "/live/dashboard/create-stalls" %} class="active"{% endif %}>
            <a href="{% url 'dashboard:facilities' event_id %}">
             <i class="glyphicon glyphicon-plus"></i> <span>Create stalls</span>
           </a>
         </li>
        {% endif %}
          <li {% if request.path == "/live/dashboard/sales" %} class="active"{% endif %}>
             <a href="{% url 'dashboard:sales' %}">
              <i class="glyphicon glyphicon-signal"></i> <span>Sales report</span>
            </a>
          </li>
          <li {% if request.path == "/live/dashboard/RSVP" %} class="active"{% endif %}>
             <a href="{% url 'dashboard:leads' %}">
              <i class="glyphicon glyphicon-tags"></i> <span>RSVP</span>
            </a>
          </li>
            <!-- <li >
             <a href="{% url 'dashboard:inquiries' %}">
              <i class="glyphicon glyphicon-earphone"></i> <span>Customer inquiries</span>
            </a>
          </li> -->
            <li >
             <a href="{% url 'dashboard:legal' %}">
              <i class="glyphicon glyphicon-tags"></i> <span>Legal</span>
            </a>
          </li>
          <li {% if request.path == "/live/dashboard/bank-details" %} class="active"{% endif %}>
             <a href="{% url 'dashboard:bank_details' %}">
              <i class="glyphicon glyphicon-usd"></i> <span>Bank details</span>
            </a>
          </li>
          <li {% if request.path == "/live/dashboard/help" %} class="active"{% endif %}>
             <a href="{% url 'dashboard:help' %}">
              <i class="glyphicon glyphicon-book"></i> <span>Help Center</span>
            </a>
          </li>

        </ul>
      </section>
    </aside>
    {% endblock side_nav %}
    <div class="content-wrapper" >
  		{% block step_one %}
      {% endblock step_one %}
      {% block edit_one %}
      {% endblock edit_one %}
                  {% block step_two %}
  		{% endblock step_two %}
                  {% block step_three %}
  		{% endblock step_three %}
                  {% block step_four %}
  		{% endblock step_four %}
                  {% block step_six %}
  		{% endblock step_six %}
                  {% block step_success %}
                  {% endblock step_success %}
  		{% block RSVP %}
  		{% endblock RSVP %}
  		{% block og %}
      {% endblock og %}

    </div>


          {% include "dashboard/footer.html" %}

    <div class="control-sidebar-bg"></div>
  </div>

  	<script src="{% static 'assets/vendor_components/screenfull/screenfull.js' %}"></script>
  	<script src="{% static 'assets/vendor_components/popper/dist/popper.min.js' %}"></script>

  	<script src="{% static 'assets/vendor_components/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
  	<script src="{% static 'assets/vendor_components/fastclick/lib/fastclick.js' %}"></script>
  	<script src="{% static 'js/template.js' %}"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <!-- new content -->
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/payumoney@1.0.1/payumoney.js"></script> -->
    <!-- ends here ~ new content -->

    </body>
   
</html>
