{% extends "dashboard/create_event.html" %}

{% block title %} Create your stalls and sell to thousand of vendors - Ercess Live {% endblock title %}

{% block og %}


<section class="content">
    <div class="container arrow-steps clearfix">
        <div class="row heading">
            <div class="col-md-12 border-bottom-heading">
                <h2 class="text-dark">Create your stalls</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-info text-center mb-80">
                    <h4>BUY A PACKAGE FROM BELOW LIST AND UPLOAD THE DETAILS ON PLATFORM TO START THE SALE</h4>
                </div>
                <div class="box box-default color-palette-box">
                    <div class="box-body" style="padding:15px;">
                        <div class="row">
                            <div class="col-md-6">
                                <h4>Basic package</h4>
                                <ol>
                                    <li>Up to 30 genuine Leads provided</li>
                                    <li>Facebook ads worth Inr.1500</li>
                                    <li>Instagram ads worth Inr.1500</li>
                                </ol>
                                <h4>Rs. 4999.00</h4>
                            </div>
                            <div class="col-md-6">
                                <div class='pm-button text-right'><a href='https://www.payumoney.com/paybypayumoney/#/4535F021B95F6CA209AECEB18D882593'><img src='https://www.payumoney.com/media/images/payby_payumoney/new_buttons/21.png' /></a></div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-default color-palette-box">
                    <div class="box-body" style="padding:15px;">
                        <div class="row">
                            <div class="col-md-6">
                                <h4>Super package</h4>
                                <ol>
                                    <li>Up to 70 genuine Leads provided</li>
                                    <li>Facebook ads worth Inr.3000</li>
                                    <li>Instagram ads worth Inr.3000</li>
                                </ol>
                                <h4>Rs. 11999.00</h4>
                            </div>
                            <div class="col-md-6">
                                <div class='pm-button text-right'><a href='https://www.payumoney.com/paybypayumoney/#/56BC51FA43B7D1B89031BD2B8D460906'><img src='https://www.payumoney.com/media/images/payby_payumoney/new_buttons/21.png' /></a></div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-default color-palette-box">
                    <div class="box-body" style="padding:15px;">
                        <div class="row">
                            <div class="col-md-6">
                                <h4>VIP package</h4>
                                <ol>
                                    <li>Unlimited Leads provided</li>
                                    <li>A dedicated account manager</li>
                                    <li>Facebook ads worth Inr.7000</li>
                                    <li>Instagram ads worth Inr.7000</li>
                                </ol>
                                <h4>Rs. 24999.00</h4>
                            </div>
                            <div class="col-md-6">
                                <div class='pm-button text-right'><a href='https://www.payumoney.com/paybypayumoney/#/3034B364B982A313403CEC3C2D8DE2FD'><img src='https://www.payumoney.com/media/images/payby_payumoney/new_buttons/21.png' /></a></div> 
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
   
{% endblock og %}
