{% extends "dashboard/create_event.html" %}
{% load rest_framework %}
{% block title %}Create tickets to sell - Ercess Live{% endblock title %}


{% block step_one %}
<section class="content">
   <div class="container arrow-steps clearfix">
      <div class="row heading">
          <div class="col-md-12 border-bottom-heading">
            <div class="row">
              <div class="col-md-8">
               <h2 class="text-dark pb-20 pt-20">Edit tickets</h2>
              </div>
            </div>
            <div class="md-stepper-horizontal red">
                <div class="md-step active done">
                    <div class="md-step-circle"><span>1</span></div>
                    <div class="md-step-title">Update Basic details</div>
                    <div class="md-step-bar-left"></div>
                    <div class="md-step-bar-right"></div>
                </div>
                <div class="md-step active done">
                    <div class="md-step-circle"><span>2</span></div>
                    <div class="md-step-title">Update targets</div>
                    <div class="md-step-bar-left"></div>
                    <div class="md-step-bar-right"></div>
                </div>
                <div class="md-step active done">
                    <div class="md-step-circle"><span>3</span></div>
                    <div class="md-step-title">Update images</div>
                    <div class="md-step-bar-left"></div>
                    <div class="md-step-bar-right"></div>
                </div>
                <div class="md-step active done">
                    <div class="md-step-circle"><span>4</span></div>
                    <div class="md-step-title">Update Description</div>
                    <div class="md-step-bar-left"></div>
                    <div class="md-step-bar-right"></div>
                </div>
                <div class="md-step active">
                    <div class="md-step-circle"><span>5</span></div>
                    <div class="md-step-title">Update tickets</div>
                    <div class="md-step-bar-left"></div>
                    <div class="md-step-bar-right"></div>
                </div>
                <div class="md-step">
                    <div class="md-step-circle"><span>6</span></div>
                    <div class="md-step-title">Custom Questions</div>
                    <div class="md-step-bar-left"></div>
                    <div class="md-step-bar-right"></div>
                </div>
            </div>

          </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          
        </div>
        <form method="POST" id="msform" class="col-md-12 mt-50 mb-50" autocomplete="off">
          <div class="alert alert-info mt-30">
            Organizer must pay both Ercess convenience fee and Applicable tax.
          </div>    
          <fieldset>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <div class="input-group mb-3">
                    <input name="ticket_name" type="text" class="form-control" value="{{s.0}}" placeholder="Ticket Name*">
                    <div class="input-error alert alert-danger"></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group" >
                  <div class="input-group mb-3">
                    <select>
                      {% for entry in a %}
                      <option value="{{ entry }}">{{ entry.country }}</option>
                      {% endfor %}
                      <option value="">INR</option>
                    </select>
                    <input name="ticket_price" type="number" class="form-control" value="{{s.1}}" onkeyup="this.value = this.value.replace(/[^0-9]/, '')" placeholder="Ticket Price*" />
                    <div class="input-error alert alert-danger"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <div class="input-group mb-3">
                    <input name="other_charges" id="other_charges" type="number" class="form-control" value="{{s.2}}" onkeyup="this.value = this.value.replace(/[^0-9]/, '')" placeholder="Any tax?(optional)" />
                      <div class="input-error alert alert-danger"></div>
                    
                  </div>
                </div>

              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <div class="input-group mb-3">
                    <select class="form-control" name="other_charges_type" style="height:auto">
                      {% if s.3 == 1 %}
                      <option value="1" selected>Flat amount</option>
                      <option value="2">Percentage</option>
                      {% else %}
                      <option value="1">Flat amount</option>
                      <option value="2" selected>Percentage</option>
                      {% endif %}

                    </select>
                    <div class="input-error alert alert-danger"></div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group" >
                  <div class="input-group mb-3">
                    <input name="ticket_qty" id="ticket_qty" type="number" class="form-control" value="{{s.4}}" onkeyup="this.value = this.value.replace(/[^0-9]/, '')" placeholder="Total tickets on sale*" />
                    <div class="input-error alert alert-danger"></div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group"  >
                  <div class="input-group mb-3">
                    <input name="min_qty" id="min_qty" type="number" class="form-control" value="{{s.5}}" placeholder="Min. tickets to purchase*" onkeyup="this.value = this.value.replace(/[^0-9]/, '')" />
                    <div class="input-error alert alert-danger"></div>
                  </div>
                </div>

              </div>

              <div class="col-md-4">
                <div class="form-group"  >
                  <div class="input-group mb-3">
                    <input name="max_qty" id="max_qty" type="number" class="form-control" value="{{s.6}}" placeholder="Max tickets to purchase*" onkeyup="this.value = this.value.replace(/[^0-9]/, '')" />
                    <div class="input-error alert alert-danger"></div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <div class="input-group mb-3">
                    <input name="start_date" type="text" class="form-control" id="startdateticket1" value="{{s.7}}" placeholder="Start date of ticket sale*">
                    <div class="input-error alert alert-danger"></div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <div class="input-group mb-3">
                    <input name="start_time_step5" id="starttimepicker" class="input-small form-control" value="{{s.8|date:'H:i'}}" type="text" placeholder="Start time of ticket sale*">
                    <div class="input-error alert alert-danger"></div>

                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <div class="input-group mb-3">
                    <input name="end_date" type="text" class="form-control" id="enddateticket1" value="{{s.9}}" placeholder="End date of ticket sale*">
                    <div class="input-error alert alert-danger"></div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <div class="input-group mb-3">
                    <input name="end_time_step5" id="endtimepicker" class="input-small form-control" value="{{s.10|date:'H:i'}}" type="text" placeholder="End time of ticket sale*">
                    <div class="input-error alert alert-danger"></div>

                  </div>
                </div>
              </div>

            {% if s.11 != '1' and s.11 != 'None' %}
              <div class="col-md-9">
                <div class="form-group" >
                  <div class="input-group mb-3">
                    <input name="ticket_msg" type="text" class="form-control" value="{{s.11}}" >
                    <div class="input-error alert alert-danger"></div>
                  </div>
                </div>
              </div>

            {% else %}
              <div class="col-md-9">
                <div class="form-group" >
                  <div class="input-group mb-3">
                    <input name="ticket_msg" type="text" class="form-control" placeholder="Any Message(optional)" />
                    <div class="input-error alert alert-danger"></div>
                  </div>
                </div>
              </div>

            {% endif %}

              <div class="col-md-3">
                <div class="form-group">
                  <div class="input-group mb-3">
                    <select name="ticket_label" class="form-control" style="height:auto">
                      {% if s.12 == 'Register' %}
                      <option value="Register" selected>Register</option>
                      <option value="RVSP">RVSP</option>
                      {% else %}
                      <option value="Register">Register</option>
                      <option value="RVSP" selected>RVSP</option>
                      {% endif %}
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="text-center">
              <a type="submit" id="submitformBtn" class="btn btn61 submitform btn-danger mt-60">Create Ticket</a>
            </div>
            
          </fieldset>
        </form>
        
      </div>

  </div>


  <script>
    let allTicketNames = {{ ticketnames | safe }};
     // let allTicketNames = 'dummy test';
    console.log(allTicketNames)

    // manage ticket ids
    let allTicketIds = {{ ticketIds | safe }}
    let ticketIdArr = window.localStorage.getItem('ticket_id_list');
    if (ticketIdArr == null || ticketIdArr == undefined || ticketIdArr == '') {
      window.localStorage.setItem('ticket_id_list',JSON.stringify(allTicketIds));
    }
    // ends here ~ manage ticket ids

    // extra charge percentage validation
    $.validator.addMethod("extraChargeValidation", function(extraChargeVal, element) {
        let otherChargeVal = $("#other_charges_type").val()
        console.log(otherChargeVal == 2 && extraChargeVal >= 100)
        if(otherChargeVal == 2 && extraChargeVal >= 100) {
          return false
        } else {
          return true
        }

    }, "Value must be less than or equal to 100");
    // ends here ~ extra charge percentage validation

    // check ticket name already exists or not
    if(ticketMode == undefined) {
      var ticketMode = 'editTicket';
    }
    $.validator.addMethod("ticketAlreadyExists", function(eventNameVal, element) {
        console.log(allTicketNames.indexOf(eventNameVal), ' >> << ',ticketMode)
        if(ticketMode == "editTicket") {
          return true
        } else {
          if(allTicketNames.indexOf(eventNameVal) == -1) {
            return true
          } else {
            return false
          }
        }

    }, "A ticket with same name is already created. Please use a different name.");
    // ends here ~ check ticket name already exists or not


    // ticket  name sepcial character validation
    $.validator.addMethod("tktNameSpclValid", function(ticketNameVal, element) {
        if(/([!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?])/.test(ticketNameVal)) {
          return false;
        } else {
          return true;
        }
    }, "Special characters are not allowed in Event Name");
    // ends here ~ ticket  name sepcial character validation
    
    // ticket name validation
    $.validator.addMethod("ticketNameValidation", function(ticketNameVal, element) {
      return /^([a-zA-Z0-9]+\s)*[a-zA-Z0-9]+$/.test(ticketNameVal)
    }, "Ticket Name is invalid. Please remove unwanted spaces");
    // ends here ~ ticket name validation


    // check contact details content
     var re_email = /(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))/;
    var re_email_02 = /(([^<>()\[\]\\.,;:\s\[at\]"]+(\.[^<>()\[\]\\.,;:\s\[at\]"]+)*)|(".+"))\[at\]((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))/;

    var re_phn = /[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}/im;

    var re_url = /((https?|ftp|smtp):\/\/)?(www.)?[a-z0-9]+(\.[a-z]{2,}){1,3}(#?\/?[a-zA-Z0-9#]+)*\/?(\?[a-zA-Z0-9-_]+=[a-zA-Z0-9-%]+&?)?/;

    // ticket message content validation
    $.validator.addMethod("isContactDetailsShared", function(ticketMsgContentPar, element) {
      let ticketMsgContent = $("#ticket_msg").val();
      if (ticketMsgContent == undefined || ticketMsgContent == '' || ticketMsgContent == null) {
        return true
      }
      let contentValidationMob = ticketMsgContent.trim().replace(/[^A-Z0-9,]/ig, "")
      let contentEmailValid_01 = ticketMsgContent.replace(/ +?/g, '');

      if (re_phn.test(contentValidationMob)) {
          return false;
      } else if (re_email.test(contentEmailValid_01) || re_email_02.test(contentEmailValid_01)) {
          return false;
      } else if (re_url.test(contentEmailValid_01)) {
          return false;
      } else {
        return true;
      }

    }, "Please remove email id/website url or contact number");
    // ticket message content validation

    // event name content validation
    $.validator.addMethod("eventNameContactDetailsShared", function(eventNameValPar, element) {
      let eventNameVal = eventNameValPar
      let contentValidationMob = eventNameVal.trim().replace(/[^A-Z0-9,]/ig, "")
      let contentEmailValid_01 = eventNameVal.replace(/ +?/g, '');
       

      if (re_phn.test(contentValidationMob)) {
          return false;
      } else if (re_email.test(contentEmailValid_01) || re_email_02.test(contentEmailValid_01)) {
          return false;
      } else if (re_url.test(contentEmailValid_01)) {
          return false;
      } else {
        return true;
      }

    }, "Please remove email id/website url or contact number");
    // ends here ~ event name content validation

    // contact details validation
    $.validator.addMethod("peval1", function(eventNameVal, element) {
        console.log(re_email.test(eventNameVal)|| re_phn.test(eventNameVal))
        if (re_email.test(eventNameVal)|| re_phn.test(eventNameVal)|| re_url.test(eventNameVal)) {
          return false;
        } else {
          return true
        }
    }, "Please remove email id/website url or contact number");
    // ends here ~ contact details validation


    var event_date = "{{ event_start_date }}";

    function convertInputtoDate(){
      var input = document.getElementById("startdateticket1").value;
      var date = input.split('/');
      var selectdate = new Date(date[2]+"-"+ date[1]+"-"+ date[0]);
      return selectdate;
    }


    // function for compare dates
    function isDateGreater(prevDate, nextDate) {
      let arrPrevDate = prevDate.split('/');
      let arrNextDate = nextDate.split('/');
      return new Date(arrPrevDate[2], arrPrevDate[1], arrPrevDate[0]) < new Date(arrNextDate[2], arrNextDate[1], arrNextDate[0]);
    }
    // ends here ~ function for compare dates

    // function for get next day date
    function nextDayDate() {
       let today = convertInputtoDate();
       let tomorrow = new Date(convertInputtoDate());
       tomorrow.setDate(today.getDate() + 1);
       return tomorrow
    }
    // ends here ~ function for get next day date

    // function for make prepend 0 in single digit numbers
    function leftPad(number, targetLength) {
        let output = number + '';
        while (output.length < targetLength) {
            output = '0' + output;
        }
        return output;
    }
    // ends here ~ function for make prepend 0 in single digit numbers

     // on load end date values
    let onloadEventEndDate = '{{edate}}';
    let eventEndTime = '{{event_end_time}}'.split(':')
    let eventEndHour = eventEndTime[0]
    let eventEndMinute;
    if (eventEndTime[1] == 0){
      eventEndHour -= 1;
      eventEndMinute = 59;
    } else {
      eventEndMinute = leftPad(eventEndTime[1]-1, 2);
    }
    // ends here ~ on load end date values

    // on load start date values
    let onloadEventStartDate = '{{sdate}}';
    let eventStartTime = '{{event_start_time}}'.split(':')
    let eventStartHour = eventStartTime[0]
    let eventStartMinute;
    if (eventStartTime[1] == 0){
      eventStartHour -= 1;
      eventStartMinute = 59;
    } else {
      eventStartMinute = leftPad(eventStartTime[1]-1, 2);
    }
    // ends here ~ on load start date values

    // function for end time picker val
    function changeEndTimePickerVal(loadType) {
        let endDateTicketVal = $("#enddateticket1").val();
        let checkIsDateGreater = isDateGreater(endDateTicketVal, '{{edate}}');
        if(loadType == 'onChange') {
          $("#endtimepicker").replaceWith('<input name="end_time_step5" id="endtimepicker" class="input-small form-control" />')
        }
        if(checkIsDateGreater == true) {
          $('#endtimepicker').datetimepicker({
            format: 'LT',
            stepping: 5,
          });
        } else {
          $('#endtimepicker').datetimepicker({
            format: 'LT',
            stepping: 5,
            useCurrent: false,
            defaultDate:moment(new Date()).hours(0).minutes(0).seconds(0).milliseconds(0),
            maxDate:moment({h:eventEndHour, m:eventEndMinute})
          });
        }

    }
    // ends here ~ function for end time picker val

     // function for end date val
    function changeEndDatePickerVal() {
      $('#enddateticket1').datepicker({
        format: 'dd/mm/yyyy',
        startDate: new Date(),
        endDate: onloadEventEndDate
      }).on('change', function () {
        changeEndTimePickerVal('onChange');
      });
    }
    // ends here ~ function for end date val


    changeEndDatePickerVal();
    changeEndTimePickerVal('onLoad');


    // function for end time picker val
    function changeStartTimePickerVal(loadType) {
        let startDateTicketVal = $("#startdateticket1").val();
        let checkIsDateGreater = isDateGreater(startDateTicketVal, '{{sdate}}');
        if(loadType == 'onChange') {
          $("#starttimepicker").replaceWith('<input name="start_time_step5" id="starttimepicker" class="input-small form-control" type="text" />')

        }
        if(checkIsDateGreater == true) {
          $('#starttimepicker').datetimepicker({
            format: 'LT',
            stepping: 5,
          });
        } else {
          $('#starttimepicker').datetimepicker({
            format: 'LT',
            stepping: 5,
            useCurrent: false,
            defaultDate:moment(new Date()).hours(0).minutes(0).seconds(0).milliseconds(0),
            maxDate:moment({h:eventStartHour, m:eventStartMinute})
          });
        }

    }
    // ends here ~ function for end time picker val

     // function for end date val
    function changeStartDatePickerVal() {
      $('#startdateticket1').datepicker({
        format: 'dd/mm/yyyy',
        startDate: new Date(),
        endDate: '{{sdate}}'
      }).on('change', function () {
        changeStartTimePickerVal('onChange');
        $('#enddateticket1').datepicker('setStartDate', $("#startdateticket1").val());
      });
    }
    // ends here ~ function for end date val


    changeStartDatePickerVal();
    changeStartTimePickerVal('onLoad');

    //endtime  ~ old js code
    // $('#endtimepicker').datetimepicker({
    //   format: 'LT',
    //   stepping: 5

    // }).on('change', function () {
    //   $(this).valid();  // triggers the validation test
    // });
    // ends here ~ old js code
    jQuery.validator.addMethod("enddatestep5", function (enddatevalue, element) {
      var startdatevalue = $('#startdateticket1').val();
      console.log('>>',typeof(startdatevalue));
      var arrsdate = startdatevalue.split('/');
      var arredate = enddatevalue.split('/');
      return new Date(arrsdate[2], arrsdate[1], arrsdate[0]) <= new Date(arredate[2], arredate[1], arredate[0]);
    }, "End date can not be less than Start Date.");

    $.validator.addMethod("eventdate", function (datevalue, element) {
      var arrsdate = event_date.split('/');
      var arredate = datevalue.split('/');

      return new Date(arrsdate[2], arrsdate[0], arrsdate[1]) > new Date(arredate[2], arredate[1], arredate[0]);
    }, "Date can not be greater than Start Date of Event.");

    $.validator.addMethod("tqty", function (qty, element) {

      var min = $("#min_qty").val();
      var max = qty;
      min=parseInt(min);
      max=parseInt(max);

      return max > min;
    }, "Maximum quantity should be more than minimum quantity.");

    $.validator.addMethod("iqty", function (qty, element) {

      var i = $("#ticket_qty").val();
      var m = qty;
      i=parseInt(i);
      m=parseInt(m);

      return i >= m;
    }, "Maximum quantity should be less than inventory.");

    $.validator.addMethod("peval", function (htmldata1, element) {

        var content = $("#ticket_msg").val();

        var re_email = /(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))/;

        var re_phn = /[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}/im;

        if (re_phn.test(content))
        {
            return false;
        }
        else if (re_email.test(content))
        {
            return false;
        }
        else {
          return true;
        }

        }, "Please remove email id/website url or contact number");

    $(".btn61").click(function () {
      console.log('submit btn clicked')
      form = $("#msform");

      form.validate({

        rules: {
          ticket_name: {
            required: true,
            minlength: 3,
            peval1 : true,
            tktNameSpclValid: true,
            ticketNameValidation: true,
            ticketAlreadyExists: true,
            eventNameContactDetailsShared: true
          },
          ticket_price: {
            required: true,
            digits: true,
            // dupli: true,
            min: 1
          },
          ticket_qty: {
            required: true,
            digits: true,
            min: 1,
            max:99999
          },
          min_qty: {
            required: true,
            digits: true,
            min: 1

          },
          max_qty: {
            required: true,
            digits: true,
            tqty: true,
            iqty : true,
            min: 1
          },
          other_charges_type: {

            required: function (element) {
              return $("#other_charges").val().length > 0;
            }
          },

          start_date: {
            required: true,
            eventdate: true,

          },
          end_date: {
            required: true,
            enddatestep5: true,
            // eventdate: true,

          },
          start_time_step5: {
            required: true,
            tktTimeLessEventTime: true
          },
          end_time_step5: {
            required: true,
            // endtime: true,
          },

          ticket_msg:{
            peval1: true,
            maxlength: 120,
            isContactDetailsShared: true
          },
          ticket_label: {
            required: true,

          },
          other_charges: {
            extraChargeValidation: true
          }

        },
        highlight: function (element) {
          // add a class "has_error" to the element
          $(element).next('div').addClass('has_error');
        },
        unhighlight: function (element) {
          // remove the class "has_error" from the element
          $(element).next('div').removeClass('has_error');
        },
        messages: {
          ticket_name: {
            required: "Please provide name of your ticket",
          },
          start_date: {
            required: "Please provide the Start Date",
            // eventdate: "Date can not be greater than Start Date of Event."
          },
          end_date: {
            required: "Please provide the End Date",
            enddatestep5: "End Date cannot be less than Start Date",
            // enddatestep5: true,
            // eventdate: "Date can not be greater than Start Date of Event."
          },
          start_time_step5: {
            required: "Please provide Start Time",
          },
          end_time_step5: {
            required: "Please provide End Time",

          },
          other_charges_type: {
            required: "Select other charges type",

          },
          ticket_msg: {
            maxlength: "Only 120 characters are allowed",
            peval:"Please remove email id/website url or contact number"
          },
          ticket_label: {
            required: "Select Ticket type",
          },

        },
        success: function (error, element) {
            error.remove();
            $(element).next('div').removeClass('has_error');
            $(element).next('div').hide();
        },
        errorPlacement: function (error, element) {

          error.appendTo(element.next('div'));
          element.next('div').show();

        },
      });

    });

    $("#enddateticket1").keydown(function(e){
        e.preventDefault();
    });
    $("#startdateticket1").keydown(function(e){
        e.preventDefault();
    });
    $("#starttimepicker").keydown(function(e){
        e.preventDefault();
    });
    $("#endtimepicker").keydown(function(e){
        e.preventDefault();
    });

    $("#ticket_qty").on('change', function () {

      if($("#ticket_qty").val() <= 0){
      $("#max_qty").keydown(function(e){
        e.preventDefault();
    });
    $("#min_qty").keydown(function(e){
        e.preventDefault();
    });
    }


    });
     

     // convert time 12 hour format to 24 hour format
    convertTime12to24 = (time12h) => {
        const [time, modifier] = time12h.split(' ');
        let [hours, minutes] = time.split(':');
        ((hours === '12' && modifier.toLowerCase() === 'am') ? hours = '00': (hours === '12' && modifier.toLowerCase() === 'pm') ? hours = '12' : ((modifier.toLowerCase() === 'pm') ? hours = parseInt(hours, 10) + 12 : ""));
        return `${hours}:${minutes}`;
    }
    // ends here ~ convert time 12 hour format to 24 hour format
    
    // check ticket time is less than event time or not
    $.validator.addMethod("tktTimeLessEventTime", function(tktStartTime, element) {
        let startDateTicketVal = $("#startdateticket1").val();
        let checkIsDateGreater = isDateGreater(startDateTicketVal, '{{sdate}}');
        if (checkIsDateGreater == false) {
            let tktStartTime = convertTime12to24($('#starttimepicker').val());
            let eventStartTime = '{{event_start_time}}';
            tktStartTime = new Date("1980-01-01 "+tktStartTime);
            eventStartTime = new Date("1980-01-01 "+eventStartTime);
            if (tktStartTime < eventStartTime){
                return true
            } else {
              false
            }
        } else {
            return true
        }
    }, "Ticket Sale Start Time must be less than Event Start Time");
    // ends here ~ check ticket time is less than event time or not

    $('.btn61').trigger('click')
    $("#startdateticket1").val("{{s.7}}")
    $('#startdateticket1').valid()
    $("#enddateticket1").val("{{s.9}}")
    $("#enddateticket1").valid()

    // submit form
    $(".submitform").click(function(){
      if($('#msform').valid()) {
        let formObject = {}
        let ticketIdArrString = window.localStorage.getItem('ticket_id_list');
        ticketIdArr = JSON.parse(ticketIdArrString)
        $("#msform").serializeArray().map(function(x){formObject[x.name] = x.value;})

        // get ticket id for create and edit mode
        if (ticketIdArr.length != 0 && ticketIdArr.length != undefined && ticketIdArr.length != null && ticketIdArr.length != '') {
            formObject['ticket_id'] = ticketIdArr[0];
            formObject['ticket_mode'] = 'createTkt';
        } else {
            formObject['ticket_id'] = {{ticket_id}}
            formObject['ticket_mode'] = 'editTkt';
        } 
        // ends here ~ get ticket id for create and edit mode

        formObject['old_event_id'] = {{old_event_id}}
        formObject['new_event_id'] = {{new_event_id}}
        formObject['event_id'] = {{new_event_id}}

        // test code
        let ajaxData = formObject
        let saveData = $.ajax({
            type: 'POST',
            url: "/live/dashboard/save-duplicate-event-five",
            data: ajaxData,
            dataType: "text",
            success: function(resp){
                let response = JSON.parse(resp)
                if(response.responseType == 'success') {
                    if(response.messageType == 'success') {
                        if (ticketIdArr.length > 1) {
                          ticketIdArr.splice(0,1)
                          window.localStorage.setItem('ticket_id_list',JSON.stringify(ticketIdArr));
                          let new_url = `/live/dashboard/duplicate-event-five/{{old_event_id}}/{{new_event_id}}/${ticketIdArr[0]}`;
                          window.location.href = new_url
                        } else {
                          // localStorage.removeItem('ticket_id_list');
                          if (ticketIdArr.length == 1) {
                            ticketIdArr.splice(0,1)
                            window.localStorage.setItem('ticket_id_list',JSON.stringify(ticketIdArr));
                          }

                          let new_url = `/live/dashboard/duplicate-event-tickets/{{old_event_id}}/{{new_event_id}}`;
                          window.location.href = new_url
                        }
                    } else if(response.messageType == 'error') {
                        $('#alertAjaxMessage').html("<div class='alert alert-error'>"+response.message+"</div>");
                        $('#alertAjaxMessage').show();
                        //toastrErrorMsg("Error",response.message)
                    }
                    setTimeout(function() {
                        $("#alertAjaxMessage").hide('blind', {}, 500)
                    }, 2000);
                }
            }
          })
        // ends here ~ test code
      }

    })
    // ends here ~ submit form

    // change startDate of end_datepicker field on load
    if($("#startdateticket1").val() != '' && $("#startdateticket1").val() != null && $("#startdateticket1").val() != undefined) {
      $('#enddateticket1').datepicker('setStartDate', $("#startdateticket1").val());
    }
    // ends here ~ change startDate of end_datepicker field on load

  </script>

</section>
{% endblock step_one %}
