{% extends "dashboard/create_event.html" %}
{% load rest_framework %}
{% block title %}Create tickets to sell - Ercess Live{% endblock title %}


{% block step_one %}
<section class="content">
   <div class="container arrow-steps clearfix">
      <div class="row heading">
          <div class="col-md-12 border-bottom-heading">
            <div class="row">
              <div class="col-md-8">
               <h1 class="text-dark pb-20 pt-20">Edit tickets</h1>
              </div>
            </div>
            <div class="md-stepper-horizontal red">
                <div class="md-step active done">
                    <div class="md-step-circle"><span>1</span></div>
                    <div class="md-step-title">Update Basic details</div>
                    <div class="md-step-bar-left"></div>
                    <div class="md-step-bar-right"></div>
                </div>
                <div class="md-step active done">
                    <div class="md-step-circle"><span>2</span></div>
                    <div class="md-step-title">Update targets</div>
                    <div class="md-step-bar-left"></div>
                    <div class="md-step-bar-right"></div>
                </div>
                <div class="md-step active done">
                    <div class="md-step-circle"><span>3</span></div>
                    <div class="md-step-title">Update images</div>
                    <div class="md-step-bar-left"></div>
                    <div class="md-step-bar-right"></div>
                </div>
                <div class="md-step active done">
                    <div class="md-step-circle"><span>4</span></div>
                    <div class="md-step-title">Update Description</div>
                    <div class="md-step-bar-left"></div>
                    <div class="md-step-bar-right"></div>
                </div>
                <div class="md-step active">
                    <div class="md-step-circle"><span>5</span></div>
                    <div class="md-step-title">Update tickets</div>
                    <div class="md-step-bar-left"></div>
                    <div class="md-step-bar-right"></div>
                </div>
                <div class="md-step">
                    <div class="md-step-circle"><span>6</span></div>
                    <div class="md-step-title">Custom Questions</div>
                    <div class="md-step-bar-left"></div>
                    <div class="md-step-bar-right"></div>
                </div>
            </div>

          </div>
      </div>
      
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-hover">
              <tr>
                <th>Ticket Name</th>
                <th>Ticket Price</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Action</th>
              </tr>
              {% for id,name,price,start_date,end_date in ticks %}
            <tr>
              <td>{{name}}</td>
              <td>{{currency | safe}} {{price}} </td>
              <td>{{start_date | date:'M d, Y'}}</td>
              <td>{{end_date | date:'M d, Y'}}</td>
              <td>
                {% now "Y-m-d" as todays_date %}
                {% if todays_date >= eventStart_date|date:"Y-m-d" %}
                   <a class="mr-20 edit-link" data-toggle="tooltip" title="This ticket is expired. You cannot edit it now"><i class="fa fa-pencil"></i></a>
                {% else %}
                  <a href="{% url 'dashboard:duplicate-event-five' old_event_id new_event_id id %}" class="mr-20 edit-link" data-toggle="tooltip" title="Edit this ticket"><i class="fa fa-pencil"></i></a>
                {% endif %}
                  <a href="{% url 'dashboard:delete-ticket' 'notreq' event_id id 1 %}" class="mr-20 edit-link" data-toggle="tooltip" title="Delete this ticket"><i class="fa fa-trash"></i></a>
              </td>

            </tr>
            {% endfor %}
            </table>
            {% now "Y-m-d" as todays_date %}
            {% if todays_date >= eventStart_date|date:"Y-m-d" %}
               <p>* This event seems to be expired. You cannot create tickets.</p>
            {% else %}
                <div class="mt-30 mb-20 inline-block"><a class="btn btn1 btn-danger" href="{% url 'dashboard:duplicate-new-ticket' old_event_id new_event_id %}">+ Create New Ticket</a></div>
            {% endif %}
            <div class="mt-30 mb-20 inline-block pull-right"><a class="btn btn1 btn-danger" href="{% url 'dashboard:duplicate-event-six' old_event_id new_event_id %}">Next</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  {% endblock step_one %}
