{% extends 'dashboard/create_event.html' %}
{% block title %}Event details - Ercess Live {% endblock title %}
{% block edit_one %}
<section class="content">
   <div class="container arrow-steps clearfix">
      <div class="row heading">
         <div class="col-md-12 border-bottom-heading">
            
          <div class="row">
            <div class="col-md-8">
             <h2 class="text-dark pb-20 pt-20">Edit your basic event details</h2>
            </div>
          </div>
           <div class="md-stepper-horizontal red">
              <div class="md-step active">
                  <div class="md-step-circle"><span>1</span></div>
                  <div class="md-step-title">Basic details</div>
                  <div class="md-step-bar-left"></div>
                  <div class="md-step-bar-right"></div>
              </div>
              <div class="md-step">
                  <div class="md-step-circle"><span>2</span></div>
                  <div class="md-step-title">Set targets</div>
                  <div class="md-step-bar-left"></div>
                  <div class="md-step-bar-right"></div>
              </div>
              <div class="md-step">
                   <div class="md-step-circle"><span>3</span></div>
                   <div class="md-step-title">Upload images</div>
                   <div class="md-step-bar-left"></div>
                   <div class="md-step-bar-right"></div>
              </div>
              <div class="md-step">
                  <div class="md-step-circle"><span>4</span></div>
                  <div class="md-step-title">Description</div>
                  <div class="md-step-bar-left"></div>
                  <div class="md-step-bar-right"></div>
              </div>
              <div class="md-step">
                  <div class="md-step-circle"><span>5</span></div>
                  <div class="md-step-title">Add tickets</div>
                  <div class="md-step-bar-left"></div>
                  <div class="md-step-bar-right"></div>
              </div>
              <div class="md-step">
                  <div class="md-step-circle"><span>6</span></div>
                  <div class="md-step-title">Custom Questions</div>
                  <div class="md-step-bar-left"></div>
                  <div class="md-step-bar-right"></div>
              </div>
            </div>
         </div>
      </div>
         <div class="row">
           <div class="col-md-12">

            <div id="showDuplicateError"></div>
                        
            <form action="{% url 'dashboard:duplicate-event-basics' event_id %}" method="POST" id="msform1" class="col-md-12 mt-50 mb-50" autocomplete="off">
               {% csrf_token %}
               <div class="row">
                  <div class="col-md-6">
                     <div class="form-group">
                        <div class="input-group mb-3">
                           <input name="event_name" type="text" class="form-control" value="{{s.0}}" required placeholder="Event Name*">
                           <div class="input-error alert alert-danger"></div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group">
                        <div class="input-group mb-3">
                           <input name="website" type="url" pattern="https?://.+" value="{{s.1}}" id="webs" class="input-small form-control" placeholder="Event page Official Link*" type="text" required>
                           <div class="input-error alert alert-danger"></div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6">
                     <div class="form-group">
                        <div class="input-group mb-3">
                           <input name="sdate" type="text" class="form-control" id="datepicker" value="{{s.2}}" placeholder="Start Date*">
                           <div class="input-error alert alert-danger"></div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group">
                        <div class="input-group mb-3">
                           <input name="start_time" id="timepicker" class="input-small form-control" value="{{s.3}}" type="text" required placeholder="Start Time*">
                           <div class="input-error alert alert-danger"></div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6">
                     <div class="form-group">
                        <div class="input-group mb-3">
                           <input name="edate" class="form-control" id="enddatepicker" type="text" value="{{s.4}}" required placeholder="End Date*">
                           <div class="input-error alert alert-danger"></div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group">
                        <div class="input-group mb-3">
                           <input name="end_time" id="timepicker1" class="input-small form-control" value="{{s.5}}" type="text" required  placeholder="End Time*">
                           <div class="input-error alert alert-danger"></div>
                        </div>
                     </div>
                  </div>
               </div>
               <script>
                  $('#timepicker').datetimepicker({
                  format: 'LT',
                  stepping : 5 });
                  $('#timepicker1').datetimepicker({
                  format: 'LT',
                  stepping : 5 });
                  $("#enddatepicker").keydown(function(e){
                      e.preventDefault();
                  });
                  $("#datepicker").keydown(function(e){
                      e.preventDefault();
                  });
                  $("#timepicker").keydown(function(e){
                      e.preventDefault();
                  });
                  $("#timepicker1").keydown(function(e){
                      e.preventDefault();
                  });



                  $('#datepicker').on('change', function() {
                      function convertInputtoDate(){
                      var input = document.getElementById("datepicker").value;
                      var date = input.split('/');
                      var selectdate = new Date(date[2]+"-"+ date[1]+"-"+ date[0]);

                      return selectdate;
                  }
                  var today = convertInputtoDate();
                  var tomorrow = new Date(convertInputtoDate());
                  tomorrow.setDate(today.getDate());
                  $('#enddatepicker').datepicker('setStartDate', tomorrow);
                  });
               </script>
<!--
               <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="alert alert-info">
                            In case of if Venue is not Decided yet.
                        </div>
                        <div class="input-group">

                            <label class="customCheckbox">
                              <input type="checkbox" name="venue_not_decided" id="id_venue_not_decided" class="form-control"/>
                              <span></span>
                            </label>
                            <label for="test">Venue is not Decided yet</label>
                            <style type="text/css">
                              .customCheckbox input {
                                position: relative;
                                z-index: -9999;
                              }

                              .customCheckbox span {
                                width: 20px;
                                height: 20px;
                                display: block;
                                /*background: red;*/
                                border: solid 2px;
                              }

                              .customCheckbox input:checked + span {
                                background: url('http://www.pngmart.com/files/3/Green-Tick-PNG-Picture.png');
                                background-size: 15px 15px;
                              }
                            </style>

                            <div class="input-error alert alert-danger"></div>
                        </div>
                    </div>
                </div>
            </div> -->

               <div class="row">
                  <div class="col-md-12">
                     <div class="form-group">
                        <div class="alert alert-info">
                           In case of outdoor event, provide the address of start point.
                        </div>
                        <div class="input-group mb-3">
                           <input name="address_line1" id="street_number" type="text" class="form-control street_number route sublocality_level_2" value="{{s.6}}" placeholder="Address Line 1*" autocomplete="off" data-toggle="tooltip" title="Type and select the appropriate address from dropdown">
                           <div class="input-error alert alert-danger"></div>
                        </div>
                     </div>
                  </div>
               </div>
               <script type="text/javascript">
                  var componentForm = {
                      street_number: 'long_name',
                      route: 'long_name',
                      neighborhood: 'long_name',
                      sublocality_level_1: 'long_name',
                      sublocality_level_2: 'long_name',
                      locality: 'long_name',
                      administrative_area_level_4: 'long_name',
                      administrative_area_level_3: 'short_name',
                      administrative_area_level_1: 'long_name',
                      administrative_area_level_2: 'short_name',
                      country: 'long_name',
                      postal_code: 'short_name'
                  };

                  function initAutocomplete() {
                      // Create the autocomplete object, restricting the search to geographical
                      // location types.
                      autocomplete = new google.maps.places.Autocomplete((document.getElementById('street_number')), {
                          types: ['establishment']
                      });
                      // When the user selects an address from the dropdown, populate the address
                      // fields in the form.
                      autocomplete.addListener('place_changed', fillInAddress);
                  }

                  // @author Shubham
                  var initialStreetAddr = $("#street_number").val()
                  var changedStreetAddr = '';
                  // ends here ~ @author Shubham

                  function fillInAddress() {

                      // Get the place details from the autocomplete object.
                      var place = autocomplete.getPlace();
                      //  console.log(place)
                      // alert(place.formatted_address)
                      for (var component in componentForm) {
                          //document.getElementsByClassName(component).value = '';
                          //document.getElementsByClassName(component).disabled = false;
                          var collection = document.getElementsByClassName(component)
                          for (index = 0; index < collection.length; ++index) {
                              collection[index].value = ""
                              //  collection[index].disabled =false;
                          }
                      }
                      document.getElementsByName('address_line1')[0].value = place.name;
                      for (var i = 0; i < place.address_components.length; i++) {
                          var addressType = place.address_components[i].types[0];
                          if (componentForm[addressType]) {
                              var val = place.address_components[i][componentForm[addressType]];
                              //   document.getElementById(addressType).value = val;
                              var collection = document.getElementsByClassName(addressType)
                              for (index = 0; index < collection.length; ++index) {
                                  if (collection[index].value == "") {
                                      collection[index].value = val;
                                  } else {
                                      var previous = collection[index].value
                                      collection[index].value = previous + ", " + val;
                                  }
                              }
                          }
                      }
                      changedStreetAddr = $("#street_number").val()
                      var lat = place.geometry.location.lat();
                      var long = place.geometry.location.lng();
                      var pid = place.place_id;
                      document.getElementsByName('latitude')[0].value = lat;
                      document.getElementsByName('longitude')[0].value = long;
                      document.getElementsByName('place_id')[0].value = pid;

                      myMap(lat, long);
                  }

                  function myMap(lat, long) {

                      var pos = {
                          lat: lat,
                          lng: long
                      };
                      var mapProp = {
                          center: pos,
                          zoom: 14,
                          mapTypeId: google.maps.MapTypeId.ROADMAP
                      };
                      var map = new google.maps.Map(document.getElementById("map"), mapProp);
                      var marker = new google.maps.Marker({
                          position: pos,
                          map: map
                      });

                  }

                  $(function() {
                      lat = document.getElementById("la").value;
                      long = document.getElementById("lo").value;
                      myMap(Number(lat), Number(long));
                  });
               </script>
               <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWfptEfuRFJAMKh1XQOZQMZQ0q9qOtrm0&libraries=places&callback=initAutocomplete" async defer></script>
               <div class="row">
                  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                     <div class="row">
                        <div class="col-md-12">
                           <div class="form-group">
                              <div class="input-group mb-3">
                                 <input name="address_line2" id="route" type="text" class="form-control neighborhood sublocality_level_1 administrative_area_level_4 administrative_area_level_2" value="{{s.7}}"  placeholder="Address Line 2*" readonly>
                                 <div class="input-error alert alert-danger"></div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                           <div class="form-group">
                              <div class="input-group mb-3">
                                 <input name="city" type="text" id='locality' class="form-control locality administrative_area_level_3" value="{{s.8}}" placeholder="City*" readonly>
                                 <div class="input-error alert alert-danger"></div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                           <div class="form-group">
                              <div class="input-group mb-3">
                                 <input name="state" type="text" id="administrative_area_level_1" class="form-control administrative_area_level_1 " value="{{s.9}}"  placeholder="State*" readonly>
                                 <div class="input-error alert alert-danger"></div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                           <div class="form-group">
                              <div class="input-group mb-3">
                                 <input name="country" id="country" type="text" class="form-control country" value="{{s.10}}" placeholder="Country*" readonly>
                                 <div class="input-error alert alert-danger"></div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                           <div class="form-group">
                              <div class="input-group mb-3">
                                 <input name="pincode" id="postal_code" type="text" class="form-control postal_code" value="{{s.11}}" placeholder="ZIP Code*" readonly>
                                 <div class="input-error alert alert-danger"></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div id="map"></div>
                  </div>
               </div>
               <input name="latitude" id="la" type="hidden" class="form-control" value='{{s.12}}'>
               <input name="longitude" id="lo" type="hidden" class="form-control"  value='{{s.13}}'>
               <input name="place_id" id="" type="hidden" class="form-control" value='{{s.14}}'>
               <div class="text-center">
                 <!-- <button type="submit" class="btn btn122 btn-danger mt-40">Update</button> -->
                 <a class="btn btn122 btn-danger mt-40">Create Event</a>
               </div>
            </form>
         </div>
      </div>
   </div>
</section>
<script src="/static/assets/vendor_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script>

    let venue_on_load = `{{s.15}}`
    if(venue_on_load == 'True') {
      $('#id_venue_not_decided').val(true);
      $('#id_venue_not_decided').prop('checked', true);
    } else {
      $('#id_venue_not_decided').val(false);
      $('#id_venue_not_decided').prop('checked', false);
    }


    // $('#id_venue_not_decided').change(function () {
      // let venueVal = $('#id_venue_not_decided').val()

      // if(venueVal == 'false' || venueVal == false) {
        // venueVal = true
      // } else {
        // venueVal = false
//      }

      // $('#id_venue_not_decided').val(venueVal)
   // });

   // custom required validation
   $.validator.addMethod("customRequired", function(elementVal, element) {
      let venueVal = false
      if(venueVal == 'false' || venueVal == false) {
        if(elementVal.trim() == '') {
          return false
        } else {
          return true
        }
      } else {
        return true
      }
    }, "This field is required");

   // end date and start date
   // function for tomorrow date
     function tomorrow() {
       let today = new Date();
       let tomorrow = new Date();
       tomorrow.setDate(today.getDate() + 1);
       return tomorrow
    }
    // ends here ~ function for tomorrow date

    // function for get next day date
    function nextDayDate() {
       let today = convertInputtoDate();
       let tomorrow = new Date(convertInputtoDate());
       tomorrow.setDate(today.getDate() + 1);
       return tomorrow
    }
    // ends here ~ function for get next day date

     //startdate
     $('#datepicker').datepicker({
        format: 'dd/mm/yyyy',
        startDate: tomorrow()
    })

    $('#enddatepicker').datepicker({
    //  weekStart: 1,
         format: 'dd/mm/yyyy',
          startDate: tomorrow()
    })
   // ends here ~ end date and start date

   //startdate
    // $('#datepicker').datepicker({

    //   format: 'dd/mm/yyyy',
    //   startDate: new Date()
    // }).on('change', function () {
    //   $(this).valid(); // triggers the validation test

    //   //enddate


    // });

    // $('#enddatepicker').datepicker({
    //   //  weekStart: 1,
    //   format: 'dd/mm/yyyy',
    //   startDate: new Date()

    // }).on('change', function () {
    //   $(this).valid(); // triggers the validation test
    // });

    //starttime
    $('#timepicker').datetimepicker({
      format: 'LT',

    }).on('change', function () {
      $(this).valid(); // triggers the validation test

    });

    //endtime
    $('#timepicker1').datetimepicker({
      format: 'LT'

    }).on('change', function () {
      $(this).valid(); // triggers the validation test
    });

    //custom-method-to compare start and end date
    $.validator.addMethod("enddate", function (enddatevalue, element) {
      var startdatevalue = $('#datepicker').val();
      var arrsdate = startdatevalue.split('/');
      var arredate = enddatevalue.split('/');
      return new Date(arrsdate[2], arrsdate[1], arrsdate[0]) <= new Date(arredate[2], arredate[1], arredate[0]);
    }, "End date can not be less than Start Date.");

    //custom-method-to compare start and end time for same day event
    $.validator.addMethod("endtime", function (endtimevalue, element) {
      var startdatevalue = $('#datepicker').val();
      var enddatevalue = $('#enddatepicker').val();

      if (startdatevalue == enddatevalue) {

        var temp = '01/01/1990'
        var starttimevalue = $('#timepicker').val();
        var st = new Date(temp + " " + starttimevalue).getTime();
        var et = new Date(temp + " " + endtimevalue).getTime();


        return et > st;
      } else {
        return true;
      }

    }, "End Time can not be less than Start Time for same day event");

    $.validator.addMethod("web", function (webvalue, element) {
      if (webvalue.length > 8) {
        return true;
      } else {
        return false;
      }

    }, "Website link should start with https://");

    // @author Shubham ~ wrong address issue
    $.validator.addMethod("googleAddrSel", function (webvalue, element) {
      let currentStreetAddr = $("#street_number").val();
      let isGoogleAddrSel = initialStreetAddr == currentStreetAddr || changedStreetAddr == currentStreetAddr;
      return isGoogleAddrSel;

    }, "Please select an address from the list");
    // ends here ~ @author Shubham ~ wrong address issue


    // event name validation
    $.validator.addMethod("eventNameValidation", function(eventNameVal, element) {
        return /^([a-zA-Z0-9]+\s)*[a-zA-Z0-9]+$/.test(eventNameVal)
    }, "Event Name is invalid. Please remove unwanted spaces");
    // ends here ~ event name validation

    // event name sepcial character validation
    $.validator.addMethod("evtNameSpclValid", function(eventNameVal, element) {
        if(/([!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?])/.test(eventNameVal)) {
          return false;
        } else {
          return true;
        }
    }, "Special characters are not allowed in Event Name");
    // ends here ~ event name sepcial character validation


    function checkEventDuplicate() {
        let formObject = {}
        $("#msform1").serializeArray().map(function(x){formObject[x.name] = x.value;})
        let ajaxData = formObject
        // console.log(ajaxData)
        $.ajax({
            type: 'POST',
            url: "/live/dashboard/check-event-already-created",
            data: {'completeData':JSON.stringify(ajaxData)},
            dataType: "json",
            success: function(resp){
              let response = resp;
              if(response.responseType == 'success') {
                  if(response.messageType == 'success') {
                    $("#msform1").submit();
                  } else if(response.messageType == 'error') {
                      $('#showDuplicateError').html(`<div class="alert alert-danger"><strong style="color: white"> ${response.message}</strong></div>`);
                      $('#showDuplicateError').show();
                      setTimeout(function() {
                          $("#showDuplicateError").hide('blind', {}, 500)
                      }, 10000);
                  }
              }
          }
        });

    }

    $(".btn122").click(function () {

      form = $("#msform1");
      form.validate({
        rules: {
      event_name: {
        required: true,
        minlength: 5,
        maxlength: 200,
        evtNameSpclValid: true,
        eventNameValidation: true,
        eventNameContValidation: true
      },
      website: {
      // web:true,
        required: true,
        url: true,
        maxlength: 500
      },
      sdate: {
        required: true,
      },
      edate: {
        required: true,
        enddate: true,
      },
      start_time: {
        required: true,
      },
      end_time: {
        required: true,
        endtime: true,
      },
      address_line1: {
        customRequired: true,
      },
      city: {
        customRequired: true,
      },
      state: {
        customRequired: true,
      },
      country: {
        customRequired: true,
      },
      pincode: {
        customRequired: true,
      },
    },
        highlight: function (element) {
          // add a class "has_error" to the element
          $(element).next('div').addClass('has_error');
        },
        unhighlight: function (element) {
          // remove the class "has_error" from the element
          $(element).next('div').removeClass('has_error');
        },
        messages: {
          event_name: {
            required: "Please enter name of your event",
            minlength: "Event name should have at least 5 characters"
          },
          website: {
            required: "Please enter website link",
          },
          sdate: {
            required: "Please select the Start Date of event",
          },
          edate: {
            required: "Please select the End Date of event",
            enddate: "End Date cannot be less than Start Date"
          },
          start_time: {
            required: "Please select the Start Time of event",
          },
          end_time: {
            required: "Please select the End Time of event",
            endtime: "End Time can not be less than Start Time for same day event"
          },
          address_line1: {
            required: "Please enter proper address of the event",
          }


        },
        success: function (error, element) {
            error.remove();
            $(element).next('div').removeClass('has_error');
            $(element).next('div').hide();
        },
        errorPlacement: function (error, element) {

          error.appendTo(element.next('div'));
          element.next('div').show();


        },
      });

      if(form.valid()) {
        checkEventDuplicate()
      }

    });


    // contact details validation

    var re_email = /(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))/;

    var re_phn = /[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}/im;

    var re_url = /((https?|ftp|smtp):\/\/)?(www.)?[a-z0-9]+(\.[a-z]{2,}){1,3}(#?\/?[a-zA-Z0-9#]+)*\/?(\?[a-zA-Z0-9-_]+=[a-zA-Z0-9-%]+&?)?/;

  $.validator.addMethod("eventNameContValidation", function(eventNameVal, element) {
      console.log(re_email.test(eventNameVal)|| re_phn.test(eventNameVal))
      let modifiedEventName = eventNameVal.trim().replace(/[^A-Z0-9,]/ig, "")
      if (re_email.test(eventNameVal)|| re_phn.test(modifiedEventName)|| re_url.test(eventNameVal)) {
        return false;
      } else {
        return true
      }
  }, "Event Name should not contain contact number");
  // ends here ~ contact details validation

</script>
{% endblock edit_one %}
