{% extends "dashboard/create_event.html" %}
{% load rest_framework %}
{% block title %}Create tickets to sell - Ercess Live{% endblock title %}


{% block step_one %}
<section class="content">
   <div class="container arrow-steps clearfix">
      <div class="row heading">
          <div class="col-md-12 border-bottom-heading">
              

              <div class="row">
                <div class="col-md-8">
                 <h1 class="text-dark pb-20 pt-20">Edit tickets</h1>
                </div>
                <div class="col-md-4">
                    <div class="float-right" style="padding-top: 15px;">
                      <a class="btn btn1 btn-danger text-white" href="{% url 'dashboard:detail' event_id %}">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        Back
                      </a>
                    </div>
                </div>
              </div>

              <div class="md-stepper-horizontal red">
                <div class="md-step">
                  <a href="{% url 'dashboard:edit-event' event_id %}">
                    <div class="md-step-circle"><span>1</span></div>
                    <div class="md-step-title">Basic details</div>
                    <div class="md-step-bar-left"></div>
                    <div class="md-step-bar-right"></div>
                  </a>
                </div>
                <div class="md-step">
                  <a href="{% url 'dashboard:edit-event-two' event_id  %}">
                    <div class="md-step-circle"><span>2</span></div>
                    <div class="md-step-title">Set targets</div>
                    <div class="md-step-bar-left"></div>
                    <div class="md-step-bar-right"></div>
                  </a>
                </div>
                <div class="md-step">
                  <a href="{% url 'dashboard:edit-event-three' event_id  %}">
                    <div class="md-step-circle"><span>3</span></div>
                    <div class="md-step-title">Upload images</div>
                    <div class="md-step-bar-left"></div>
                    <div class="md-step-bar-right"></div>
                  </a>
                </div>
                <div class="md-step">
                  <a href="{% url 'dashboard:edit-event-four' event_id  %}">
                    <div class="md-step-circle"><span>4</span></div>
                    <div class="md-step-title">Description</div>
                    <div class="md-step-bar-left"></div>
                    <div class="md-step-bar-right"></div>
                  </a>
                </div>
                <div class="md-step active">
                  <a href="{% url 'dashboard:edit-event-ticket' event_id  %}">
                    <div class="md-step-circle"><span>5</span></div>
                    <div class="md-step-title">Add tickets</div>
                    <div class="md-step-bar-left"></div>
                    <div class="md-step-bar-right"></div>
                  </a>
                </div>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          {% if ticketStatus == 0 %}
            <div class="table-responsive">
                <div class="alert alert-info text-center mb-80">
                    <h4>TICKET IS NOT REQUIRED FOR FREE EVENT.</h4>
                </div>
            </div>
          {% else %}
            <div class="table-responsive">
              <table class="table table-hover">
                <tr>
                  <th>Ticket Name</th>
                  <th>Ticket Price</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Action</th>
                </tr>
                {% for id,name,price,start_date,end_date in ticks %}
              <tr>
                <td>{{name}}</td>
                <td>{{currency | safe}} {{price}} </td>
                <td>{{start_date |date:'M d, Y'}}</td>
                <td>{{end_date |date:'M d, Y'}}</td>
                <td>
                  {% now "Y-m-d" as todays_date %}
                  {% if todays_date >= eventStart_date|date:"Y-m-d" %}
                     <a class="mr-20 edit-link" data-toggle="tooltip" title="This ticket is expired. You cannot edit it now"><i class="fa fa-pencil"></i></a>
                  {% else %}
                    <a href="{% url 'dashboard:edit-event-five' event_id id %}" class="mr-20 edit-link" data-toggle="tooltip" title="Edit this ticket"><i class="fa fa-pencil"></i></a>
                  {% endif %}
                    <a href="{% url 'dashboard:delete-ticket' 'notreq' event_id id 1 %}" class="mr-20 edit-link" data-toggle="tooltip" title="Delete this ticket"><i class="fa fa-trash"></i></a>
                </td>

              </tr>
              {% endfor %}
              </table>
              {% now "Y-m-d" as todays_date %}
              {% if todays_date >= eventStart_date|date:'M d, Y' %}
                 <p>* This event seems to be expired. You cannot create tickets.</p>
              {% else %}
                  <div class="mt-30 mb-20"><a class="btn btn1 btn-danger" href="{% url 'dashboard:new-ticket' event_id %}">+ Create New Ticket</a></div>
              {% endif %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
  {% endblock step_one %}
