{% extends "dashboard/create_event.html" %}
{% block title %} Congratulations! you have created your event on Ercess Live {% endblock title %}


{% block step_success %}

	<section class="content">
		<div class="row">
			<div class="col-md-12">
				<div class="alert alert-success">
					<h3>YOUR EVENT IS PUBLISHED SUCCESSFULLY</h3>
					<hr>
					<p class="mb-20">It will soon go through approval process and we will get in touch with you as and when needed.
					Post that your event will start getting published across all other platforms.</p>
				</div>
                <div><a href="{% url 'dashboard:facilities' event_id=event_id %}">Create stall</a></div>
				<div class="text-center mt-40">
					<a href="/live/dashboard/organizer_dashboard" class="btn btn-danger"><i class="fa fa-rocket mr-10"></i> Let's manage events</a>
                </div>
			</div>
		</div>
	</section>


{% endblock step_success %}
