
{% extends 'dashboard/create_event.html' %}

{% block title %} Dashboard - Ercess Live {% endblock title %}
{% block og %}


<section class="content">
    <div class="container arrow-steps clearfix">
        <div class="row">
            <div class="col-md-6">
                <a href="{% url 'dashboard:organizer-agreement' %}" target="_blank">
                  <div style="min-height: 148px;" class="alert alert-info text-center pt-60 mt-50">
                      <h4>GO THROUGH ORGANIZER AGREEMENT</h4>
                  </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="{% url 'dashboard:step_one' %}">
                  <div style="min-height: 148px;" class="alert alert-danger text-center pt-60 mt-50">
                      <h4>CREATE NEW EVENT</h4>
                  </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="/live/how-it-works/" target="_blank">
                  <div style="min-height: 148px;" class="alert alert-danger text-center pt-60">
                      <h4>HOW DO WE WORK?</h4>
                  </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="{% url 'dashboard:bank_details' %}">
                  <div style="min-height: 148px;" class="alert alert-info text-center pt-60">
                      <h4>ADD BANK ACCOUNT DETAILS</h4>
                  </div>
                </a>
            </div>
        </div>
    </div>

    <!-- bootstrap modal for announcement -->
    <!-- Trigger the modal with a button -->
    <div id="announcementModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-body">
            <h3 id="showDashboardMsg">
              {% if announcement_list|length >= 1 %}
                {% for announcement in announcement_list %}
                  {{announcement.dashboard_msg | safe}}
                  <input type="hidden" id="announcementId" value="{{announcement.ann_id}}">
                {% endfor %}
              {% endif %}
            </h3>
          </div>
          <div class="modal-footer text-center">
            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="updateAnnAccessTbl()">Close</button>
          </div>
        </div>

      </div>
    </div>
    <!-- ends here ~ bootstrap modal for announcement -->

</section>



<script type="text/javascript">

  // code for show message in popup
  let announcementStr = `{{announcement_list | safe}}`;
  console.log(announcementStr)
  if(announcementStr.length > 6) {
    $('#announcementModal').modal('show');
  }
  
  // let announcementStr = `{{announcement_list | safe}}`;
  // announcementStr = announcementStr.replace(/\'/g, '"');
  // if (announcementArr.length > 0) {
  //   $('#announcementModal').modal('show');
  //   $("#showDashboardMsg").text(announcementArr[0]['dashboard_msg'])
  //   $("#announcementId").val(announcementArr[0]['ann_id'])

  // } 

  // ends here ~ code for show message in popup

  function updateAnnAccessTbl() {
    // console.log(' >> new one >> ')
    let ajaxData = {'ann_id':$("#announcementId").val()}
    console.log(ajaxData)
    let saveData = $.ajax({
        type: 'POST',
        url: "/live/dashboard/update-ann-access-table",
        data: ajaxData,
        dataType: "text",
        success: function(resp){
          console.log(resp)
        }
    })
  }
</script>

{% endblock og %}
