{% extends 'dashboard/create_event.html' %}
{% load static %}
{% block title %} My Events {% endblock %}
{% block og_head %}

{% endblock og_head %}

{% block og %}
<style>
.dropbtn {
  background: linear-gradient(to bottom,#fff 0,#f0f0f0 100%);
  background: -o-linear-gradient(to bottom,#fff 0,#f0f0f0 100%);
  background: -webkit-linear-gradient(to bottom,#fff 0,#f0f0f0 100%);
  color: #4d525b;
  font-size: 14px;
  border: 1px solid #bec0c2;
  position: relative;
  padding: 6px 13px;
  cursor: pointer;
  padding-right: 36px;
  border-radius: 2px;
}
.dropbtn .dropIcon{
  border-left: 1px solid #dedede;
  position: absolute;
  height: 33px;
  top: 0;
  right: 0;
  width: 23px;
}
.dropbtn .dropIcon i{
  position: relative;
  top: 4px;
}
.dropdown1 {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  border: 1px solid #bec0c2;
  background-color: #fff;
  min-width: 160px;
  border-radius: 2px;
  z-index: 1;
}
.dropdown-content a {
  color: #333;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}
.dropdown1:hover .dropdown-content {display: block;}
.dropdown1:hover .dropbtn {background-color: #3e8e41;}
.dropdown1:hover .dropIcon, .dropdown-content a:hover{background: linear-gradient(to bottom,#fff 0,#ccc 100%);background: -o-linear-gradient(to bottom,#fff 0,#ccc 100%);background: webkit-gradient(to bottom,#fff 0,#ccc 100%);}
.dropbtn:active, .dropbtn:focus{outline: none;}
</style>
<section class="content">
  <div class="container arrow-steps clearfix">
    <div class="row heading">
      <div class="col-md-12 border-bottom-heading">
        <h2 class="text-dark">My Events</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">

        {% for total,upcm_c,prev_c,draft_c in count %}
        {% if total == 0 %}
        <div class="alert alert-info text-center mb-80 mt-40">
          <h4>YOU HAVE NO UPCOMING EVENTS!</h4>
          <a href="/live/dashboard/add-event" class="btn btn-default mt-20">
            <i class="fa fa-plus mr-10"></i> Create new
          </a>
        </div>
        {% else %}
        <a href="/live/dashboard/add-event" class="create-event-btn">
          <i class="fa fa-plus"></i>
        </a>

        <ul class="nav nav-tabs mt-30">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#upcoming">Upcoming</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#past">Past</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#draft">Drafts</a>
          </li>
        </ul>

        <div class="tab-content">
          <div id="upcoming" class="tab-pane active">
            <div class="table-responsive">
              <table class="table table-hover table-event-list mb-130">
                {% if upcm_c == 0 %}
                <div class="alert alert-info text-center mb-80 mt-40">
                  <h4>YOU HAVE NO UPCOMING EVENTS!</h4>
                  <a href="/live/dashboard/add-event" class="btn btn-default mt-20">
                    <i class="fa fa-plus mr-10"></i> Create new
                  </a>
                </div>
                {% else %}
                <tr>
                  <th>Event</th>
                  <th>Starts on</th>
                  <th>Status</th>
                  <th>&nbsp;</th>
                  <th>&nbsp;</th>
                </tr>
                {% for id,name,date,stat,admin_mobile,src in upcm %}
                <tr>
                  <td>
                    <div class="pull-left event-img">
                      <a href="/live/dashboard/event-details/{{id}}">
                        <img src="{{ src }}">
                      </a>
                    </div>
                    <div class="pull-left ml-10 pt-10">
                      <a href="/live/dashboard/event-details/{{id}}">{{name}}</a>
                    </div>
                  </td>
                  <td>{{date.date}}</td>
                  {% if stat == 0 %}

                  <td><span class="green-text">Pending</span></td>

                  {% elif stat == 1 %}

                  <td><span class="green-text">Live</span></td>

                  {% elif stat == 2 %}

                  <td><span class="grey-text">Removed</span></td>

                  {% elif stat == 3 %}

                  <td><span class="grey-text">Sold Out</span></td>

                  {% elif stat == 4 %}

                  <td><span class="grey-text">Cancelled</span></td>

                  {% else  %}

                  <td>
                    <span class="red-text" data-toggle="tooltip"
                      title="Your event is in follow up because provided details do not match our policy. Please check your email from tickets@ercess.com or call us at +91 {{admin_mobile}} to make your event live.">
                      Follow up
                      &nbsp;<i class="fa fa-question-circle"></i>
                    </span>
                  </td>

                  {% endif %}

                  <td>
                    <!--<select class="change-event-status">
                                            <option>&nbsp;</option>
                                            <option value="2">Pause it</option>
                                            <option value="3">Cancel it</option>
                                            <option value="4">Sold out</option>
                                        </select> -->
                    
                    <div class="dropdown1">
                      <div>
                        <button class="dropbtn">
                          <span>Manage</span>
                          <span class="dropIcon">
                            <i class="fa fa-sort-desc" aria-hidden="true"></i>
                          </span>
                        </button>
                      </div>
                      <div class="dropdown-content">
                        <a href="{% url 'dashboard:detail' event_id=id  %}">Edit this event</a>
                        <a href="{% url 'dashboard:duplicate-event-basics' event_id=id  %}">Clone this event</a>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="dropdown1">
                      <div>
                        <button class="dropbtn">
                          <span>Promote</span>
                          <span class="dropIcon">
                            <i class="fa fa-sort-desc" aria-hidden="true"></i>
                          </span>
                        </button>
                      </div>
                      <div class="dropdown-content" style="width: 180px; right: 0px;">
                        <a href="{% url 'dashboard:select-email-marketing-template' event_id=id  %}">E-Mail Marketing</a>
                        <a href="{% url 'dashboard:sms-marketing-initial-details' event_id=id  %}">SMS Marketing</a>
                        <a href="{% url 'dashboard:show-rsvp-premium-packages' id 'unlock_rsvp' 'unlock_event_rsvp' %}">Buy RSVP Package</a>
                        <a href="{% url 'dashboard:show-rsvp-premium-packages' id 'paid_marketing' 'unlock_event_rsvp' %}">Buy Premium Package</a>
                      </div>
                    </div>
                  </td>
                </tr>
                {% endfor %}
                {% endif %}
              </table>
            </div>
          </div>

          <div id="past" class="tab-pane">
            <div class="table-responsive">
              <table class="table table-hover table-event-list mb-130">
                {% if prev_c == 0 %}
                <div class="alert alert-info text-center mb-80 mt-40">
                  <h4>OOPS! NOTHING TO SHOW</h4>
                </div>
                {% else %}
                <tr>
                  <th>Event</th>
                  <th>Started on</th>
                  <th>Total sales</th>
                  <th>Total interests</th>
                  <th>&nbsp;</th>
                </tr>
                {% for id,name,date,sales,interests,src in prev %}
                <tr>
                  <td>
                    <div class="pull-left event-img">
                      <a href="/live/dashboard/event-details/{{id}}">
                        <img src="{{ src  }}">
                      </a>
                    </div>
                    <div class="pull-left ml-10 pt-10">
                      <a href="/live/dashboard/event-details/{{id}}">{{name}}</a>
                    </div>
                  </td>
                  <td>{{date.date}}</td>
                  <td>{{sales}}</td>
                  <td>{{interests}}</td>
                  <td>
                    <a href="{% url 'dashboard:duplicate-event-basics' event_id=id  %}" data-toggle="tooltip" title="Clone this event" class="edit-link"><i class="fa fa-files-o" aria-hidden="true"></i></a>
                  </td>
                </tr>
                {% endfor %}
                {% endif %}
              </table>
            </div>
          </div>

          <div id="draft" class="tab-pane">
            <div class="table-responsive">
              <table class="table table-hover table-event-list mb-130">
                {% if draft_c == 0 %}
                <div class="alert alert-info text-center mb-80 mt-40">
                  <h4>OOPS! NOTHING TO SHOW</h4>
                </div>
                {% else %}
                <tr>
                  <th>Event</th>
                  <th>Starts on</th>
                  <th>Status</th>
                  <th>&nbsp;</th>
                </tr>
                {% for id,name,date,src,md5_key,promo_tkt in draft %}
                <tr>
                  <td>
                    <div class="pull-left event-img">
                      <a href="/live/dashboard/event-details/{{id}}">
                        <img src="{{ src }}">
                      </a>
                    </div>
                    <div class="pull-left ml-10 pt-10">
                      <a href="/live/dashboard/event-details/{{id}}">{{name}}</a>
                    </div>
                  </td>
                  <td>{{date.date}}</td>
                  <td><span class="grey-text">Incomplete</span></td>
                  <td class="text-right">
                    <!-- change code -->
                    {% if promo_tkt.step2_complete == 0 %}
                      <a href="{% url 'dashboard:step_two' md5=md5_key event_id=id  %}" class="mr-20 edit-link" data-toggle="tooltip" title="Edit this event"><i class="fa fa-pencil"></i></a>
                    {% elif promo_tkt.step3_complete == 0 %}
                      <a href="{% url 'dashboard:step_three' md5=md5_key event_id=id  %}" class="mr-20 edit-link" data-toggle="tooltip" title="Edit this event"><i class="fa fa-pencil"></i></a>
                    {% elif promo_tkt.step4_complete == 0 %}
                      <a href="{% url 'dashboard:step_four' md5=md5_key event_id=id  %}" class="mr-20 edit-link" data-toggle="tooltip" title="Edit this event"><i class="fa fa-pencil"></i></a>
                    {% elif promo_tkt.step5_complete == 0 %}
                      <a href="{% url 'dashboard:step_five' md5=md5_key event_id=id  %}" class="mr-20 edit-link" data-toggle="tooltip" title="Edit this event"><i class="fa fa-pencil"></i></a>
                    {% elif promo_tkt.step6_complete == 0 %}
                      <a href="{% url 'dashboard:step_six' md5=md5_key event_id=id  %}" class="mr-20 edit-link" data-toggle="tooltip" title="Edit this event"><i class="fa fa-pencil"></i></a>
                    {% endif %}
                     
                    <!-- ends here ~ change code  -->

                    <!-- <a href="{% url 'dashboard:detail' event_id=id  %}" class="mr-20 edit-link" data-toggle="tooltip" title="Edit this event"><i class="fa fa-pencil"></i></a> -->

                    <!-- <a href="" class="mr-20" data-toggle="modal" data-target="#delete-confirm"><i class="fa fa-times"></i></a> -->
                  </td>

                </tr>
                {% endfor %}
                {% endif %}
              </table>
            </div>
          </div>

        </div>

        {% endif %}
        {% endfor %}
        <div class="modal center-modal fade" id="delete-confirm" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content confirm-modal">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h3 class="mt-0 mb-30">Are you sure you want to delete this event? This action is irreversible.</h3>
              </div>
              <div class="modal-footer modal-footer-uniform">
                <button type="button" class="btn btn-bold btn-secondary float-left" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-bold btn-danger float-right">Yes! delete it</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  function duplicateEvent(eventUrl, eventId){
    window.localStorage.setItem('duplicateEventId', eventId);
    window.location.href = eventUrl;
  }
</script>
{% endblock og %}
