{% extends 'dashboard/create_event.html' %}

{% block title %} {{ eventname }} {% endblock title %}

{% block og %}
<link rel="stylesheet" type="text/css" href="/static/assets/vendor_components/datatable/datatables.min.css"/>

<section class="content">
    <div class="container clearfix">
        <div class="row heading">
            <div class="col-md-12 border-bottom-heading">
                <h2 class="text-dark">RSVP</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-dark mb-30 text-center">{{eventname}}</h2>

                {% if count  == 0 %}
                <div class="alert alert-info text-center mb-80">
                    <h4>OOPS! NOTHING TO SHOW</h4>
                </div>
                {% else %}
                <div class="table-responsive">
                    <table id="example" class="table table-hover display nowrap w-p100">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Mobile</th>
                                <th>Received on</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for name,email,mobile,rec,locked_status,tableId in items %}
                            <tr>
                                <td>
                                    {% if name != '' %}
                                        {% if locked_status == 0 %}
                                            {{name}}
                                        {% else %}
                                            {{name.0}}xxxxxx
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if email != '' %}
                                        {% if locked_status == 0 %}
                                            {{email}}
                                        {% else %}
                                            {{email.0}}xxxxxxxxx
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if mobile != '' %}
                                        {% if locked_status == 0 %}
                                            {{mobile}}
                                        {% else %}
                                            {{mobile.0}}xxxxxxxxx
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td>{{rec|date:'M d, Y'}}</td>
                                <td>
                                    {% if locked_status != 0 %}
                                        <a href="{% url 'dashboard:show-rsvp-premium-packages' eventId 'unlock_rsvp' 'unlock_event_rsvp' %}" class="btn btn-danger" data-toggle="tooltip" title="You need to buy the leads package to see the details of this customer">Unlock it</a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Mobile</th>
                                <th>Received on</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                {% endif %}
            </div>
            
        </div>
    </div>
</section>

    <script src="/static/assets/vendor_components/datatable/datatables.min.js"></script>

    <!-- SoftPro admin for Data Table -->
    <script src="/static/js/pages/data-table.js"></script>
    <script src="/static/js/pages/project-table.js"></script>
{% endblock og %}
