{% extends 'dashboard/create_event.html' %}
{% load static %}
{% block title %} My Events {% endblock %}
{% block og_head %}


{% endblock og_head %}

{% block og %}

<section class="content">
  <div class="container arrow-steps clearfix">
    <div class="row heading">
      <div class="col-md-12 border-bottom-heading">
        <h2 class="text-dark">My Events</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#rsvp-package">RSVP Packages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#paid-marketing">Paid Marketing</a>
          </li>
        </ul>

        <div class="tab-content">
          <div id="rsvp-package" class="tab-pane active">
            <!-- package content -->
            <div class="row">
              <div class="col-md-12">
                  <h1 class="text-dark mb-30">RSVP Package</h1>
                  <div class="alert alert-info text-center mb-80">
                      <h4>Buy RSVP Package</h4>
                  </div>
                  <!-- <a data-toggle="modal" data-target="#buyPackageModal"> -->
                      <div class="box box-default color-palette-box">
                          <div class="box-body" style="padding:15px;">
                              <div class="row">
                                  {% for package in rsvpPackageList %}
                                    <a href="{% url 'dashboard:buy-premium-package' event_id package.charges_id %}">
                                        {{package.service_details | safe}}
                                    </a>
                                  {% endfor %}
                              </div>
                          </div>
                      </div>
                  <!-- </a> -->
                </div>
            </div>
            <!-- ends here ~ package content -->
          </div>

          <div id="paid-marketing" class="tab-pane">
            <!-- package content -->
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-dark mb-30">Paid Marketing</h1>
                    <div class="alert alert-info text-center mb-80">
                        <h4>Buy Paid Marketing Membership</h4>
                    </div>
                    <!-- <a data-toggle="modal" data-target="#buyPackageModal"> -->
                        <div class="box box-default color-palette-box">
                            <div class="box-body" style="padding:15px;">
                                <div class="row">
                                    {% for package in paidPackageList %}
                                      <a href="{% url 'dashboard:buy-premium-package' event_id package.charges_id %}">
                                          {{package.service_details | safe}}
                                      </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    <!-- </a> -->
                </div>
            </div>
            <!-- ends here ~ package content -->
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
{% endblock og %}
