{% extends "dashboard/create_event.html" %}

{% block title %} Buy Membership to Unlock RSVP - Ercess Live {% endblock title %}

{% block og %}
<style type="text/css">
    .content-wrapper {
        margin-left: 0px !important;
    }
</style>
{% block side_nav %}
{% endblock side_nav %}
<section class="content">
    <div class="container arrow-steps clearfix">
        <div class="row">
            
                <form action="{{ data.action }}"  name="payuForm" method="post">    
                {% csrf_token %}        
                <input type="hidden" name="key" value="{{ data.key }}" />            
                <input type="hidden" name="hash" value="{{ data.hash }}"/>            
                <input type="hidden" name="txnid" value="{{ data.txnid }}" />
                <input type="hidden" name="amount" value="{{ data.amount }}" />
                <input type="hidden" name="email" value="{{ data.email }}" />
                <input type="hidden" name="firstname" value="{{ data.firstname }}" />
                <input type="hidden" name="phone" value="{{ data.phone }}" />
                <input type="hidden" name="productinfo" value="{{ data.productinfo }}"/>
                <input type="hidden" name="surl" value="{{ data.surl }}"/>
                <input type="hidden" name="furl" value="{{ data.furl }}" />
                <input type="hidden" name="service_provider" value="{{ data.service_provider }}" />
                <input type="hidden" name="udf1" value="{{ data.udf1 }}" />
                <input type="hidden" name="udf2" value="{{ data.udf2 }}" />
                <input type="hidden" name="udf3" value="{{ data.udf3 }}" />
                <div class="form-group">
                    <div class="col-md-12 col-sm-12">
                        Name : {{data.firstname}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 col-sm-12">
                        Email : {{data.email}}
                    </div>
                </div>            
                <div class="form-group">
                    <div class="col-md-12 col-sm-12">
                        Mobile : {{data.phone}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 col-sm-12">
                        Transaction ID : {{data.txnid}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 col-sm-12">
                        Amount (Without Tax) : {{extra_info.packageChargeBeforeTax}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 col-sm-12">
                        Tax Name : {{extra_info.tax_name}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 col-sm-12">
                        Tax Value : {{extra_info.tax_value}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 col-sm-12">
                        Amount (With Tax) : {{data.amount}} 
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-md-12 col-sm-12" style="padding-bottom:20px;padding-top:20px;">
                        After clicking 'Pay Now' button, you will be redirected to PayUMoney Secure Gateway.
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-md-12 col-sm-12">
                        <input type="submit" class="btn btn-success btn-sm" value="Pay Now">
                    </div>
                </div>
            </form>

        </div>
    </div>

{% endblock og %}
