{% extends "dashboard/create_event.html" %}

{% block title %} Buy Membership to Unlock RSVP - Ercess Live {% endblock title %}

{% block og %}
<style type="text/css">
    .content-wrapper {
        margin-left: 0px !important;
    }
</style>
{% block side_nav %}
{% endblock side_nav %}
<section class="content">
    <div class="container arrow-steps clearfix">
        <div class="row heading">
            <div class="col-md-12 border-bottom-heading">
                <h2 class="text-dark">Unlock RSVP</h2>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="alert alert-info text-center mb-80">
                    <h4>Buy Premium Membership to Unlock RSVP</h4>
                </div>
                <!-- <a data-toggle="modal" data-target="#buyPackageModal"> -->
                    <div class="box box-default color-palette-box">
                        <div class="box-body" style="padding:15px;">
                            <div class="row">
                                {% for package in packageList %}
                                  <a href="{% url 'dashboard:subscribe-premium-package' event_id table_id package.charges_id %}">
                                      {{package.service_details | safe}}
                                  </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                <!-- </a> -->
            </div>
        </div>
    </div>

  
   
{% endblock og %}
