{% extends 'dashboard/create_event.html' %}

{% block title %}Update contact number{% endblock title %}
{% block edit_one %}

{% if form.errors %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<section class="content">
  <div class="container arrow-steps clearfix">
    <div class="row heading">
      <div class="col-md-12 border-bottom-heading">
        <h2>Enter your contact number</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-6 text-center">
         <form method="post" id="ucform001">
           {% csrf_token %}
           {{form}}
           <div class="input-error alert alert-danger"></div>
           <br/>
           <input type="submit" class="btn btn-danger" value="Save" id="ucbtn001">

         </form>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  let mobileRegex = /[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}/im;

  // check mobile number is valid or not
  $.validator.addMethod("mobileValidation", function(mobileNumberVal, element) {
        return mobileRegex.test(mobileNumberVal)
  }, "Mobile Number is Invalid");
  // ends here ~ check mobile number is valid or not

  $("#ucbtn001").click(function(){
    form = $("#ucform001");
    form.validate({
      rules: {
        mobile: {
        required: true,
        mobileValidation: true,
      },
    },
    highlight: function(element) {
       $(element).next('div').addClass('has_error');
    },
    unhighlight: function(element) {
      $(element).next('div').removeClass('has_error');
    },
    messages: {
      mobile: {
        required: "Mobile Number must not be Empty",
      },
    },
    success: function (error, element) {
          error.remove();
          $(element).next('div').removeClass('has_error');
          $(element).next('div').hide();
      },
    errorPlacement: function(error, element) {
      error.appendTo( element.next('div'));
      element.next('div').show();
        },
    });
  });
</script>

{% endblock edit_one %}
