{% extends "dashboard/create_event.html" %}
{% load rest_framework %}

{% block title %}Create your event - Ercess Live{% endblock title %}
{% block step_one %}

    <div id="showDuplicateError"></div>


    <section class="content">
        <div class="container arrow-steps clearfix">
            <div class="row heading">
                <div class="col-md-12 border-bottom-heading">
                    <h1 class="text-dark pb-20 pt-20">Create your stall</h1>
                    <!-- <div class="md-stepper-horizontal red">
                        <div class="md-step active">
                          <div class="md-step-circle"><span>1</span></div>
                          <div class="md-step-title">Basic details</div>
                          <div class="md-step-bar-left"></div>
                          <div class="md-step-bar-right"></div>
                        </div>
                        <div class="md-step">
                          <div class="md-step-circle"><span>2</span></div>
                          <div class="md-step-title">Set targets</div>
                          <div class="md-step-bar-left"></div>
                          <div class="md-step-bar-right"></div>
                        </div>
                        <div class="md-step">
                          <div class="md-step-circle"><span>3</span></div>
                          <div class="md-step-title">Upload images</div>
                          <div class="md-step-bar-left"></div>
                          <div class="md-step-bar-right"></div>
                        </div>
                        <div class="md-step">
                          <div class="md-step-circle"><span>4</span></div>
                          <div class="md-step-title">Description</div>
                          <div class="md-step-bar-left"></div>
                          <div class="md-step-bar-right"></div>
                        </div>
                        <div class="md-step">
                          <div class="md-step-circle"><span>5</span></div>
                          <div class="md-step-title">Add tickets</div>
                          <div class="md-step-bar-left"></div>
                          <div class="md-step-bar-right"></div>
                        </div>
                        <div class="md-step">
                          <div class="md-step-circle"><span>6</span></div>
                          <div class="md-step-title">Custom questions</div>
                          <div class="md-step-bar-left"></div>
                          <div class="md-step-bar-right"></div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="row">
                {% if serializer_error %}
                    {% if serializer.errors %}
                        {% for key,value in serializer.errors.items %}
                            <div class="col-md-12">
                                <div class="alert alert-danger text-center">
                                    <strong style="color: white">{{ key|title }} : {{ value.0 }}</strong>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endif %}

                <form action="" method="POST" id="msform123" class="col-md-12 mt-20 pb-50"
                      autocomplete="off">    {% csrf_token %}
                    <fieldset>
                        {#                    {% render_form serializer template_pack='rest_framework/vertical' %}#}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <div class="input-group mb-3">
                                        <input value="{{ stall.stall_name }}"
                                               name="stall_name" id="stall_name" type="text"
                                               class="form-control street_number route sublocality_level_2"
                                               placeholder="Stall Name" autocomplete="off" data-toggle="tooltip"
                                               title="Stall name">
                                        <div class="input-error alert alert-danger"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input name="total_quantity" id="total_quantity_id"
                                               value={{ stall.total_quantity }} type="number"
                                               class="form-control neighborhood sublocality_level_1  administrative_area_level_4 administrative_area_level_2"
                                               placeholder="Total Quantity">
                                        <div class="input-error alert alert-danger"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input name="booking_start_date" value="{{ stall.booking_start_date }}"
                                               type="text" class="form-control"
                                               id="datepicker" placeholder="Start Date*" readonly>
                                        <div class="input-error alert alert-danger"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input name="booking_start_time"
                                               value="{{ stall.booking_start_time }}" id="timepicker"
                                               class="input-small form-control"
                                               placeholder="Start Time*" type="text">
                                        <div class="input-error alert alert-danger"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input value="{{ stall.booking_end_date }}" name="booking_end_date"
                                               class="form-control" id="enddatepicker"
                                               type="text" placeholder="End Date*" readonly>
                                        <div class="input-error alert alert-danger"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input name="booking_start_time"
                                               value="{{ stall.booking_end_time }}" id="timepicker"
                                               class="input-small form-control"
                                               placeholder="Start Time*" type="text">
                                        <div class="input-error alert alert-danger"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input value={{ stall.full_stall_price }} name="full_stall_price" type="number"
                                               id='full_stall_price_id'
                                               class="form-control locality administrative_area_level_3"
                                               placeholder="Full Stall Price">
                                        <div class="input-error alert alert-danger"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input value={{ stall.half_stall_price }} name="half_stall_price" type="number"
                                               id='half_stall_price_id'
                                               class="form-control locality administrative_area_level_3"
                                               placeholder="Half Stall Price">
                                        <div class="input-error alert alert-danger"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input value={{ stall.number_of_chairs }} name="number_of_chairs" type="number"
                                               id='number_of_chairs_id'
                                               class="form-control locality administrative_area_level_3"
                                               placeholder="Number of Chairs">
                                        <div class="input-error alert alert-danger"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 1em">
                            <label for="id_counter"
                                   style="margin-left: 1em; margin-top: 1em; margin-right: 1em">
                                Counter
                            </label>
                            <input data-size="small"
                                   id="id_counter"
                                   name="counter" {% if stall.counter %}checked{% endif %}
                                   type="checkbox" data-on="Yes"
                                   data-off="No"
                                   data-toggle="toggle">
                        </div>
                        
                        <div class="row mt-4">
                            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <textarea
                                                name="any_condition" type="text" id='any_condition_id'
                                                class="form-control locality administrative_area_level_3"
                                                placeholder="Any Condition">{{ stall.any_condition }}</textarea>
                                        <div class="input-error alert alert-danger"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input value="{{ stall.size_in_meters }}" name="size_in_meters" type="text"
                                               id='size_id'
                                               class="form-control locality administrative_area_level_3"
                                               placeholder="Size in meters">
                                        <div class="input-error alert alert-danger"></div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <p>By clicking this button, you agree to our <a href="{% url 'dashboard:organizer-agreement' %}"
                                                                        target="_blank">legal business agreement</a>.
                        </p>
                        <div class="text-center">
                            <a id="btn123" class="btn btn-danger mt-40">Create Event</a>
                            <!-- <button type="submit" id="btn123" class="btn btn-danger mt-40">Create Event</button> -->
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>

    </section>
    <script>


        // $('#id_venue_not_decided').change(function () {
        //    let venueVal = $('#id_venue_not_decided').val()
        //
        //    if(venueVal == 'false' || venueVal == false) {
        //      venueVal = true
        //    } else {
        //      venueVal = false
        //    }
        //
        //    $('#id_venue_not_decided').val(venueVal)
        // });
        //
        // custom required validation
        $.validator.addMethod("customRequired", function (elementVal, element) {
            let venueVal = false
            if (venueVal == 'false' || venueVal == false) {
                if (elementVal.trim() == '') {
                    return false
                } else {
                    return true
                }
            } else {
                return true
            }
        }, "This field is required");

        // ends here ~ custom required validation

        function convertInputtoDate() {
            var input = document.getElementById("datepicker").value;
            var date = input.split('/');
            var selectdate = new Date(date[2] + "-" + date[1] + "-" + date[0]);

            return selectdate;
        }

        // function for tomorrow date
        function tomorrow() {
            let today = new Date();
            let tomorrow = new Date();
            tomorrow.setDate(today.getDate() + 1);
            return tomorrow
        }

        // ends here ~ function for tomorrow date

        // function for get next day date
        function nextDayDate() {
            let today = convertInputtoDate();
            let tomorrow = new Date(convertInputtoDate());
            tomorrow.setDate(today.getDate() + 1);
            return tomorrow
        }

        // ends here ~ function for get next day date

        //startdate
        $('#datepicker').datepicker({
            format: 'dd/mm/yyyy',
            startDate: tomorrow()
        })

        $('#enddatepicker').datepicker({
            //  weekStart: 1,
            format: 'dd/mm/yyyy',
            startDate: tomorrow()
        })

        //starttime
        $('#timepicker').datetimepicker({
            format: 'LT',

        })

        //endtime
        $('#timepicker1').datetimepicker({
            format: 'LT'

        })

        //custom-method-to compare start and end date
        $.validator.addMethod("enddate", function (enddatevalue, element) {
            var startdatevalue = $('#datepicker').val();
            var arrsdate = startdatevalue.split('/');
            var arredate = enddatevalue.split('/');
            return new Date(arrsdate[2], arrsdate[1], arrsdate[0]) <= new Date(arredate[2], arredate[1], arredate[0]);
        }, "End date can not be less than Start Date.");

        //custom-method-to compare start and end time for same day event
        $.validator.addMethod("endtime", function (endtimevalue, element) {
            var startdatevalue = $('#datepicker').val();
            var enddatevalue = $('#enddatepicker').val();

            if (startdatevalue == enddatevalue) {
                var temp = '01/01/1990'
                var starttimevalue = $('#timepicker').val();
                var st = new Date(temp + " " + starttimevalue).getTime();
                var et = new Date(temp + " " + endtimevalue).getTime();
                return et > st;
            } else {
                return true;
            }

        }, "End Time can not be less than Start Time for same day event.");

        $.validator.addMethod("web", function (webvalue, element) {
            if (webvalue.length > 8) {
                return true;
            }
            else {
                return false;
            }

        }, "Website link should start with https://");

        function checkEventDuplicate() {
            let formObject = {}
            $("#msform123").serializeArray().map(function (x) {
                formObject[x.name] = x.value;
            })
            let ajaxData = formObject
            console.log(formObject)
            // console.log(ajaxData)
            /*  $.ajaxSetup({
                      headers: {
                          "X-CSRFToken": '













            {{ csrf_token }}'
            }
        });
    $.ajax({
        type: 'POST',
        url: "/live/dashboard/create-stalll/",
        data: {'completeData':JSON.stringify(ajaxData)},
        dataType: "json",
        success: function(resp){
          let response = resp;
          if(response.responseType == 'success') {
              if(response.messageType == 'success') {*/
            $("#msform123").submit();
            /*        } else if(response.messageType == 'error') {
                        $('#showDuplicateError').html(`<div class="alert alert-danger"><strong style="color: white"> ${response.message}</strong></div>`);
                        $('#showDuplicateError').show();
                        setTimeout(function() {
                            $("#showDuplicateError").hide('blind', {}, 500)
                        }, 10000);
                    }
                }
            }
          });*/

        }

        $("#btn123").click(function (e) {
            console.log(e)
            e.preventDefault()
            form = $("#msform123");

            form.validate(
                {

                    // errorElement: 'div',
                    // errorClass: 'input-error alert alert-danger has_error',

                    rules:
                        {
                            stall_name:
                                {
                                    required: true,
                                    minlength: 5,
                                    maxlength: 200,
                                    evtNameSpclValid: true,
                                    eventNameValidation: true,
                                    eventNameContValidation: true
                                },
                            total_quantity:
                                {
                                    // web:true,
                                    required: true,

                                },
                            booking_start_date:
                                {
                                    required: true,
                                },
                            booking_end_date:
                                {
                                    required: true,
                                    {#enddate: true,#}
                                },
                            full_stall_price:
                                {
                                    required: true,
                                },
                            half_stall_price:
                                {
                                    required: true,
                                    {#endtime: true,#}
                                },
                            number_of_chairs:
                                {
                                    required: true,
                                },
                            counter:
                                {
                                    required: true,
                                },
                            any_condition:
                                {
                                    required: true,
                                },
                            size_in_meters:
                                {
                                    required: true,
                                }
                        },
                    highlight: function (element) {
                        // add a class "has_error" to the element
                        $(element).next('div').addClass('has_error');
                    },
                    unhighlight: function (element) {
                        // remove the class "has_error" from the element
                        $(element).next('div').removeClass('has_error');
                    },
                    messages:
                        {
                            stall_name:
                                {
                                    required: "Please enter name of your stall name",
                                    minlength: "Stall name should have at least 5 characters"
                                },
                            total_quantity:
                                {
                                    required: "This field is required",
                                },
                            booking_start_date:
                                {
                                    required: "Please select the Start Date",
                                },
                            booking_end_date:
                                {
                                    required: "Please select the End Date",
                                    enddate: "End Date cannot be less than Start Date"
                                },
                            /* start_time:
                             {
                               required: "Please select the Start Time of event",
                             },
                             end_time:
                             {
                               required: "Please select the End Time of event",
                               endtime: "End Time can not be less than Start Time for same day event"
                             },*/
                            full_stall_price:
                                {
                                    required: "Please enter proper full stall price",
                                }, half_stall_price:
                                {
                                    required: "Please enter proper half stall price",
                                }, number_of_chairs:
                                {
                                    required: "Please enter the number of chairs",
                                },
                            counter:
                                {
                                    required: "Please select yes or no",
                                },
                            any_condition:
                                {
                                    required: "Please enter conditions",
                                }, size_in_meters:
                                {
                                    required: "Please enter size in meters",
                                }


                        },
                    success: function (error, element) {
                        error.remove();
                        $(element).next('div').removeClass('has_error');
                        $(element).next('div').hide();
                    },
                    errorPlacement: function (error, element) {

                        error.appendTo(element.next('div'));
                        element.next('div').show();


                    }

                });

            if (form.valid()) {
                checkEventDuplicate()
            }

        });

        //   $("#msform123").on('submit', function(e) {
        //     $("#msform123").validate();
        //     var isvalid = $("#msform123").valid();
        //     if (isvalid) {
        //         e.preventDefault();
        //         alert(isvalid);
        //     }
        // });


        // event name validation
        $.validator.addMethod("eventNameValidation", function (eventNameVal, element) {
            return /^([a-zA-Z0-9]+\s)*[a-zA-Z0-9]+$/.test(eventNameVal)
        }, "Remove unwanted blank spaces from the event name");
        // ends here ~ event name validation

        // event name sepcial character validation
        $.validator.addMethod("evtNameSpclValid", function (eventNameVal, element) {
            if (/([!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?])/.test(eventNameVal)) {
                return false;
            } else {
                return true;
            }
        }, "Special characters are not allowed in Event Name");
        // ends here ~ event name sepcial character validation

        // check contact details content
        var re_email = /(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))/;

        var re_phn = /[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}/im;

        var re_url = /((https?|ftp|smtp):\/\/)?(www.)?[a-z0-9]+(\.[a-z]{2,}){1,3}(#?\/?[a-zA-Z0-9#]+)*\/?(\?[a-zA-Z0-9-_]+=[a-zA-Z0-9-%]+&?)?/;

        // contact details validation
        $.validator.addMethod("eventNameContValidation", function (eventNameVal, element) {
            console.log(re_email.test(eventNameVal) || re_phn.test(eventNameVal))
            let modifiedEventName = eventNameVal.trim().replace(/[^A-Z0-9,]/ig, "")
            if (re_email.test(eventNameVal) || re_phn.test(modifiedEventName) || re_url.test(eventNameVal)) {
                return false;
            } else {
                return true
            }
        }, "Event Name should not contain any contact details");
        // ends here ~ contact details validation

        // ends here ~ check contact details content

    </script>


{% endblock step_one %}
