{% extends 'dashboard/create_event.html' %}
{% load static %}
{% block title %} Email Marketing {% endblock %}
{% block og_head %}
 <style type="text/css">
  .customCheckbox input {
    position: relative;
    z-index: -9999;
  }
  .customCheckbox span {
    width: 20px;
    height: 20px;
    display: block;
    border: solid 2px;
    float: left;
    margin-right: 10px;
  }
  .customCheckbox input:checked + span {
    background: url('http://www.pngmart.com/files/3/Green-Tick-PNG-Picture.png');
    background-size: 15px 15px;
  }
  label.customCheckbox {
    display: unset; 
    margin-bottom: block;
  }
</style>
{% endblock og_head %}

{% block og %}

<section class="content">
   <div class="container arrow-steps clearfix">
      <div class="row heading">
         <div class="col-md-12 border-bottom-heading">
            <h2 class="text-dark">Create E-Mail Marketing Campaign</h2>
         </div>
      </div>
      <div class="row">
        <div class="col-md-12">
             <form id="email-marketing-initial-form-id" class="col-md-12 mt-20 pb-50" autocomplete="off">
                <fieldset>
                   
                   <div class="row">
                      <div class="col-md-12">
                         <div class="form-group">
                            <label>Event Name</label>
                            <div class="input-group mb-3">
                               <input  class="form-control" disabled="true" value="{{event_name}}" />
                            </div>
                         </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                         <div class="form-group">
                            <label>Email Subject*</label>
                            <div class="input-group mb-3">
                               <input type="text" class="form-control" value="{{template_subject}}" name="template_subject" maxlength="50" />
                               <div class="input-error alert alert-danger"></div>
                            </div>
                         </div>
                      </div>
                    </div> 

                   <div class="row">
                      <div class="col-md-12">
                         <div class="form-group">
                            <label>E-Mail Content*</label>
                            <div class="input-group mb-3">
                               <!-- editor for email content -->
                               
                               <textarea class="ckeditor" cols="80" id="template_msg" name="template_msg" rows="10">{{template_email_data}}</textarea>

                               <!-- ends here ~ editor for email content -->
                               <div class="col-md-12" style="text-align: right;"><b>Total Count: </b>
                                 <span id="emailContentLengthCount"> 
                                      (0/2000) 
                                  </span>
                                </div>
                               <div class="input-error alert alert-danger" id="templateMsgErrDivId"></div>
                            </div>
                         </div>
                      </div>
                   </div>

                   <!-- div for image  -->
                   <div class="row">
                      <div class="col-md-12">
                         <div class="form-group">
                            <label>Email Content Image*</label>
                            <div class="input-group mb-3">
                              <input id="emailContentImgId" class="form-control" type="file" name="emailContentImg" />
                              <div class="input-error alert alert-danger"></div>
                            </div>
                         </div>
                      </div>
                      <div class="col-md-12">
                          <img id="emailContentImgPreview" src="" style="max-height: 300px;" />
                          <input type="hidden" name="template_previous_img" value="{{template_image}}" style="display: none;">
                      </div>
                    </div>
                   <!-- ends here ~ div for image  -->
                  
                   <div class="row">
                      <div class="col-md-12">
                         <div class="form-group">
                            <label>Ticket website link* <a href="{{short_ticket_url}}" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a></label>
                            <div class="input-group mb-3">
                               <input name="template_link" value="{{short_ticket_url}}" style="display: none;">
                               <input type="text" class="form-control" disabled="true" value="{{short_ticket_url}}">
                            </div>
                         </div>
                      </div>
                    </div>

                    
                    <div class="row">
                      <div class="col-md-12">
                         <div class="form-group">
                            
                            <!-- new checkbox with css -->
                            <label class="customCheckbox">
                              <input type="checkbox" name="is_standard" class="form-control"/>
                              <span></span>
                            </label>
                            <label>Make this a default template for my other events also</label>
                            <!-- ends here ~ new checkbox with css -->

                            <!-- old checkbox -->
                            <!-- <input type="checkbox" name="is_standard"> -->
                            <!-- <label>Make this a default template for my other events also</label> -->
                            <!-- ends here ~ new checkbox -->

                            
                         </div>
                      </div>
                    </div>
                  
                   
                   <div class="text-center">
                      <a class="btn btn-danger" onclick="previewOrSaveData('previewData')">Preview</a>
                      <a class="btn btn-danger" onclick="previewOrSaveData('saveData')">Submit</a>
                   </div>
                </fieldset>
             </form>
        </div>
      </div>
   </div>

   <!-- confirmation bootstrap modal -->
      <div class="modal fade" id="overridePrvTpltConfirmModal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content" style="border:solid; border-radius:10px; font-size:22px; text-align:center;">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <p>You already have a template saved. Do you want to override the previous template and use this? This action is irreversible.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" data-dismiss="modal" onclick="overridePrvsValFn()">Yes, Replace</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Don't Replace</button>
            </div>
          </div>
          
        </div>
      </div>
   <!-- ends here ~ confirmation bootstrap modal -->

   <!-- bootstrap modal for show email marketing campaign preview-->
   <div class="modal fade" id="showCampaignPreview" role="dialog">
     <div class="modal-dialog" style="max-width: 90%;width: 55%;">
        <!-- Modal content-->
        <div class="modal-content">
           <div class="modal-body">
              <div class="row" id="showCampaignPreviewDivId">
              </div>
           </div>
           <div class="modal-footer" style="background: #8080804a;text-align: right;">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
           </div>
        </div>
     </div>
  </div>
   <!-- ends here ~ bootstrap modal for show email marketing campaign preview-->

</section>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<script type="text/javascript">
    // ############ ckeditor with complete option (just comment for future reference )
    // CKEDITOR.config.toolbar = [
    //    ['Styles','Format','Font','FontSize'],
    //    '/',
    //    ['Bold','Italic','Underline','StrikeThrough','-','Undo','Redo','-','Cut','Copy','Paste','Find','Replace','-','Outdent','Indent','-','Print'],
    //    '/',
    //    ['NumberedList','BulletedList','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
    //    ['Image','Table','-','Link','Flash','Smiley','TextColor','BGColor','Source']
    // ] ; 
     // ############ ends here ~ ckeditor with complete option (just comment for future reference )

    // ckeditor for email message     
    CKEDITOR.config.toolbar = [
       ['Styles','Format','Font','FontSize','Bold','Italic','Underline','StrikeThrough','-','Undo','Redo','-','Cut','Copy','Paste','Find','Replace','-','Outdent','Indent','-','Print','NumberedList','BulletedList','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock','Smiley','TextColor','BGColor']
    ]
    CKEDITOR.replace('template_msg');
    let emailMsgEditorInstance = CKEDITOR.instances['template_msg'];
    // ends here ~ ckeditor for email message

    // predefined required global variables 
    let saveFunctionFire = false;
    let globalFormObject = {};
    let urlRegex = /((([A-Za-z]{3,9}:(?:\/\/)?)(?:[-;:&=\+\$,\w]+@)?[A-Za-z0-9.-]+|(?:www.|[-;:&=\+\$,\w]+@)[A-Za-z0-9.-]+)((?:\/[\+~%\/.\w-_]*)?\??(?:[-\+=&;%@.\w_]*)#?(?:[\w]*))?)/;
    // ends here ~ predefined required global variables

    // custom validator for validate url in field
    $.validator.addMethod("validateUrl", function(fieldContent, element) {
      return (!(urlRegex.test(fieldContent)))
    });
    // ends here ~ custom validator for validate url in field

    // custom validator for validate email content image
    $.validator.addMethod("validateEmailContentImg", function(fieldContent, element) {
      if(fieldContent == '') {
        return true;
      } else {
        let imageFileName = fieldContent.toLowerCase();
        let imgRegex = new RegExp("(.*?)\.(png|jpg|jpeg)$");
        return (imgRegex.test(imageFileName));  
      }
    });
    // ends here ~ custom validator for validate email content image

    // set image preview on load
    if ('{{template_image}}' != '') {
      $('#emailContentImgPreview').attr('src','/media/email-marketing-campaign/'+'{{template_image}}')
    }
    // ends here ~ set image preview on load

    // ajax call to save data
    function previewNsaveEmailMrktForm(formObjectPar) {
        let functionType = formObjectPar['functionType']
        let emailMarketingPayload = formObjectPar;
        let fileData = $('#emailContentImgId').prop('files')[0];   

        let formData = new FormData();
        formData.append('file', fileData);
        formData.append('payload',JSON.stringify(emailMarketingPayload));

        // ajax call for upload csv
        jQuery.ajax({
          type: "POST",
          contentType: false,
          processData: false,
          cache: false,
          data: formData,
          success: function(resp) {
              let response = JSON.parse(resp);
              if(response.responseType == 'success') {
                 if(response.messageType == 'success') {
                      // window.location.href = response.url
                      if (functionType == 'previewData') {
                          let campaignHtmlPreviewData = response.data;
                          $('#showCampaignPreviewDivId').html(`${campaignHtmlPreviewData}`);
                          $('#campaignTmptShowPreviewImg').attr('src',$('#emailContentImgPreview').attr('src'))
                          $('#showCampaignPreview').modal('show');
                      } else {
                          window.location.href = response.url
                      }
                  }       
              }
          }
        });
        // ends here ~ ajax call for upload csv

    }
    // ends here ~ ajax call to save data

    // function for  override previous value function
    function overridePrvsValFn() {
        previewNsaveEmailMrktForm(globalFormObject);
    }
    // ends here ~ function for  override previous value function

    // function for check validation and show preview or save data
    let form = $("#email-marketing-initial-form-id");
    function previewOrSaveData(functionType) {
        // check validation
        form.validate({
            rules: {
                template_subject: {
                    required: true,
                    minlength: 5,
                    maxlength: 50,
                    validateUrl: true
                },
                emailContentImg: {
                  validateEmailContentImg: true
                }
            },
            highlight: function(element) {
                // add a class "has_error" to the element
                $(element).next('div').addClass('has_error');
            },
            unhighlight: function(element) {
                // remove the class "has_error" from the element
                $(element).next('div').removeClass('has_error');
            },
            messages: {
                template_subject: {
                    required: "Subject Field must not be Blank",
                    minlength: "Please write at least 5 letters",
                    maxlength: "Your message should not exceed 50 characters",
                    validateUrl: "Please remove link from Subject field"
                },
                emailContentImg: {
                  validateEmailContentImg: "Image is not Valid"
                }
            },
            errorPlacement: function(error, element) {
                error.appendTo(element.next('div'));
                element.next('div').show();
            },
            success: function(error, element) {
                error.remove();
                $(element).next('div').removeClass('has_error');
                $(element).next('div').hide();
            }
        });
        // ends here ~ check validation
        saveFunctionFire = true;
        
        // check form is valid or not
        let isFormValid = form.valid();
        if (handleTemplateMsgError() == false) {
          return false;
        }
        // ends here ~ check form is valid or not

        // code works if form is valid
        if(isFormValid) {
            let formObject = {};
            $("#email-marketing-initial-form-id").serializeArray().map(function(x){formObject[x.name] = x.value;});
            formObject['is_standard'] = $("[name='is_standard']").is(":checked") ? 1 : 0;

            // get template_msg field data
            let localInstanceData = emailMsgEditorInstance.getData();
            // ends here ~ get template_msg field data 

            // set field data into formObject
            formObject['template_msg'] = localInstanceData;
            formObject['template_type'] = 'email';
            formObject['functionType'] = functionType;
            // ends here ~ set field data into formObject

            if('{{is_standard_exists}}' == 'true' && formObject['is_standard'] ==1) {
                // show dialog box
                globalFormObject = formObject;
                $('#overridePrvTpltConfirmModal').modal('show');
                // ends here ~ show dialog box
            } else {
                previewNsaveEmailMrktForm(formObject);
            }
        }
        // ends here ~ code works if form is valid

    }
    // ends here ~ function for check validation and show preview or save data

    // email content image preview 
    function readEmailContentImgURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        
        reader.onload = function(e) {
          $('#emailContentImgPreview').attr('src', e.target.result);
        }
        
        reader.readAsDataURL(input.files[0]);
      }
    }

    $("#emailContentImgId").change(function() {
      readEmailContentImgURL(this);
    });
    // ends here ~ email content image preview 

    // show error
    let templateErrorMsgDiv = $("#templateMsgErrDivId");
    function handleTemplateMsgError() {
        if(saveFunctionFire == true) {
            let localInstanceData = emailMsgEditorInstance.getData();
            let localInstanceTxt = $(localInstanceData).text();
            if(localInstanceTxt.length == '') {
                templateErrorMsgDiv.text('Email Content field must not be Blank');
                templateErrorMsgDiv.show();
                return false;
            } else if(localInstanceTxt.length < 50) {
                templateErrorMsgDiv.text('Email Content must be contain 50 characters');
                templateErrorMsgDiv.show();
                return false;
            } else if(localInstanceTxt.length > 2000) {
                templateErrorMsgDiv.text('Email Content must not be exceed 2000 characters');
                templateErrorMsgDiv.show();
                return false;
            } else {
                templateErrorMsgDiv.hide();
                return true;
            }
        }
    }
    // ends here ~ show error

    // count lenth of emailMsgEditorInstance 
    emailMsgEditorInstance.on('key',function(){
        let localInstanceData = emailMsgEditorInstance.getData();
        let localInstanceTxt = $(localInstanceData).text();
        $("#emailContentLengthCount").text(`(${localInstanceTxt.length}/2000)`)

        // this code works if preview and save function (previewOrSaveData) is fire once
        handleTemplateMsgError()
        // ends here ~ this code works if preview and save function (previewOrSaveData) is fire once
    })
    // ends here ~ count lenth of emailMsgEditorInstance
        
</script>
{% endblock og %}
