{% extends 'dashboard/create_event.html' %}
{% load static %}
{% block title %} Email Marketing {% endblock %}
{% block og_head %}
 <style type="text/css">
  .customCheckbox input {
    position: relative;
    z-index: -9999;
  }
  .customCheckbox span {
    width: 20px;
    height: 20px;
    display: block;
    border: solid 2px;
    float: left;
    margin-right: 10px;
  }
  .customCheckbox input:checked + span {
    background: url('http://www.pngmart.com/files/3/Green-Tick-PNG-Picture.png');
    background-size: 15px 15px;
  }
  label.customCheckbox {
    display: unset; 
    margin-bottom: block;
  }
</style>
{% endblock og_head %}

{% block og %}

<section class="content">
   <div class="container arrow-steps clearfix">
      <div class="row heading">
         <div class="col-md-12 border-bottom-heading">
            <h2 class="text-dark">Select Template for Email Marketing</h2>
         </div>
      </div>
      <div class="row">
            <!-- show email templates -->
            
             <form id="sms-marketing-initial-form-id" class="col-md-12 mt-20 pb-50" autocomplete="off">
                <fieldset>
                   <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input class="form-control" disabled="" value="Select Template (Click on Required Radio Button)">
                                <div class="row">
                                    {% for templateContent in emailMarketingTmptList %}
                                        <!-- <div class="col-md-12" style="transform: scale(0.5);"> -->
                                        <div class="col-md-6">
                                            <p style="margin-left: 50px;margin-top: 20px;">
                                                <span><input type="radio" name="templateSelect" value="{{templateContent.filename_without_ext}}" style="position: unset;left: unset;opacity: unset;"/><b> Template Name:</b> {{templateContent.filename_without_ext}}</span>

                                            </p>
                                            <div style="margin-top: -15%; transform:scale(0.8)">
                                                {{templateContent.preview_html_template|safe}}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                   </div>
                   <div class="text-center">
                      <a class="btn btn-danger" id="submitBtnEmailMarketing">Submit</a>
                   </div>
                </fieldset>
             </form>
            <!-- ends here ~ show email templates -->
      </div>
   </div>

   
</section>
<script type="text/javascript">
    $("#submitBtnEmailMarketing").click(function(){
        let templateSelectVal = $("[name='templateSelect']:checked").val();
        if (templateSelectVal != '' && templateSelectVal != undefined && templateSelectVal != null) {
            window.location.href = '/live/dashboard/email-marketing-initial-details/36926/'+templateSelectVal
        }
    })
</script>
{% endblock og %}
