<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>
		<style>
			@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900');
		</style>
	</head>
	<body style="background: #f5f8fa;font-family: 'Roboto', sans-serif;">
		<div style="width: 90%;max-width:600px;margin: 20px auto;background: #ffffff;">
			<header style="margin: 0;background: rgba(0, 0, 0, 0.02);padding: 15px 0;">
				<table style="width: 100%;">
					<tr>
						<td style="width: 50%;padding-left: 15px;">
							<a href="https://ercess.com">
								<img src="https://ercess.com/static/images/logo.png" style="height: 70px;">
							</a>
						</td>
						<td style="text-align: right;width: 50%;padding-right: 15px;">
							<p><a href="https://ercess.com" style="color:#da2021;">ercess.com</a></p>
							<p>+91 9886188705</p>
						</td>
					</tr>
				</table>
			</header>
			<h3 style="margin: 0 0 27px 0;text-align: center;background:#da2021;color: #fff;padding:10px 15px;line-height: 30px;font-weight: normal;">Your {{ event_name }} has received a new inquiry</h3>
			<section style="margin: 0 15px;color:#425b76;">
				<p style="font-size:15.5px;margin:15px 20px 30px 20px;"> NAME<br>
					{% if is_details_locked == 1 %}
						{% if name != 'N/A' %}
							<img src="https://ercess.com/static/images/locker.png">
						{% endif %}
					{% endif %}
					<strong>{{ name }} </strong>
				</p>

				<p style="font-size:15.5px;margin:15px 20px 30px 20px;">CONTACT NUMBER<br>
					{% if is_details_locked == 1 %}
						{% if number != 'N/A' %}
							<img src="https://ercess.com/static/images/locker.png">
						{% endif %}
					{% endif %}
					<strong>{{ number }}</strong>
				</p>
                <p style="font-size:15.5px;margin:15px 20px 30px 20px;">EMAIL<br>
                	{% if is_details_locked == 1 %}
                		{% if email != 'N/A' %}
							<img src="https://ercess.com/static/images/locker.png">
						{% endif %}
					{% endif %}
                	<strong>{{ email }}</strong>
                </p>
                <p style="font-size:15.5px;margin:15px 20px 30px 20px;">MESSAGE<br>
                	{% if is_details_locked == 1 %}
                		{% if message != 'N/A' %}
							<img src="https://ercess.com/static/images/locker.png">
						{% endif %}
					{% endif %}
                	<strong>{{ message }}</strong>
                </p>
                {% if is_details_locked == 1 %}
                	<div style="text-align: center;margin-top:50px;">
						<p style="text-align: center;"><a style="display: inline-block;padding: 10px 35px;background: #da2021;color:#fff;text-decoration: none;border-radius: 4px;margin-top: 30px;" href="{{unlock_rsvp_url}}">Unlock these details</a></p>
	                </div>
                {% endif %}
                

				<p style="font-size:14px;text-align:center;margin-top:70px;margin-bottom:25px;">For any query, mail us at <a href="mailto:support@ercess.com" style="color:#da2021;">support@ercess.com</a>
				</p>
			</section>
			<section style="margin:0;padding:29px 15px 20px 15px;text-align:center;background:#da2021;"><a href="https://www.facebook.com/ErcessLive/"><img
					 src="https://ercess.com/static/images/fb-new-icon-mail.png" style="margin:0 8px;" /></a><a href="https://www.linkedin.com/company/ercess-inc-/"><img
					 src="https://ercess.com/static/images/linkedin-new-icon-mail.png" style="margin:0 8px;" /></a><a href="https://twitter.com/ErcessLive"><img
					 src="https://ercess.com/static/images/twitter-new-icon-mail.png" style="margin:0 8px;" /></a>
				<p style="font-size:12.5px;color:#ccc;">From the Love of Ercess Live</p>
			</section>
		</div>
	</body>
</html>
