<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>
		<style>
			@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900');
		</style>
	</head>
	<body style="background: #f5f8fa;font-family: 'Roboto', sans-serif;">
		<div style="width: 90%;max-width:600px;margin: 20px auto;background: #ffffff;">
			<header style="margin: 0;background: rgba(0, 0, 0, 0.02);padding: 15px 0;">
				<table style="width: 100%;">
					<tr>
						<td style="width: 50%;padding-left: 15px;">
							<a href="https://ercess.com">
								<img src="https://ercess.com/static/images/logo.png" style="height: 70px;">
							</a>
						</td>
						<td style="text-align: right;width: 50%;padding-right: 15px;">
							<p><a href="https://ercess.com" style="color:#da2021;">ercess.com</a></p>
							<p>+91 9886188705</p>
						</td>
					</tr>
				</table>
			</header>
			<h3 style="margin: 0 0 27px 0;text-align: center;background:#da2021;color: #fff;padding:10px 15px;line-height: 30px;font-weight: normal;">Oops! Your {{ event_name }} did not get approved</h3>
			<section style="margin: 0 50px;color:#425b76;">
				<p>Dear {{username}},</p>
				<p>Your event {{event_name}} does not meet our event promotion policies and has been disapproved by our team for reasons mentioned below:</p>
				<ul>
					{% for data in failedReason %}
						<li style="margin:10px 0;">{{data.msg_to_org | safe}}</li>
					{% endfor %}
				</ul>
				<h4 style="margin-top:40px;"><a style="color: #da2021;" href="https://ercess.com/live/dashboard/organizer_dashboard">Login to your dashboard</a> to fix these problems and send us back so we can review it again.</h4>
				<p style="font-size:14px;text-align:center;margin-top:70px;margin-bottom:25px;">For any query, mail us at <a href="mailto:support@ercess.com" style="color:#da2021;">support@ercess.com</a>
				</p>
			</section>
			<section style="margin:0;padding:29px 15px 20px 15px;text-align:center;background:#da2021;"><a href="https://www.facebook.com/ErcessLive/"><img
					 src="https://ercess.com/static/images/fb-new-icon-mail.png" style="margin:0 8px;" /></a><a href="https://www.linkedin.com/company/ercess-inc-/"><img
					 src="https://ercess.com/static/images/linkedin-new-icon-mail.png" style="margin:0 8px;" /></a><a href="https://twitter.com/ErcessLive"><img
					 src="https://ercess.com/static/images/twitter-new-icon-mail.png" style="margin:0 8px;" /></a>
				<p style="font-size:12.5px;color:#ccc;">From the Love of Ercess Live</p>
			</section>
		</div>
	</body>
</html>
