<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>
		<style>
			@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900');
		</style>
	</head>
	<body style="background: #f5f8fa;font-family: 'Roboto', sans-serif;">
		<div style="width: 90%;max-width:600px;margin: 20px auto;background: #ffffff;">
			<header style="margin: 0;background: rgba(0, 0, 0, 0.02);padding: 15px 0;">
				<table style="width: 100%;">
					<tr>
						<td style="width: 50%;padding-left: 15px;">
							<a href="https://ercess.com">
								<img src="https://ercess.com/static/images/logo.png" style="height: 70px;">
							</a>
						</td>
						<td style="text-align: right;width: 50%;padding-right: 15px;">
							<p><a href="https://ercess.com" style="color:#da2021;">ercess.com</a></p>
							<p>+91 9886188705</p>
						</td>
					</tr>
				</table>
			</header>
			<h3 style="margin: 0 0 27px 0;text-align: center;background:#da2021;color: #fff;padding:10px 15px;line-height: 30px;font-weight: normal;">Bank account details submitted successfully</h3>
			<section style="margin: 40px 50px 0px 50px;color:#425b76;font-size: 16px;">
				<p>
					Dear organizer,
				</p>
				<p>
					Thank you to add your bank details. We have received following details:
				</p>
				<table style="width: 70%; margin: 40px auto;">
					<tr>
						<td>Bank Name:</td>
						<td style="text-align: right;">{{bankName}}</td>
					</tr>
					<tr>
						<td>Account holder name:</td>
						<td style="text-align: right;">{{accHolderName}}</td>
					</tr>
					<tr>
						<td>Account number:</td>
						<td style="text-align: right;">{{accNumber}}</td>
					</tr>
					<tr>
						<td>IFSC Code:</td>
						<td style="text-align: right;">{{ifscCode}}</td>
					</tr>
					<tr>
						<td>GST Number:</td>
						<td style="text-align: right;">{{gstNumber}}</td>
					</tr>
				</table>
				<p style="font-size:14px;text-align:center;margin-top:70px;margin-bottom:25px;">For any query, mail us at <a href="mailto:support@ercess.com" style="color:#da2021;">support@ercess.com</a>
				</p>
			</section>
			<section style="margin:0;padding:29px 15px 20px 15px;text-align:center;background:#da2021;"><a href="https://www.facebook.com/ErcessLive/"><img
					 src="https://ercess.com/static/images/fb-new-icon-mail.png" style="margin:0 8px;" /></a><a href="https://www.linkedin.com/company/ercess-inc-/"><img
					 src="https://ercess.com/static/images/linkedin-new-icon-mail.png" style="margin:0 8px;" /></a><a href="https://twitter.com/ErcessLive"><img
					 src="https://ercess.com/static/images/twitter-new-icon-mail.png" style="margin:0 8px;" /></a>
				<p style="font-size:12.5px;color:#ccc;">From the Love of Ercess Live</p>
			</section>
		</div>
	</body>
</html>
