{% load static %}

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-75649623-1', 'auto');
    ga('send', 'pageview');
</script>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/5dc2e7cce4c2fa4b6bda5217/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
</script>
<!--End of Tawk.to Script-->
<header>
    <nav class="navbar navbar-default bootsnav navbar-fixed-top header-light bg-transparent white-link">
        <div class="container nav-header-container">
            <div class="row">
                <div class="col-md-2 col-xs-5">
                    <a href="{% url 'home' %}" title="Ercess Live" class="logo"><img src="{% static 'images/logo.png' %}" data-rjs="{% static 'images/logo.png' %}" class="logo-dark" alt="Ercess Live"><img src="{% static 'images/logo.png' %}" data-rjs="{% static 'images/logo.png' %}" alt="Ercess Live" class="logo-light default"></a>
                </div>
                <div class="col-md-7 col-xs-7 accordion-menu xs-no-padding-right">
                    <button type="button" class="navbar-toggle margin-r-15 collapsed pull-right" data-toggle="collapse" data-target="#navbar-collapse-toggle-1">
                        <span class="sr-only">toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-collapse collapse pull-right" id="navbar-collapse-toggle-1">
                        <ul id="accordion" class="nav navbar-nav navbar-left no-margin alt-font text-normal" data-in="fadeIn" data-out="fadeOut">
                            <li class="dropdown"><a href="{% url 'home' %}">Home</a></li>
                            <li class="dropdown simple-dropdown"><a href="javascript:void(0);">Offerings</a><i class="fas fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="dropdown"><a href="{% url 'multichannel-promotion' %}">Multichannel promotion</a></li>
                                    <li class="dropdown"><a href="{% url 'sell-event-stalls' %}">Sell stall spaces</a></li>
                                    <li class="dropdown"><a href="{% url 'advertisement' %}">Advertisement</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="{% url 'how-it-works' %}">How it works</a></li>
                            <li class="dropdown"><a href="{% url 'dashboard:step_one' %}">Create event</a></li>


                            {% if user.is_authenticated %}
                                <li class="dropdown simple-dropdown"><a href="javascript:void(0);">My Account</a><i class="fas fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                                    <ul class="dropdown-menu" role="menu">
                                        <li class="dropdown"><a href="/live/dashboard/organizer-dashboard">Manage events</a></li>
                                        <li class="dropdown"><a href="{% url 'dashboard:step_one' %}">Create event</a></li>
                                        <li class="dropdown"><a href="/live/dashboard/sales">Sales report</a></li>
                                        <li class="dropdown"><a href="{% url 'logout' %}" >Logout</a></li>
                                    </ul>
                                </li>
                            {% else %}
                                <li class="dropdown"><a href="{% url 'login' %}">Login</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <!-- <div class="navbar-collapse collapse pull-right" id="navbar-collapse-toggle-1">
                        <ul id="accordion" class="nav navbar-nav navbar-left no-margin alt-font text-normal" data-in="fadeIn" data-out="fadeOut">
                            <li class="dropdown simple-dropdown"><a href="javascript:void(0);">Products</a><i class="fas fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="dropdown"><a href="{% url 'multichannel-promotion' %}">Event distribution</a></li>
                                    <li class="dropdown"><a href="{% url 'sell-event-stalls' %}">SMS Marketing</a></li>
                                    <li class="dropdown"><a href="{% url 'sell-event-stalls' %}">Email Marketing</a></li>
                                    <li class="dropdown"><a href="{% url 'sell-event-stalls' %}">Strategic Promotion</a></li>
                                    <li class="dropdown"><a href="{% url 'sell-event-stalls' %}">Referral Program</a></li>
                                    <li class="dropdown"><a href="{% url 'sell-event-stalls' %}">Sell stall spaces</a></li>
                                </ul>
                            </li>
                            <li class="dropdown simple-dropdown"><a href="javascript:void(0);">Support & Services</a><i class="fas fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="dropdown"><a href="{% url 'multichannel-promotion' %}">Knowledge Base</a></li>
                                    <li class="dropdown"><a href="{% url 'sell-event-stalls' %}">FAQ</a></li>
                                    <li class="dropdown"><a href="{% url 'sell-event-stalls' %}">Contact us</a></li>
                                </ul>
                            </li>
                            <li class="dropdown megamenu-fw"><a href="javascript:void(0);">Solutions</a><i class="fas fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                                <ul class="dropdown-menu megamenu-content" role="menu">
                                    <li>
                                        <div class="row">
                                            <div class="col-menu col-md-6">
                                                <h6 class="title">By Business size</h6>
                                                <div class="content">
                                                    <ul class="menu-col">
                                                        <li class="dropdown"><a href="{% url 'multichannel-promotion' %}">Startups</a></li>
                                                        <li class="dropdown"><a href="{% url 'sell-event-stalls' %}">Enterprise</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-menu col-md-6">
                                                <h6 class="title">By Business type</h6>
                                                <div class="content">
                                                    <ul class="menu-col">
                                                        <li class="dropdown"><a href="{% url 'sell-event-stalls' %}">Nonprofit/Fund raising</a></li>
                                                        <li class="dropdown"><a href="{% url 'sell-event-stalls' %}">Music & Dance</a></li>
                                                        <li class="dropdown"><a href="{% url 'sell-event-stalls' %}">Entertainment</a></li>
                                                        <li class="dropdown"><a href="{% url 'sell-event-stalls' %}">Learnings</a></li>
                                                        <li class="dropdown"><a href="{% url 'sell-event-stalls' %}">Networking</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown simple-dropdown"><a href="javascript:void(0);">About us</a><i class="fas fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="dropdown"><a href="{% url 'multichannel-promotion' %}">What is Ercess Live?</a></li>
                                    <li class="dropdown"><a href="{% url 'sell-event-stalls' %}">Our journey</a></li>
                                    <li class="dropdown"><a href="{% url 'sell-event-stalls' %}">Vision, Mission Values</a></li>
                                    <li class="dropdown"><a href="{% url 'sell-event-stalls' %}">Careers</a></li>
                                </ul>
                            </li>


                            {% if user.is_authenticated %}
                                <li class="dropdown simple-dropdown"><a href="javascript:void(0);">My Account</a><i class="fas fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                                    <ul class="dropdown-menu" role="menu">
                                        <li class="dropdown"><a href="/live/dashboard/organizer-dashboard">Manage events</a></li>
                                        <li class="dropdown"><a href="{% url 'dashboard:step_one' %}">Create event</a></li>
                                        <li class="dropdown"><a href="/live/dashboard/sales">Sales report</a></li>
                                        <li class="dropdown"><a href="{% url 'logout' %}" >Logout</a></li>
                                    </ul>
                                </li>
                            {% else %}
                                <li class="dropdown"><a href="{% url 'login' %}">Login</a></li>
                            {% endif %}
                        </ul>
                    </div> -->
                </div>
            </div>
        </div>
    </nav>
</header>
