<!DOCTYPE html>
<html>
	<head>
		<title>Page Title</title>
		<style type="text/css">
			body{
				font-family: sans-serif;
			}
			tr th, tr td{
				padding: 12px;
				width: 16%;
				border-bottom: 1px solid #999;
			}
			tr th:first-child, tr td:first-child{
				width: 52%;
			}
			tr th{
				color: #fff;
			}
		</style>
	</head>
	<body>
		<div>
			<img src="https://ercess.com/static/images/logo.png" />
			<h2>Ercess Inc.</h2>
			<p style="margin: 25px 0;">2<sup>nd</sup> Floor, 338, 9<sup>th</sup> Main Road, Sector 7, HSR Layout,<br />Bengaluru, Karnataka - 560102</p>
			<p><a href="https://ercess.com" style="color: #da2021;">www.ercess.com</a> <span style="display: inline-block;margin-left: 25px;">+91 9980690512</span></p>
			<p><b>GSTIN:</b> 29ASBPJ3556H1ZN</p>
		</div>
		<div style="width: 250px;margin-top: 40px;display: inline-block;vertical-align: top;">
			<p style="margin:0;padding: 0;font-size: 17px;">
				<span>{{invoice_date}}</span>
			</p>
			<p style="margin:0;padding: 0;font-size: 17px;">
				<span><b>Invoice Number:</b> {{invoice_number}}</span>
			</p>
			<!-- <p style="margin:0;padding: 0;font-size: 17px;">
				<span>{{invoice_date}}</span>
				<span style="float: right;">{{invoice_number}}</span>
			</p> -->
			<p style="margin:0;padding: 0 10px 0 0;text-align:center;color:#fff;background: #da2021;font-size: 40px;">INVOICE</p>
		</div>
		<div style="display: inline-block;margin-top: 40px;text-align: right;width: 260px; float:right;">
			<p style="color:#999;margin: 0;padding: 0;">CLIENT</p>
			<h4>{{organizer_name}}</h4>
			<p><b>GSTIN:</b> {{client_gst_number}}</p>
		</div>
		<table cellpadding="0" class="main-table" cellspacing="0" style="width: 100%;margin-top: 50px;">
			<tr style="background: #999;text-align: left;">
				<th>ITEM</th>
				<th>QUANTITY</th>
				<th>AMOUNT</th>
				<th>SUB TOTAL</th>
			</tr>
			<tr>
				<td>1. <span style="margin-left: 10px;display: inline-block;">{{product_name}}</span></td>
				<td>1</td>
				<td>{{packge_price}}</td>
				<td>{{packge_price}}</td>
			</tr>
		</table>
		<table cellpadding="0" cellspacing="0" style="width: 350px;margin: 20px 0 50px 0;float: right;">
			<tr>
				<td style="width: 50%;"><b>Sub Total</b></td>
				<td style="width: 50%;text-align: right;">Rs. {{packge_price}}</td>
			</tr>
			<tr>
				<td><b>IGST</b></td>
				<td style="text-align: right;">Rs. {{packge_tax}}</td>
			</tr>
			<tr>
				<td><b>Total</b></td>
				<td style="text-align: right;">Rs. {{amount_paid}}</td>
			</tr>
			<tr>
				<td colspan="2" style="margin:0;padding: 0 10px 0 0;text-align:center;color:#fff;background: #da2021;font-size: 40px;">Rs. {{amount_paid}}</td>
			</tr>
		</table>

	</body>
</html>