<div class="row heading">
    <div class="col-md-12 border-bottom-heading">
        <h2 class="text-dark">RSVP Package</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info text-center mb-80">
            <h4>Buy RSVP Package</h4>
        </div>
        <div class="box box-default color-palette-box">
            <div class="box-body" style="padding:15px;">
                <div class="row">
                    {% for package in packageList %}
                      <a href="{% url 'dashboard:buy-premium-package' event_id package.charges_id %}">
                          {{package.service_details | safe}}
                      </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>