<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <div class="input-group mb-3">
                <input name="end_date" type="text" class="form-control enddateticket_addticket" id="enddateticket" placeholder="End date of ticket sale*">
                <div class="input-error alert alert-danger"></div>
            </div>
        </div>
    </div>
