    <div class="col-md-6">
        <div class="form-group">
            <div class="input-group mb-3">
                <input name="end_time_step5" id="endtimepicker" class="input-small form-control"
                    placeholder="End time of ticket sale*" type="text">
                <div class="input-error alert alert-danger"></div>

            </div>
        </div>
    </div>
</div>
