<div class="col-md-4 col-lg-4">
	<div class="form-group">
		<div class="input-group mb-3">
			<input name="other_charges" id="other_charges" type="number" class="form-control" placeholder="Any tax?(optional)" onkeyup="this.value = this.value.replace(/[^0-9]/, '')" />    
            <div class="input-error alert alert-danger"></div>

		</div>
	</div>
</div>