
    <div class="col-md-4 col-lg-4">
        <div class="form-group">
            <div class="input-group mb-3">
                <select id="other_charges_type" class="form-control" name="other_charges_type" style="height:auto">
                    <option value="1" selected>Flat amount</option>
                    <option value="2">Percentage</option>
                </select>
                <div class="input-error alert alert-danger"></div> 
            </div>
        </div>
    </div>
</div>

