<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <div class="input-group mb-3">
        <input name="start_date" type="text" class="form-control" id="startdateticket"
          placeholder="Start date of ticket sale*">
        <div class="input-error alert alert-danger"></div>
      </div>
    </div>
  </div>
