    <div class="col-md-4">
        <div class="form-group"  >
            <div class="input-group mb-3">
                <input name="max_qty" id="max_qty" type="number" class="form-control" placeholder="Max tickets to purchase*" onkeyup="this.value = this.value.replace(/[^0-9]/, '')" />
                <div class="input-error alert alert-danger"></div>
            </div>
        </div>
    </div>
</div>