<div class="row">
	<div class="col-md-12">
		<div class="form-group">
			<div class="input-group mb-3">
				<input name="ticket_name" id="ticket_name" type="text" class="form-control" placeholder="Ticket Name*">
			
				<div class="input-error alert alert-danger"></div>
			</div>
		</div>
	</div>
</div>