<div class="row">
    <div class="col-md-4">
        <div class="form-group" >
            <div class="input-group mb-3">
                <input name="ticket_qty" id="ticket_qty" type="number" class="form-control" placeholder="Total tickets on sale*" onkeyup="this.value = this.value.replace(/[^0-9]/, '')" />
                <div class="input-error alert alert-danger"></div>
            </div>
        </div>
    </div>

