<div class="row">
    <div class="col-md-4 col-lg-4">
        <div class="form-group">
            <div class="input-group mb-3">
                <select>
                    {% for entry in a %}
                    <option value="{{ entry }}">{{ entry.country }}</option>
                    {% endfor %}
                    <option value="">INR</option>
                </select>
                <input name="ticket_price" id="ticket_price" type="number" class="form-control" placeholder="Ticket Price*" onkeyup="this.value = this.value.replace(/[^0-9]/, '')" />
                <div class="input-error alert alert-danger"></div>
            </div>
        </div>
    </div>
