
   <div class="col-md-3 col-lg-3">
      <div class="form-group">
         <div class="input-group mb-3">
            <select class="form-control" name="ticket_label"   style="height:auto">
               <option value="">Select ticket label*</option>
               <option value="Register" selected>Register</option>
               <option value="RVSP">RVSP</option>
            </select>
            <div class="input-error alert alert-danger"></div>
         </div>
      </div>
   </div>
</div>