{% load rest_framework %}

<html>
<body>

<h1>Upload</h1>
{#{% if serializer.errors %}#}
{#    {% for key,value in serializer.errors.items %}#}
{#        <div class="alert alert-danger">#}
{#            <strong style="color: red">{{ key|title }} : {{ value.0 }}</strong>#}
{#        </div>#}
{#    {% endfor %}#}
{#{% endif %}#}

<form action="{% url 'dashboard:stall_upload' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% render_form serializer %}
    <input type="submit" value="Save">
</form>

</body>
</html>